FORMAT: 1A
HOST: https://api.healthdata.be

# HealthData API
Collection of all the different APIs provided by HealthData.

##Allowed HTTPs requests:

- `POST` - To create resource
- `PUT` - To update resource
- `GET` - Get a resource or list of resources
- `DELETE` - To delete resource

##Description Of Usual Server Responses

- 200 `OK` - the request was successful (some API calls may return 201 instead).
- 201 `Created` - the request was successful and a resource was created.
- 204 `No Content` - the request was successful but there is no representation to return (i.e. the response is empty).
- 206 `Partial Content` - The server has fulfilled the partial GET request for the resource.
- 302 `Redirected` - the request is redirected to the URL in the Location header.
- 400 `Bad Request` - the request could not be understood or was missing required parameters.
- 401 `Unauthorized` - authentication failed or user doesn't have permissions for requested operation.
- 403 `Forbidden` - access denied.
- 404 `Not Found` - resource was not found.
- 405 `Method Not Allowed` - requested method is not supported for resource.
- 429 `Too Many Requests` - exceeded GoodData API limits. Pause requests, wait up to one minute, and try again. 
- 503 `Service Unavailable` - service is temporary unavailable (e.g. scheduled Platform Maintenance). Try again later.

# Group Annotations API

# Group Configuration API
Part of the **HealthData API** that allows to interact with configuration parameters

A Configuration resource consists basically of a key-value pair with some additional attributes:

- key
- value
- description
- created_at
- valid_from
- valid_till

The *created_at* attribute is assigned by the logic at the moment of creation.

## Configuration - Key [/configurations/{key}]

+ Parameters
    + key (required, string, `"property_key"`) ... Configuration `key`.

+ Model (application/hal+json)

    JSON representation of a Configuration resource. 

    + Body

            {
                "_links": {
                    "self": {
                        "href": "https://private-d734-healthdata.apiary-mock.com/configurations/install_dir"
                    }
                },
                "key": "install_dir",
                "value": "C:\Program Files\HD4DP",
                "description": "installation location of the HD4DP program"
                "created_at": "2014-07-09T00:00:00Z",
                "valid_from": "2014-07-09T00:00:00Z",
                "valid_till": "2024-06-10T00:00:00Z",
            }

### POST
Create a new configuration key-value pair.
+ Request (application/json)
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version
    
    + Body
            
            {   
                "key": "install_dir",
                "value": "C:\Program Files\HD4DP",
                "description": "installation location of the HD4DP program"
                "valid_from": "2014-07-09T00:00:00Z",
                "valid_till": "2024-06-10T00:00:00Z",
            }

+ Response 201 (application/hal+json)

    + Body
            
            {
                "_links": {
                    "self": {
                        "href": "https://private-d734-healthdata.apiary-mock.com/configurations/install_dir"
                    }
                },
               "key": "install_dir",
                "value": "C:\Program Files\HD4DP",
                "description": "installation location of the HD4DP program"
                "created_at": "2014-07-09T00:00:00Z",
                "valid_from": "2014-07-09T00:00:00Z",
                "valid_till": "2024-06-10T00:00:00Z",
            }

### GET
This API call will GET you the Configuration value that matches the passed key.

+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
    
            {
            }
+ Response 200
    [Configuration - Key][]

### DELETE
This API call will DELETE the configuration value that matches the passed key

+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version
+ Response 204

+ Response 404

        The configuration you want to delete does not exist.

### PUT
This API call will UPDATE an existing configuration value.

+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version

    + Body
    
            "key": "new_install_dir",
            "value": "C:\Program Files (x86)\HD4DP",
            "description": "updated description"
            "created_at": "2014-07-10T00:00:00Z",
            "valid_from": "2014-07-10T00:00:00Z",
            "valid_till": "2025-06-10T00:00:00Z",
            
+ Response 204

## Configurations [/configurations/]

### GET

List all existing configuration keys with their according values.

+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
            
            {
            }

+ Response 200 (application/hal+json)

    + Body
    
            {
                "_links": {
                    "self": {
                        "href": "https://private-d734-healthdata.apiary-mock.com/configurations"
                    }
                },
                "_embedded": {
                    "configurations": [
                        {
                            "_links": {
                                "self": {
                                    "href": "https://private-d734-healthdata.apiary-mock.com/configurations/install_dir"
                                }
                            },
                            "key": "install_dir",
                            "value": "C:\Program Files\HD4DP",
                            "description": "installation location of the HD4DP program."
                            "created_at": "2014-07-09T00:00:00Z",
                            "valid_from": "2014-07-09T00:00:00Z",
                            "valid_till": "2024-06-10T00:00:00Z",
                        },
                        {
                            "_links": {
                                "self": {
                                    "href": "https://private-d734-healthdata.apiary-mock.com/configurations/ehBox_client"
                                }
                            },
                            "key": "ehBox_client",
                            "value": "hector",
                            "description": "Name of the client used for ehBox communication with the landing zone."
                            "created_at": "2014-07-09T00:00:00Z",
                            "valid_from": "2014-07-09T00:00:00Z",
                            "valid_till": "2024-06-10T00:00:00Z",
                        }
                    ]
                }
            }

# Group Datacollection Definition API
DataCollectionDefinitions-related resources of the **HealthData API**

A single DataCollectionDefinition object with all its details

The DataCollectionDefinition resource has the following attributes:

- id
- name
- description
- content
- version
- language
- created_on
- published
- valid_from
- valid_till

The states *id* and *created_on* are assigned by the Collections API at the moment of creation.

## Datacollection Definition - ID [/datacollectiondefinitions/{id}]

+ Parameters
    + id (required, string, `"1"`) ... `ID` of the DataCollectionDefinition. Has example value.

+ Model (application/hal+json)

    JSON representation of a DataCollectionDefinition resource. 

    + Body

            {
                "_links": {
                    "self": {
                        "href": "https://private-d734-healthdata.apiary-mock.com/datacollectiondefinitions/1"
                    }
                },
                "id": "1",
                "name": "Datacollection definition 1",
                "created_at": "2014-06-10T02:15:15Z",
                "published": "false"
                "valid_from": "2014-06-10T00:00:00Z",
                "valid_till": "2024-06-10T00:00:00Z",
                "description": "Datacollection definition 1 description",
                "content": "JSON content"
            }

### GET
This API call will GET you the Datacollection definition with the provided ID.

+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
    
            {
            }
+ Response 200
    [Datacollection Definition - ID][]

## Datacollection Definition - 1 [/datacollectiondefinitions/1]

### GET

+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version

+ Response 200 (application/hal+json)
    + Body

            {
                "_links": {
                    "self": {
                        "href": "http://private-96c9c-healthdata.apiary-mock.com/datacollectiondefinitions/1"
                    }
                },
                "id": "1",
                "name": "IQECAD",
                "created_at": "2014-06-10T02:15:15Z",
                "published": "false"
                "valid_from": "2014-06-10T00:00:00Z",
                "valid_till": "2024-06-10T00:00:00Z",
                "description": "IQECAD",
                "content": "{\"label\":\"IQECAD\",\"conditions\":[{\"name\":\"leeftijd\",\"expression\":\"$['algemeen']['jaar_van_datacollectie'] - $['patientgegevens']['geboortejaar'] <= 18\",\"errorMessage\":\"Patient is ouder dan 18, hetgeen een exclusiecriterium is.\"},{\"name\":\"insulinetoediening-leeftijd\",\"expression\":\"new Date($['patientgegevens']['datum_van_de_eerste_insulinetoediening']).getFullYear() >= $['patientgegevens']['geboortejaar']\",\"errorMessage\":\"Het jaar van de eerste insulinetoediening kan niet voor het geboortejaar vallen.\"},{\"name\":\"insulinetoediening-huidig-jaar\",\"expression\":\"new Date($['patientgegevens']['datum_van_de_eerste_insulinetoediening']).getFullYear() <= $['algemeen']['jaar_van_datacollectie']\",\"errorMessage\":\"Het jaar van de eerste insulinetoediening kan niet na het huidige jaar vallen.\"},{\"name\":\"consultatie-gegevensinzameling\",\"expression\":\"new Date($['datacollectie']['algemeen']['datum_van_de_meest_recente_consultatie']).getFullYear() === $['algemeen']['jaar_van_datacollectie']\",\"errorMessage\":\"Het jaar van de consultatie moet overeenstemmen met het jaar van de gegevensinzameling.\"},{\"name\":\"diastolische-systolische\",\"expression\":\"$['datacollectie']['metingen']['diastolische_bloeddruk']['diastolische_bloeddruk_mmhg'] < $['datacollectie']['metingen']['systolische_bloeddruk']['systolische_bloeddruk_mmhg']\",\"errorMessage\":\"Diastolische bloeddruk moet lager zijn dan systolische bloeddruk.\"},{\"name\":\"volledigjaar\",\"expression\":\"(new Date($['patientgegevens']['datum_van_de_eerste_insulinetoediening']).getFullYear() === $['algemeen']['jaar_van_datacollectie']) === !$['datacollectie']['algemeen']['de_patient_was_gedurende_het_ganse_kalenderjaar_in_behandeling_bij_dit_centrum']\",\"errorMessage\":\"Een opvolging van een volledig jaar is niet mogelijk als de diagnose in de loop van dit jaar gesteld werd.\"}],\"sections\":[{\"label\":\"Algemeen\",\"name\":\"algemeen\",\"sticky\":true,\"fields\":[{\"label\":\"Jaar van datacollectie\",\"name\":\"jaar_van_datacollectie\",\"type\":\"number\",\"database_id\":\"collect_year\",\"default\":\"2013\",\"required\":true,\"sent\":true,\"sticky\":true},{\"label\":\"Creatiedatum van klinische file\",\"name\":\"creatiedatum_van_klinische_file\",\"type\":\"date\",\"database_id\":\"rec_date\",\"default\":\"02/06/2014\",\"mask\":\"dd/mm/yyyy\",\"required\":true,\"sent\":true}]},{\"label\":\"Patientgegevens\",\"name\":\"patientgegevens\",\"sticky\":true,\"fields\":[{\"label\":\"Patient NISS\",\"name\":\"patient_niss\",\"type\":\"number\",\"database_id\":\"coded_NISS/patient_id\",\"mask\":\"valid format + kruispuntbank (not empty NISS)\",\"required\":true,\"sent\":true,\"sticky\":true},{\"label\":\"Naam\",\"name\":\"naam\",\"type\":\"text\",\"source\":\"National Registry\",\"required\":false,\"sent\":false,\"sticky\":true},{\"label\":\"Voornaam\",\"name\":\"voornaam\",\"type\":\"text\",\"source\":\"National Registry\",\"required\":false,\"sent\":false,\"sticky\":true},{\"label\":\"Geslacht\",\"name\":\"geslacht\",\"type\":\"choice\",\"choices\":[{\"label\":\"Vrouw\",\"name\":\"vrouw\",\"database_id\":\"0\"},{\"label\":\"Man\",\"name\":\"man\",\"database_id\":\"1\"}],\"database_id\":\"gender\",\"source\":\"National Registry\",\"required\":true,\"sent\":true},{\"label\":\"Geboortemaand\",\"name\":\"geboortemaand\",\"type\":\"number\",\"database_id\":\"birthMonth\",\"source\":\"National Registry\",\"required\":true,\"sent\":true},{\"label\":\"Geboortejaar\",\"name\":\"geboortejaar\",\"type\":\"number\",\"database_id\":\"birthYear\",\"source\":\"National Registry\",\"required\":true,\"sent\":true},{\"label\":\"Arrondissement\",\"name\":\"arrondissement\",\"type\":\"number\",\"database_id\":\"District\",\"source\":\"National Registry\",\"required\":false,\"sent\":true},{\"label\":\"Overleden?\",\"name\":\"overleden\",\"type\":\"boolean\",\"database_id\":\"deceased\",\"source\":\"National Registry\",\"required\":false,\"sent\":true},{\"label\":\"Jaar van overlijden\",\"name\":\"jaar_van_overlijden\",\"type\":\"date\",\"database_id\":\"deathYear\",\"source\":\"National Registry\",\"required\":false,\"sent\":true},{\"label\":\"Datum van de eerste insulinetoediening\",\"name\":\"datum_van_de_eerste_insulinetoediening\",\"type\":\"date\",\"database_id\":\"dinj\",\"mask\":\"yyyy\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Indien de exacte datum niet gekend is, maar wel het jaar, dan kan men invullen: 30/06/JJJJ\"},{\"label\":\"Etniciteit vader\",\"name\":\"etniciteit_vader\",\"type\":\"choice\",\"database_id\":\"ethnf\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"choices\":[{\"label\":\"Kaukasisch\",\"name\":\"kaukasisch\",\"database_id\":\"1\"},{\"label\":\"Maghrebijns\",\"name\":\"maghrebijns\",\"database_id\":\"2\"},{\"label\":\"Zwart-Afrikaans\",\"name\":\"zwartafrikaans\",\"database_id\":\"3\"},{\"label\":\"Andere\",\"name\":\"andere\",\"database_id\":\"4\",\"fields\":[{\"label\":\"Indien \\\"andere\\\", specificeren\",\"name\":\"indien_andere,_specificeren\",\"type\":\"text\",\"database_id\":\"ethnfoth\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]}]},{\"label\":\"Etniciteit moeder\",\"name\":\"etniciteit_moeder\",\"type\":\"choice\",\"database_id\":\"ethnm\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"choices\":[{\"label\":\"Kaukasisch\",\"name\":\"kaukasisch\",\"database_id\":\"1\"},{\"label\":\"Maghrebijns\",\"name\":\"maghrebijns\",\"database_id\":\"2\"},{\"label\":\"Zwart-Afrikaans\",\"name\":\"zwartafrikaans\",\"database_id\":\"3\"},{\"label\":\"Andere\",\"name\":\"andere\",\"database_id\":\"4\",\"fields\":[{\"label\":\"Indien \\\"andere\\\", specificeren\",\"name\":\"indien_andere,_specificeren\",\"type\":\"text\",\"database_id\":\"ethnmoth\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]}]}]},{\"label\":\"Datacollectie\",\"name\":\"datacollectie\",\"sections\":[{\"label\":\"Algemeen\",\"name\":\"algemeen\",\"fields\":[{\"label\":\"De patient was gedurende het ganse kalenderjaar in behandeling bij dit centrum\",\"name\":\"de_patient_was_gedurende_het_ganse_kalenderjaar_in_behandeling_bij_dit_centrum\",\"type\":\"boolean\",\"database_id\":\"follow\",\"source\":\"eMD\",\"required\":true,\"sent\":true,\"help\":\"Kies \\\"neen\\\" wanneer de patient gedurende het kalenderjaar gediagnosticeerd werd, OF zich gedurende het kalenderjaar aansloot bij het centrum, OF het centrum verliet (bv. door verhuizing, meerderjarigheid, ...).\"},{\"label\":\"Datum van de meest recente consultatie\",\"name\":\"datum_van_de_meest_recente_consultatie\",\"type\":\"date\",\"database_id\":\"dcons\",\"mask\":\"dd/mm/yyyy\",\"source\":\"eMD\",\"required\":true,\"sent\":true,\"help\":\"Het gaat hier om de datum van de consultatie waarvan alle verdere gegevens afgeleid zijn. Voor procedures die niet bij elke consultatie uitgevoerd dienen te worden is het mogelijk om later een andere datum te specificeren.\"},{\"label\":\"Kerngezin\",\"name\":\"kerngezin\",\"type\":\"boolean\",\"database_id\":\"family\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Kerngezin: originele vader en moeder zijn aanwezig. In geval van adoptie betekent dit dat de originele adoptiefouders nog aanwezig zijn. Bewust alleenstaande ouders worden niet als kerngezin beschouwd.\"},{\"label\":\"Taalproblemen\",\"name\":\"taalproblemen\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Zijn er taalproblemen die de communicatie bemoeilijken?\",\"name\":\"zijn_er_taalproblemen_die_de_communicatie_bemoeilijken\",\"database_id\":\"probcomm1\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Indien \\\"Ja\\\", dan kan u hieronder meerdere antwoorden aanduiden.\",\"fields\":[{\"label\":\"Zo ja, met het kind?\",\"name\":\"zo_ja,_met_het_kind\",\"type\":\"boolean\",\"database_id\":\"probcomm2a\",\"source\":\"eMD\",\"required\":false,\"sent\":true},{\"label\":\"Zo ja, met de ouders?\",\"name\":\"zo_ja,_met_de_ouders\",\"type\":\"boolean\",\"database_id\":\"probcomm2b\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]}]},{\"label\":\"Puberteit/prepuberteit\",\"name\":\"puberteitprepuberteit\",\"type\":\"choice\",\"choices\":[{\"label\":\"Puberteit\",\"name\":\"puberteit\",\"database_id\":\"1\"},{\"label\":\"Prepuberteit\",\"name\":\"prepuberteit\",\"database_id\":\"2\"}],\"database_id\":\"puberty\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Kies ook \\\"Puberteit\\\" bij volwassen patienten\"},{\"label\":\"Insulineschema\",\"name\":\"insulineschema\",\"type\":\"choice\",\"database_id\":\"inssch\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"choices\":[{\"label\":\"Standaard mengsels toegediend 's morgens en 's avonds met occasioneel een extra toediening van snelle/ultrasnelle insuline\",\"name\":\"standaard_mengsels_toegediend_s_morgens_en_s_avonds_met_occasioneel_een_extra_toediening_van_snelleultrasnelle_insuline\",\"database_id\":\"1\"},{\"label\":\"Individueel samengestelde mengsels toegediend 's morgens en 's avonds met occasioneel een extra toediening van snelle/ultrasnelle insuline\",\"name\":\"individueel_samengestelde_mengsels_toegediend_s_morgens_en_s_avonds_met_occasioneel_een_extra_toediening_van_snelleultrasnelle_insuline\",\"database_id\":\"2\"},{\"label\":\"Individueel samengestelde mengsels toegediend 's morgens en 's avonds met een systematische toediening van een snelle/ultrasnelle insuline (d.w.z. elke dag)\",\"name\":\"individueel_samengestelde_mengsels_toegediend_s_morgens_en_s_avonds_met_een_systematische_toediening_van_een_snelleultrasnelle_insuline_dwz_elke_dag\",\"database_id\":\"3\"},{\"label\":\"Basaal-prandiale insulinebehandeling (basaal-bolus)\",\"name\":\"basaalprandiale_insulinebehandeling_basaalbolus\",\"database_id\":\"4\"},{\"label\":\"Insulinepomp\",\"name\":\"insulinepomp\",\"database_id\":\"5\"},{\"label\":\"Andere\",\"name\":\"andere\",\"database_id\":\"6\",\"fields\":[{\"label\":\"Indien \\\"andere\\\", specificeren\",\"name\":\"indien_andere,_specificeren\",\"type\":\"text\",\"database_id\":\"insschmisc\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]}]},{\"label\":\"Andere medicatie\",\"name\":\"andere_medicatie\",\"type\":\"text\",\"database_id\":\"miscdrugs\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]},{\"label\":\"Metingen\",\"name\":\"metingen\",\"fields\":[{\"label\":\"Insulinedosis (IE/dag)\",\"name\":\"insulinedosis_iedag\",\"type\":\"number\",\"database_id\":\"insdose\",\"mask\":\"000.0\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Bij pompgebruikers en basaal-prandiale insulinebehandeling dient men de dosis op te geven van de dag die de laatste consultatie voorafgaat.\",\"validators\":[{\"minimum\":1,\"maximum\":200,\"regexp\":\"[0-9]{3}.[0-9]\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: insulinedosis in IE per dag!\",\"level\":\"warning\"}]},{\"label\":\"Lengte\",\"name\":\"lengte\",\"type\":\"fieldset\",\"fields\":[{\"label\":\"Lengte (cm)\",\"name\":\"lengte_cm\",\"type\":\"number\",\"database_id\":\"height\",\"mask\":\"000.0\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":40,\"maximum\":220,\"regexp\":\"[0-9]{3}.[0-9]\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: lengte in cm!\",\"level\":\"warning\"}]},{\"label\":\"Datum van bepaling\",\"name\":\"datum_van_bepaling\",\"type\":\"date\",\"database_id\":\"dheight\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]},{\"label\":\"Gewicht\",\"name\":\"gewicht\",\"type\":\"fieldset\",\"fields\":[{\"label\":\"Gewicht (kg)\",\"name\":\"gewicht_kg\",\"type\":\"number\",\"database_id\":\"weight\",\"mask\":\"000.0\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":2,\"maximum\":200,\"regexp\":\"[0-9]{3}.[0-9]\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: gewicht in kg!\",\"level\":\"warning\"}]},{\"label\":\"Datum van bepaling\",\"name\":\"datum_van_bepaling\",\"type\":\"date\",\"database_id\":\"dweight\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]},{\"label\":\"Systolische bloeddruk\",\"name\":\"systolische_bloeddruk\",\"type\":\"fieldset\",\"fields\":[{\"label\":\"Systolische bloeddruk (mmHg)\",\"name\":\"systolische_bloeddruk_mmhg\",\"type\":\"number\",\"database_id\":\"sbp\",\"mask\":\"000.0\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":40,\"maximum\":250,\"regexp\":\"[0-9]{3}.[0-9]\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: systolische bloeddruk in mmHg!\",\"level\":\"warning\"}]},{\"label\":\"Datum van bepaling\",\"name\":\"datum_van_bepaling\",\"type\":\"date\",\"database_id\":\"datebp\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]},{\"label\":\"Diastolische bloeddruk\",\"name\":\"diastolische_bloeddruk\",\"type\":\"fieldset\",\"fields\":[{\"label\":\"Diastolische bloeddruk (mmHg)\",\"name\":\"diastolische_bloeddruk_mmhg\",\"type\":\"number\",\"database_id\":\"dbp\",\"mask\":\"000.0\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":40,\"maximum\":250,\"regexp\":\"[0-9]{3}.[0-9]\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: diastolische bloeddruk in mmHg!\",\"level\":\"warning\"}]},{\"label\":\"HbA1c (%)\",\"name\":\"hba1c_\",\"type\":\"number\",\"database_id\":\"hba1c\",\"mask\":\"00.0\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":2,\"maximum\":20,\"regexp\":\"[0-9]{2}.[0-9]\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: HbA1c in %!\",\"level\":\"warning\"}]},{\"label\":\"Datum van bepaling\",\"name\":\"datum_van_bepaling\",\"type\":\"date\",\"database_id\":\"dhba1c\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]},{\"label\":\"Aantal bepalingen van HbA1c in het voorbije kalenderjaar\",\"name\":\"aantal_bepalingen_van_hba1c_in_het_voorbije_kalenderjaar\",\"type\":\"number\",\"database_id\":\"hba1cdetn\",\"mask\":\"integer\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":1,\"maximum\":10,\"regexp\":\"[0-9]{2}\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: aantal HbA1c-bepalingen !\",\"level\":\"warning\"}]},{\"label\":\"Gemiddeld aantal glycemiemetingen per dag\",\"name\":\"gemiddeld_aantal_glycemiemetingen_per_dag\",\"type\":\"number\",\"database_id\":\"smbg\",\"mask\":\"integer\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Op basis van het geheugen van de glycemiemeter.\",\"validators\":[{\"minimum\":1,\"maximum\":15,\"regexp\":\"[0-9]{2}\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: aantal glycemiemetingen per dag!\",\"level\":\"warning\"}]},{\"label\":\"Aantal opnames voor (ernstige) diabetische ketoacidose tijdens de 12 maanden die de laatste consultatie voorafgingen\",\"name\":\"aantal_opnames_voor_ernstige_diabetische_ketoacidose_tijdens_de_12_maanden_die_de_laatste_consultatie_voorafgingen\",\"type\":\"number\",\"database_id\":\"dka\",\"mask\":\"integer\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Tel de \\\"inaugurale\\\" DKA niet mee\",\"validators\":[{\"minimum\":0,\"maximum\":10,\"regexp\":\"[0-9]{2}\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: aantal opnames voor een (ernstige) DKA per 12 maanden!\",\"level\":\"warning\"}]},{\"label\":\"Aantal gekende episodes van hypoglycemie tijdens de 3 maanden die de laatste consultatie voorafgingen\",\"name\":\"aantal_gekende_episodes_van_hypoglycemie_tijdens_de_3_maanden_die_de_laatste_consultatie_voorafgingen\",\"type\":\"number\",\"database_id\":\"hypo\",\"mask\":\"integer\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Definitie hypoglycemie ISPAD : minstens een van volgende kenmerken : \\n- Half-tot volledig onbewuste status waarbij patient hulp van derden nodig heeft\\n- Coma zonder of met convulsies \\n- Parenterale behandeling is nodig (IM glucagon of IV glucose)\",\"validators\":[{\"minimum\":0,\"maximum\":10,\"regexp\":\"[0-9]{2}\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: aantal ernstige hypoglycemieen per 3 maanden!\",\"level\":\"warning\"}]},{\"label\":\"Aantal consultaties in het diabetescentrum tijdens het afgelopen kalenderjaar\",\"name\":\"aantal_consultaties_in_het_diabetescentrum_tijdens_het_afgelopen_kalenderjaar\",\"type\":\"number\",\"database_id\":\"consultation\",\"mask\":\"integer\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":1,\"maximum\":20,\"regexp\":\"[0-9]{2}\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: aantal consultaties!\",\"level\":\"warning\"}]}]},{\"label\":\"Screenings\",\"name\":\"screenings\",\"fields\":[{\"label\":\"Coeliakie\",\"name\":\"coeliakie\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Gebeurde screening naar coeliakie?\",\"name\":\"gebeurde_screening_naar_coeliakie\",\"database_id\":\"scrcoel\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Screening coeliakie : onderzoek naar antistoffen\",\"fields\":[{\"label\":\"Indien ja, was het resultaat positief?\",\"name\":\"indien_ja,_was_het_resultaat_positief\",\"type\":\"boolean\",\"database_id\":\"rescoel\",\"source\":\"eMD\",\"required\":false,\"sent\":true},{\"label\":\"Datum van vaststelling\",\"name\":\"datum_van_vaststelling\",\"type\":\"date\",\"database_id\":\"drescoel\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"},{\"label\":\"Wordt de patient behandeld voor coeliakie?\",\"name\":\"wordt_de_patient_behandeld_voor_coeliakie\",\"type\":\"boolean\",\"database_id\":\"trcoel\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]}]},{\"label\":\"Schildklier-immuniteit\",\"name\":\"schildklierimmuniteit\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Gebeurde screening naar schildklierauto-immuniteit?\",\"name\":\"gebeurde_screening_naar_schildklierautoimmuniteit\",\"database_id\":\"scrthy\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"fields\":[{\"label\":\"Indien ja, was het resultaat positief?\",\"name\":\"indien_ja,_was_het_resultaat_positief\",\"type\":\"boolean\",\"database_id\":\"resthy\",\"source\":\"eMD\",\"required\":false,\"sent\":true},{\"label\":\"Datum van vaststelling\",\"name\":\"datum_van_vaststelling\",\"type\":\"date\",\"database_id\":\"dresthy\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]}]},{\"label\":\"Hypo- of hyperthyreoidie\",\"name\":\"hypo_of_hyperthyreodie\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Wordt de patient behandeld voor hypo- of hyperthyreoidie?\",\"name\":\"wordt_de_patient_behandeld_voor_hypo_of_hyperthyreodie\",\"database_id\":\"trthy\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]},{\"label\":\"Epilepsie\",\"name\":\"epilepsie\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Wordt de patient behandeld voor epilepsie?\",\"name\":\"wordt_de_patient_behandeld_voor_epilepsie\",\"database_id\":\"trepi\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]},{\"label\":\"Retinopathie\",\"name\":\"retinopathie\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Gebeurde screening naar retinopathie?\",\"name\":\"gebeurde_screening_naar_retinopathie\",\"database_id\":\"scrret\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Positief indien retinopathie aanwezig is \",\"fields\":[{\"label\":\"Indien ja, was het resultaat positief?\",\"name\":\"indien_ja,_was_het_resultaat_positief\",\"type\":\"boolean\",\"database_id\":\"resret\",\"source\":\"eMD\",\"required\":false,\"sent\":true},{\"label\":\"Datum van vaststelling\",\"name\":\"datum_van_vaststelling\",\"type\":\"date\",\"database_id\":\"dresret\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]}]},{\"label\":\"Nefropathie\",\"name\":\"nefropathie\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Gebeurde screening naar nefropathie?\",\"name\":\"gebeurde_screening_naar_nefropathie\",\"database_id\":\"scrneph\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"fields\":[{\"label\":\"Indien ja, was het resultaat positief?\",\"name\":\"indien_ja,_was_het_resultaat_positief\",\"type\":\"boolean\",\"database_id\":\"resneph\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Een diagnose van (micro)albuminurie is bevestigd als er in een periode van 3 tot 6 maanden, 2 van de 3 testresultaten abnormaal zijn, en dit na uitsluiten van andere factoren (fysieke inspanning, urineweginfecties, menstruatie, voedingsgewoonten,...)\\nEen abnormaal testresultaat wordt als volgt gedefinieerd:\\n- Timed collection: albumin excretion rate (AER) â‰¥20 Î¼g/min or â‰¥30 mg/24 h\\n- Spot urine analysis: â‰¥30 mg/L or albumin/creatinine ratio (ACR) â‰¥2.5 mg/mmol (males) or â‰¥3.5 mg/mmol (females)\"},{\"label\":\"Datum van vaststelling\",\"name\":\"datum_van_vaststelling\",\"type\":\"date\",\"database_id\":\"dresneph\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]}]},{\"label\":\"Bloedlipiden\",\"name\":\"bloedlipiden\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Gebeurde bepaling van bloedlipiden?\",\"name\":\"gebeurde_bepaling_van_bloedlipiden\",\"database_id\":\"scrlip\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]},{\"label\":\"Neuropathie\",\"name\":\"neuropathie\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Gebeurde screening naar neuropathie?\",\"name\":\"gebeurde_screening_naar_neuropathie\",\"database_id\":\"scrneur\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]}]}]}]}"
            }


## Datacollection Definition - Name & Version [/datacollectiondefinitions/{name}/{version}]

### GET
This API call will GET you the Datacollection definition with the provided name and version.
+ Parameters
    + name (required, string, `"register 1"`) ... `name` of the DataCollectionDefinition. Has example value.
    + version (required, string, `"v2"`) ... `version` of the DataCollectionDefinition. Has example value.

+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
    
            {
            }

+ Response 302

    + Headers
    
            Location: "https://private-d734-healthdata.apiary-mock.com/datacollectiondefinitions/1"

## Datacollection Definitions [/datacollectiondefinitions/]

### GET

List all existing Datacollection definitions that the user is authorized to see.
The Range header is used for pagination. If the Range header is included in the request, the server is allowed to respond with a 206 Partial Content status code, 
indicating the presence of the Content-Range response header.

+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
            
            {
            }

+ Response 200 (application/hal+json)

    + Headers
    
            Accept-Ranges: "datacollectiondefinitions"
            Content-Range: "datacollectiondefinitions 0-1/10

    + Body
    
            {
                "_links": {
                    "self": {
                        "href": "https://private-d734-healthdata.apiary-mock.com/datacollectiondefinitions"
                    }
                },
                "_embedded": {
                    "datacollectiondefinitions": [
                        {
                            "_links": {
                                "self": {
                                    "href": "https://private-d734-healthdata.apiary-mock.com/datacollectiondefinitions/1"
                                }
                            },
                            "id": "1", 
                            "name": "Datacollection definition 1",
                            "language": "nl",
                            "created_at": "2014-06-10T02:15:15Z",
                            "valid_from": "2014-06-10T00:00:00Z",
                            "valid_till": "2024-06-10T00:00:00Z",
                            "published": false
                            "description": "Description of DataCollection definition 1.",
                            "content": "JSON content"
                        },
                        {
                            "_links": {
                                "self": {
                                    "href": "https://private-d734-healthdata.apiary-mock.com/datacollectiondefinitions/2"
                                }
                            },
                            "id": "2", 
                            "name": "Datacollection definition 2",
                            "language": "nl",
                            "created_at": "2014-06-10T02:15:15Z",
                            "valid_from": "2014-06-10T00:00:00Z",
                            "valid_till": "2024-06-10T00:00:00Z",
                            "published": false
                            "description": "Description of DataCollection definition 2.",
                            "content": "JSON content"
                        }
                    ]
                }
            }

+ Response 206 (application/hal+json)
    + Headers
    
            Accept-Ranges: "datacollectiondefinitions"
            Content-Range: "datacollectiondefinitions 0-1/10

    + Body
    
            {
                "_links": {
                    "self": {
                        "href": "https://private-d734-healthdata.apiary-mock.com/datacollectiondefinitions"
                    }
                },
                "_embedded": {
                    "datacollectiondefinitions": [
                        {
                            "_links": {
                                "self": {
                                    "href": "https://private-d734-healthdata.apiary-mock.com/datacollectiondefinitions/1"
                                }
                            },
                            "id": "1", 
                            "name": "Datacollection definition 1",
                            "language": "nl",
                            "created_at": "2014-06-10T02:15:15Z",
                            "valid_from": "2014-06-10T00:00:00Z",
                            "valid_till": "2024-06-10T00:00:00Z",
                            "published": false
                            "description": "Description of DataCollection definition 1.",
                            "content": "JSON content"
                        },
                        {
                            "_links": {
                                "self": {
                                    "href": "https://private-d734-healthdata.apiary-mock.com/datacollectiondefinitions/2"
                                }
                            },
                            "id": "2", 
                            "name": "Datacollection definition 2",
                            "language": "nl",
                            "created_at": "2014-06-10T02:15:15Z",
                            "valid_from": "2014-06-10T00:00:00Z",
                            "valid_till": "2024-06-10T00:00:00Z",
                            "published": false
                            "description": "Description of DataCollection definition 2.",
                            "content": "JSON content"
                        }
                    ]
                }
            }

## Datacollection Definition - QueryString parameters [/datacollectiondefinitions{?name,valid_from,valid_till,description}]

List all existing Datacollections that match the given QueryString parameters.
 
### GET

+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
            
            {
            }

+ Response 200 (application/hal+json)

    + Body
    
            {
                "_links": {
                    "self": {
                        "href": "https://private-d734-healthdata.apiary-mock.com/datacollectiondefinitions"
                    }
                },
                "_embedded": {
                    "datacollectiondefinitions": [
                        {
                            "_links": {
                                "self": {
                                    "href": "https://private-d734-healthdata.apiary-mock.com/datacollectiondefinitions/1"
                                }
                            },
                            "id": "1", 
                            "name": "Datacollection definition 1",
                            "language": "nl",
                            "created_at": "2014-06-10T02:15:15Z",
                            "description": "Description of DataCollection definition 1.",
                            "content": "JSON content"
                        },
                        {
                            "_links": {
                                "self": {
                                    "href": "https://private-d734-healthdata.apiary-mock.com/datacollectiondefinitions/2"
                                }
                            },
                            "id": "2", 
                            "name": "Datacollection definition 2",
                            "language": "nl",
                            "created_at": "2014-06-10T02:15:15Z",
                            "description": "Description of DataCollection definition 2.",
                            "content": "JSON content"
                        }
                    ]
                }
            }


# Group Data Provisioning API
Interface exposed to external parties that want to upload prefilling data.

## Data Provisioning [/dataprovisioning]

### POST

+ Request (application/json)
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version
            Data type: "csv"
    
    + Body
            
            {   
                "content": "data file"
            }

+ Response 201

            
# Group Data Reference API
DataReference-related resources of the **HealthData API**

The Codelist resource has the following attributes:

- id
- reference_type
- reference_code
- reference_value_nl-BE
- reference_value_fr-BE
- reference_value_en-US
- created_at
- valid_from
- valid_till

The states *id* and *created_at* are assigned by the Collections API at the moment of creation.

## Data References - Code & Language [/datareferences/{reference_type}/{reference_code}]

The desired language is added using the "Accept-Language" header in the request. 
Possible values are:`nl-BE`,`fr-BE` and `en-US`

+ Parameters
    + reference_type (required, string, `"postal_code"` ) ... `Type` of the Data Reference entry.
    + reference_code (required, string, `"2000"`) ... `Code` of the Data Reference entry.

+ Model (application/hal+json)

    JSON representation of a Data Reference resource. 


    + Headers
    
            Content-Language: "en-US"

    + Body

            {
                "_links": {
                    "self": { "href": "https://private-d734-healthdata.apiary-mock.com/datareferences/1" }
                },
                "id": "1",
                "reference_type": "postal_codes",
                "reference_code": "2000",
                "reference_value_en-US": "Antwerp",
                "created_at": "2014-06-24T02:15:15Z", 
                "valid_from": "1995-01-01T00:00:00Z",
                "valid_till": "2050-01-01T00:00:00Z"
            }

### GET
This API call will GET you the Data Reference with the provided reference_type and reference_code.
            
+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            Accept-Language: en-US
    + Body
    
            {
            }

+ Response 200 (application/hal+json)

    [Data References - Code & Language][]

## Data Reference - QueryString parameters [/datareferences/reference_type{?reference_code,description,created_at,valid_from,valid_till}]

List all existing Data References that match the given QueryString parameters.

Possible QueryString parameters:

- reference_code
- description
- created_at
- valid_from
- valid_till

+ Parameters
    + reference_type (required, string, `"postal_codes"` ) ... `Reference_type` of the Data Reference entry.

 
### GET

+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version
            Accept-Language: en-US
    + Body
            
            {
            }

+ Response 200 (application/hal+json)

    + Headers
            
            Content-Language: "en-US"

    + Body
    
            {
                "_links": {
                    "self": {
                        "href": "https://private-d734-healthdata.apiary-mock.com/datareferences"
                    }
                },
                "_embedded": {
                    "datareferences": [
                        {
                            "_links": {
                                "self": { "href": "https://private-d734-healthdata.apiary-mock.com/datareferences/1" }
                            },
                            "id": "1",
                            "reference_type": "postal_codes",
                            "reference_code": "2000",
                            "reference_value_en-US": "Antwerp",
                            "created_at": "2014-06-24T02:15:15Z", 
                            "valid_from": "1995-01-01T00:00:00Z",
                            "valid_till": "2050-01-01T00:00:00Z" 
                        },
                        {
                            "_links": {
                                "self": { "href": "https://private-d734-healthdata.apiary-mock.com/datareferences/2" }
                            },
                                "id": "2",
                                "reference_type": "postal_codes",
                                "reference_code": "1000",
                                "reference_value_en-US": "Brussels",
                                "created_at": "2014-06-24T02:15:15Z", 
                                "valid_from": "1995-01-01T00:00:00Z",
                                "valid_till": "2050-01-01T00:00:00Z"
                        }
                    ]
                }
            }

# Group Mapping API
API used to provide the mapping functionality between the different formats.

## Mapping [/mappings{?from,to,dataCollectionUri,content}]

### POST
Perform a one-to-one mapping from a given format into another specified format.

+ Parameters
    + from (required, string, `"kmehr"`) ... The format of the input data
    + to (required, string, `"skryv"`) ... The desired format of the output
    + dataCollectionUri (required, string, `"https://private-d734-healthdata.apiary-mock.com/datacollectiondefinitions/2"`) ... A reference to the data collection definition
    + content (required, string, `"<a><b></b></a>"`) ... A string with the input data. Double quotes musts be escaped.

+ Request (application/json)
    
    + Headers
    
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
        
            {   
                "from": "kmehr",
                "to": "skryv",
                "dataCollectionUri": "http://localhost:8080/healthdata_catalogue/datacollectiondefinitions/1",
                "content"   : " ... "
            }
+ Response 200 (application/json)
    
    + Body
        
            {   
                "result": " ... "
            }

+ Request (application/json)
    
    + Headers
    
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
        
            {   
                "from": "xyz",
                "to": "abc",
                "dataCollectionUri": "http://localhost:8080/healthdata_catalogue/datacollectiondefinitions/1",
                "content"   : " ... "
            }

+ Response 400 (application/json)

    + Body
    
            {
                "message": "Cannot convert from xyz to abc"
            }

# Group User API
API user for the management of Users in Healthdata.

The user domain object has the following attributes:

- username
- password
- enabled
- authorities
- roles
- profiles

The authority object has the following attributes:

- authorityId
- authority

## User [/users]

### POST
Add a new user to the User database.

+ Parameters
    + user (required, User) ... The user object to store

+ Request (application/json)
    
    + Headers
    
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
        
            {
                "username":"username",
                "password":"password",
                "enabled":"true",
                "authorities": [
                {
                    "authority":"ROLE_USER"
                }],
                "profiles": [
                {
                    "name":"profile_name",
                    "roles": [
                    {
                        "name":"physician"
                        "roleUri":"https://private-d734-healthdata.apiary-mock.com/roles/1"
                    }]
                }],
                "roles": [
                {
                    "name":"administrator"
                    "roleUri":"https://private-d734-healthdata.apiary-mock.com/roles/2"
                }]
            }
+ Response 200 (application/json)
    
    + Body
        
            {
                "username":"username",
                "password":"password",
                "enabled":"true",
                "authorities": [
                {
                     "authorityId":"1"
                     "authority":"ROLE_USER"
                }],
                "profiles": [
                {
                    "id":"1",
                    "name":"profile_name",
                    "roles": [
                    {
                        "id":"1",
                        "name":"physician",
                        "roleUri":"https://private-d734-healthdata.apiary-mock.com/roles/1"
                    }]
                }],
                "roles": [
                {
                    "id": "2",
                    "name":"administrator",
                    "roleUri":"https://private-d734-healthdata.apiary-mock.com/roles/2"
                }]
            }

## User - ID [/users/{username}]

+ Parameters
    + username (required, string, `"Dr. Zhivago"`) ... unique user name of the User object. Has example value.

+ Model (application/hal+json)

    JSON representation of a DataCollectionDefinition resource. 

    + Body
        
            {
                "username":"username",
                "password":"password",
                "enabled":"true",
                "authorities": [
                {
                     "authorityId":"1"
                     "authority":"ROLE_USER"
                }],
                "profiles": [
                {
                    "id":"1",
                    "name":"profile_name",
                    "roles": [
                    {
                        "id":"1",
                        "name":"physician",
                        "roleUri":"https://private-d734-healthdata.apiary-mock.com/roles/1"
                    }]
                }],
                "roles": [
                {
                    "id": "2",
                    "name":"administrator",
                    "roleUri":"https://private-d734-healthdata.apiary-mock.com/roles/2"
                }]
            }

###GET
Retrieve a user object based on username

+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
    
            {
            }
+ Response 200
    [User - ID][]

###PUT
Updates an existing user object. For example for a password change.

+ Request (application/json)
    
    + Headers
    
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
        
            {
                "username":"username",
                "password":"updated_password",
                "enabled":"true",
                "authorities": [
                {
                    "authorityId":"1"
                    "authority":"ROLE_USER"
                }],
                "profiles": [
                {
                    "id":"1",
                    "name":"profile_name",
                    "roles": [
                    {
                        "id":"1",
                        "name":"physician"
                        "roleUri":"https://private-d734-healthdata.apiary-mock.com/roles/1"
                    }]
                }],
                "roles": [
                {
                    "id":"2",
                    "name":"administrator"
                    "roleUri":"https://private-d734-healthdata.apiary-mock.com/roles/2"
                }]
            }
+ Response 200 (application/json)
    
    + Body
        
            {
                "username":"username",
                "password":"updated_password",
                "enabled":"true",
                "authorities": [
                {
                     "authorityId":"1"
                     "authority":"ROLE_USER"
                }],
                "profiles": [
                {
                    "id":"1",
                    "name":"profile_name",
                    "roles": [
                    {
                        "id":"1",
                        "name":"physician",
                        "roleUri":"https://private-d734-healthdata.apiary-mock.com/roles/1"
                    }]
                }],
                "roles": [
                {
                    "id": "2",
                    "name":"administrator",
                    "roleUri":"https://private-d734-healthdata.apiary-mock.com/roles/2"
                }]
            }


###DELETE

+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version
+ Response 204

+ Response 404

        The configuration you want to delete does not exist.

# Group Validation API
API used for the validation of data collection instances.

## Validation [/validations{?dataCollectionUri,content}]

### POST
Perform a validation of a data collection instance.

+ Parameters
    + dataCollectionUri (required, string, `"https://private-d734-healthdata.apiary-mock.com/datacollectiondefinitions/2"`) ... A reference to the data collection definition
    + content (required, string, `"<a><b></b></a>"`) ... A string with the content of the data collection instance. Double quotes must be escaped.

+ Request (application/json)
    
    + Headers
    
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
        
            {
                "dataCollectionUri": "http://localhost:8080/healthdata_catalogue/datacollectiondefinitions/1",
                "content"   : "JSON content"
            }
+ Response 200 (application/json)
    
    + Body
        
            {   
                "result": [
                    ... validation errors ...
                ]
            }

# Group Workflow API
Workflow-related resources of the **HealthData API**

The workflow resource has the following attributes:

- id
- status
- documentUri
- dataCollectionUri
- metaData
- createdOn
- updatedOn
- history

The history attribute itself has the following attributes:

- action
- newStatus
- executedOn
- executedBy

## Workflow [/workflows]

+ Model (application/hal+json)

    JSON representation of a Workflow resource. 

    + Body

            {
                "id": 1,
                "status": "NEW",
                "documentUri": "http://localhost:8080/healthdata_webapp/workflows/1/documents",
                "dataCollectionUri": "http://localhost:8080/healthdata_catalogue/datacollectiondefinitions/1",
                "metaData":  {
                        "PERSON": "Robin Merckx",
                        "YEAR": "2014"
                    },
                "createdOn": "2014-08-21 10:39:04",
                "updatedOn": "2014-08-21 10:39:04",
                "history": [
                    {
                        "action": "CREATE",
                        "newStatus": "NEW",
                        "executedOn": "2014-08-21 10:39:04",
                        "executedBy": null
                    }
                ]
            }

### Create a workflow item [POST]
Create a new Workflow 
+ Request
    
    + Headers
    
            Authorization: "Bearer <<token>>"

    + Body
        
            {
              "action": "CREATE"
            }
            
            or
            
            {
              "action": "CREATE_FOR_REVIEW", 
              "metaData": {
                      "PERSON" : "Robin Merckx",
                      "YEAR" : "2014"
                  },
              "documentContent": "some JSON"
              }

+ Response 200 (application/json)

    + Body
    
            {
                "id": 1,
                "status": "NEW",
                "documentUri": null,
                "dataCollectionUri": null,
                "metaData": null,
                "createdOn": "2014-08-21 11:36:19",
                "updatedOn": "2014-08-21 11:36:19",
                "history": [
                    {
                        "action": "CREATE",
                        "newStatus": "NEW",
                        "executedOn": "2014-08-21 11:36:19",
                        "updatedBy": null
                    }
                ]
            }
    
### Workflow - ID [/workflows/{id}]

+ Parameters
    + id (required, string, `"1"`) ... `ID` of the Workflow item. Has example value.

+ Model (application/hal+json)

    JSON representation of a DataCollectionDefinition resource. 

    + Body

            {
                "id": 1,
                "status": "NEW",
                "documentUri": "http://localhost:8080/healthdata_webapp/workflows/1/documents",
                "dataCollectionUri": "http://localhost:8080/healthdata_catalogue/datacollectiondefinitions/1",
                "metaData":  {
                        "PERSON": "Robin Merckx",
                        "YEAR": "2014"
                    },
                "createdOn": "2014-08-21 10:39:04",
                "updatedOn": "2014-08-21 10:39:04",
                "history": [
                    {
                        "action": "CREATE",
                        "newStatus": "NEW",
                        "executedOn": "2014-08-21 10:39:04",
                        "executedBy": null
                    }
                ]
            }

### Retrieve a Workflow [GET]
Get a Workflow with the provided ID

+ Request
    
    + Headers
    
            Authorization: "Bearer <<token>>"

+ Response 200 (application/hal+json)

    [Workflow - ID][]

### Delete a workflow item [DELETE]
Delete a workflow with the provided ID

+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"

+ Response 204

### Workflow - 1 [/workflows/1]

### Retrieve workflow 1 [GET]

+ Request
    
    + Headers
    
            Authorization: "Bearer <<token>>"

+ Response 200 (application/hal+json)

    + Body

            {
                "id": 1,
                "status": "IN_PROGRESS",
                "documentUri": "http://private-96c9c-healthdata.apiary-mock.com/workflows/1/documents",
                "dataCollectionUri": "http://private-96c9c-healthdata.apiary-mock.com/datacollectiondefinitions/1",
                "metaData": {
                    "PERSON": "Robin Merckx",
                    "YEAR": "2014"
                },
                "createdOn": "2014-08-21 10:39:04",
                "updatedOn": "2014-08-21 11:33:05",
                "history": [
                    {
                        "action": "CREATE",
                        "newStatus": "NEW",
                        "executedOn": "2014-08-21 10:39:04",
                        "updatedBy": null
                    },
                    {
                        "action": "START",
                        "newStatus": "IN_PROGRESS",
                        "executedOn": "2014-08-21 11:33:02",
                        "updatedBy": null
                    },
                    {
                        "action": "SAVE",
                        "newStatus": "IN_PROGRESS",
                        "executedOn": "2014-08-21 11:33:05",
                        "updatedBy": null
                    }
                ]
            }

### Workflow - 2 [/workflows/2]

### Retrieve workflow 2 [GET]

+ Request
    
    + Headers
    
            Authorization: "Bearer <<token>>"

+ Response 200 (application/hal+json)

    + Body

            {
                "id": 2,
                "status": "NEW",
                "documentUri": "http://private-96c9c-healthdata.apiary-mock.com/workflows/2/documents",
                "dataCollectionUri": "http://private-96c9c-healthdata.apiary-mock.com/datacollectiondefinitions/2",
                "metaData": {},
                "createdOn": "2014-08-21 11:36:19",
                "updatedOn": "2014-08-21 11:36:19",
                "history": [
                    {
                        "action": "CREATE",
                        "newStatus": "NEW",
                        "executedOn": "2014-08-21 11:36:19",
                        "updatedBy": null
                    }
                ]
            }

## Workflow - QueryString [/workflows{?status,dataCollectionUri,_metaData}]
 
### List all Workflows [GET]
List all existing Workflows that match the given QueryString parameters.

+ Parameters
    + status (optional, string) ... Status of the Workflow
    + dataCollectionUri (optional, string) ... DataCollectionUri of the Workflow
    + _metaData (optional, string) ... All other parameters are concidered metaData where the name is the Key of the metaData end the value is the value of the metaData

+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"

+ Response 200 (application/hal+json)

    + Body
    
            [
                {
                    "id": 1,
                    "status": "IN_PROGRESS",
                    "documentUri": "http://private-96c9c-healthdata.apiary-mock.com/workflows/1/documents",
                    "dataCollectionUri": "http://private-96c9c-healthdata.apiary-mock.com/datacollectiondefinitions/1",
                    "metaData": {
                        "PERSON": "Robin Merckx",
                        "YEAR": "2014"
                    },
                    "createdOn": "2014-08-21 10:39:04",
                    "updatedOn": "2014-08-21 11:33:05",
                    "history": [
                        {
                            "action": "CREATE",
                            "newStatus": "NEW",
                            "executedOn": "2014-08-21 10:39:04",
                            "updatedBy": null
                        },
                        {
                            "action": "START",
                            "newStatus": "IN_PROGRESS",
                            "executedOn": "2014-08-21 11:33:02",
                            "updatedBy": null
                        },
                        {
                            "action": "SAVE",
                            "newStatus": "IN_PROGRESS",
                            "executedOn": "2014-08-21 11:33:05",
                            "updatedBy": null
                        }
                    ]
                },
                {
                    "id": 2,
                    "status": "NEW",
                    "documentUri": "http://private-96c9c-healthdata.apiary-mock.com/workflows/2/documents",
                    "dataCollectionUri": "http://private-96c9c-healthdata.apiary-mock.com/datacollectiondefinitions/2",
                    "metaData": {},
                    "createdOn": "2014-08-21 11:36:19",
                    "updatedOn": "2014-08-21 11:36:19",
                    "history": [
                        {
                            "action": "CREATE",
                            "newStatus": "NEW",
                            "executedOn": "2014-08-21 11:36:19",
                            "updatedBy": null
                        }
                    ]
                }
            ]

## Workflow - ID - Documents [/workflows/{id}/documents]

### Retrieve a Document [GET]
Retrieve a Document for Workflow with the given 'ID'

+ Parameters
    + id (required, string, `"1"`) ... `ID` of the Workflow item. Has example value.
    
+ Request
    
    + Headers
    
            Authorization: "Bearer <<token>>"

+ Response 200 (application/json)

    + Body

            {
                "documentContent": "some JSON"
            }

## Workflow - 1 - Documents [/workflows/1/documents]

### Retrieve document 1 [GET]

+ Request
    
    + Headers
    
            Authorization: "Bearer <<token>>"

+ Response 200 (application/json)

    + Body

            {
                "documentContent": "{\"algemeen\":{\"creatiedatum_van_klinische_file\":\"Wed Sep 03 2014 00:00:00 GMT+0200 (CEST)\",\"jaar_van_datacollectie\":2013},\"patientgegevens\":{\"geslacht\":{\"selectedChoice\":\"Vrouw\"},\"etniciteit_vader\":{\"selectedChoice\":\"Zwart-Afrikaans\"},\"etniciteit_moeder\":{\"selectedChoice\":\"Maghrebijns\"},\"datum_van_de_eerste_insulinetoediening\":\"Wed May 15 2013 00:00:00 GMT+0200 (CEST)\",\"patient_niss\":7895,\"geboortemaand\":5,\"geboortejaar\":1997,\"arrondissement\":4,\"overleden\":false},\"datacollectie\":{\"algemeen\":{\"taalproblemen\":{\"selectedChoices\":{}},\"puberteitprepuberteit\":{\"selectedChoice\":\"Puberteit\"},\"insulineschema\":{\"selectedChoice\":\"Individueel samengestelde mengsels toegediend 's morgens en 's avonds met een systematische toediening van een snelle/ultrasnelle insuline (d.w.z. elke dag)\"},\"datum_van_de_meest_recente_consultatie\":\"Thu Dec 12 2013 00:00:00 GMT+0100 (CET)\",\"de_patient_was_gedurende_het_ganse_kalenderjaar_in_behandeling_bij_dit_centrum\":false},\"metingen\":{\"lengte\":{},\"gewicht\":{},\"systolische_bloeddruk\":{},\"diastolische_bloeddruk\":{}},\"screenings\":{\"coeliakie\":{\"selectedChoices\":{}},\"schildklierimmuniteit\":{\"selectedChoices\":{}},\"hypo_of_hyperthyreodie\":{\"selectedChoices\":{}},\"epilepsie\":{\"selectedChoices\":{}},\"retinopathie\":{\"selectedChoices\":{}},\"nefropathie\":{\"selectedChoices\":{}},\"bloedlipiden\":{\"selectedChoices\":{}},\"neuropathie\":{\"selectedChoices\":{}}}}}"
            }

## Workflow - Actions [/workflows/actions]

### List all Actions [GET]
List all actions that can be executed on a Workflow.
+ Request
    
    + Headers
    
            Authorization: "Bearer <<token>>"

+ Response 200 (application/json)

    + Body
    
            [
                {
                    "action": "CREATE"
                },
                {
                    "action": "START",
                    "dataCollectionUri": null
                },
                {
                    "action": "SAVE",
                    "documentContent": "some JSON",
                    "metaData": {
                        "PERSON": "Robin Merckx",
                        "YEAR": "2014"
                    }
                },
                {
                    "action": "SUBMIT"
                },
                {
                    "action": "START_CORRECTION"
                },
                {
                    "action": "CREATE_FOR_REVIEW",
                    "documentContent": null,
                    "metaData": null
                },
                {
                    "action": "START_REVIEW"
                },
                {
                    "action": "SAVE_REVIEW",
                    "documentContent": null
                },
                {
                    "action": "ACCEPT"
                },
                {
                    "action": "REJECT"
                }
            ]

## Workflow - ID - Actions [/workflows/{id}/actions]

### List all Actions [GET]
List all Actions that can be executed on the Workflow with this 'ID' at this time.

+ Parameters
    + id (required, string, `"1"`) ... `ID` of the Workflow item. Has example value.

+ Request
    
    + Headers
    
            Authorization: "Bearer <<token>>"

+ Response 200 (application/json)
    + Body
        
            {
              "action": "SAVE",
              "metaData": {
                                "PERSON" : "Robin Merckx",
                                "YEAR" : "2014"
                          },
              "documentContent": "some JSON"
            }

### Execute Action [POST]
Execute an action on the Workflow with this 'ID'.

+ Parameters
    + id (required, string, `"1"`) ... `ID` of the Workflow item. Has example value.

+ Request (application/json)
    
    + Headers
    
            Authorization: "Bearer <<token>>"

    + Body
        
            {
              "action": "SAVE",
              "metaData": {
                                "PERSON" : "Robin Merckx",
                                "YEAR" : "2014"
                          },
              "documentContent": "some JSON"
            }
+ Response 200