FORMAT: 1A
HOST: https://api.healthdata.be

# HealthData API
Collection of all the different APIs provided by HealthData.

##Allowed HTTPs requests:

- `POST` - To create resource
- `PUT` - To update resource
- `GET` - Get a resource or list of resources
- `DELETE` - To delete resource

##Description Of Usual Server Responses

- 200 `OK` - the request was successful (some API calls may return 201 instead).
- 201 `Created` - the request was successful and a resource was created.
- 204 `No Content` - the request was successful but there is no representation to return (i.e. the response is empty).
- 206 `Partial Content` - The server has fulfilled the partial GET request for the resource.
- 302 `Redirected` - the request is redirected to the URL in the Location header.
- 400 `Bad Request` - the request could not be understood or was missing required parameters.
- 401 `Unauthorized` - authentication failed or user doesn't have permissions for requested operation.
- 403 `Forbidden` - access denied.
- 404 `Not Found` - resource was not found.
- 405 `Method Not Allowed` - requested method is not supported for resource.
- 429 `Too Many Requests` - exceeded GoodData API limits. Pause requests, wait up to one minute, and try again. 
- 503 `Service Unavailable` - service is temporary unavailable (e.g. scheduled Platform Maintenance). Try again later.

# Group Annotations API

# Group Configuration API
Part of the **HealthData API** that allows to interact with configuration parameters

A Configuration resource consists basically of a key-value pair with some additional attributes:

- key
- value
- description
- created_at
- valid_from
- valid_till

The *created_at* attribute is assigned by the logic at the moment of creation.

## Configuration - Key [/configurations/{key}]

+ Parameters
    + key (required, string, `"property_key"`) ... Configuration `key`.

+ Model (application/hal+json)

    JSON representation of a Configuration resource. 

    + Body

            {
                "_links": {
                    "self": {
                        "href": "https://private-d734-healthdata.apiary-mock.com/configurations/install_dir"
                    }
                },
                "key": "install_dir",
                "value": "C:\Program Files\HD4DP",
                "description": "installation location of the HD4DP program"
                "created_at": "2014-07-09T00:00:00Z",
                "valid_from": "2014-07-09T00:00:00Z",
                "valid_till": "2024-06-10T00:00:00Z",
            }

### POST
Create a new configuration key-value pair.
+ Request (application/json)
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version
    
    + Body
            
            {   
                "key": "install_dir",
                "value": "C:\Program Files\HD4DP",
                "description": "installation location of the HD4DP program"
                "valid_from": "2014-07-09T00:00:00Z",
                "valid_till": "2024-06-10T00:00:00Z",
            }

+ Response 201 (application/hal+json)

    + Body
            
            {
                "_links": {
                    "self": {
                        "href": "https://private-d734-healthdata.apiary-mock.com/configurations/install_dir"
                    }
                },
               "key": "install_dir",
                "value": "C:\Program Files\HD4DP",
                "description": "installation location of the HD4DP program"
                "created_at": "2014-07-09T00:00:00Z",
                "valid_from": "2014-07-09T00:00:00Z",
                "valid_till": "2024-06-10T00:00:00Z",
            }

### GET
This API call will GET you the Configuration value that matches the passed key.

+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
    
            {
            }
+ Response 200
    [Configuration - Key][]

### DELETE
This API call will DELETE the configuration value that matches the passed key

+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version
+ Response 204

+ Response 404

        The configuration you want to delete does not exist.

### PUT
This API call will UPDATE an existing configuration value.

+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version

    + Body
    
            "key": "new_install_dir",
            "value": "C:\Program Files (x86)\HD4DP",
            "description": "updated description"
            "created_at": "2014-07-10T00:00:00Z",
            "valid_from": "2014-07-10T00:00:00Z",
            "valid_till": "2025-06-10T00:00:00Z",
            
+ Response 204

## Configurations [/configurations/]

### GET

List all existing configuration keys with their according values.

+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
            
            {
            }

+ Response 200 (application/hal+json)

    + Body
    
            {
                "_links": {
                    "self": {
                        "href": "https://private-d734-healthdata.apiary-mock.com/configurations"
                    }
                },
                "_embedded": {
                    "configurations": [
                        {
                            "_links": {
                                "self": {
                                    "href": "https://private-d734-healthdata.apiary-mock.com/configurations/install_dir"
                                }
                            },
                            "key": "install_dir",
                            "value": "C:\Program Files\HD4DP",
                            "description": "installation location of the HD4DP program."
                            "created_at": "2014-07-09T00:00:00Z",
                            "valid_from": "2014-07-09T00:00:00Z",
                            "valid_till": "2024-06-10T00:00:00Z",
                        },
                        {
                            "_links": {
                                "self": {
                                    "href": "https://private-d734-healthdata.apiary-mock.com/configurations/ehBox_client"
                                }
                            },
                            "key": "ehBox_client",
                            "value": "hector",
                            "description": "Name of the client used for ehBox communication with the landing zone."
                            "created_at": "2014-07-09T00:00:00Z",
                            "valid_from": "2014-07-09T00:00:00Z",
                            "valid_till": "2024-06-10T00:00:00Z",
                        }
                    ]
                }
            }

# Group Datacollection Definition API
DataCollectionDefinitions-related resources of the **HealthData API**

A single DataCollectionDefinition object with all its details

The DataCollectionDefinition resource has the following attributes:

- id
- name
- description
- content
- version
- language
- created_on
- published
- valid_from
- valid_till

The states *id* and *created_on* are assigned by the Collections API at the moment of creation.

## Datacollection Definition - ID [/datacollectiondefinitions/{id}]

+ Parameters
    + id (required, string, `"1"`) ... `ID` of the DataCollectionDefinition. Has example value.

+ Model (application/hal+json)

    JSON representation of a DataCollectionDefinition resource. 

    + Body

            {
                "_links": {
                    "self": {
                        "href": "https://private-d734-healthdata.apiary-mock.com/datacollectiondefinitions/1"
                    }
                },
                "id": "1",
                "name": "Datacollection definition 1",
                "created_at": "2014-06-10T02:15:15Z",
                "published": "false"
                "valid_from": "2014-06-10T00:00:00Z",
                "valid_till": "2024-06-10T00:00:00Z",
                "description": "Datacollection definition 1 description",
                "content": "JSON content"
            }

### GET
This API call will GET you the Datacollection definition with the provided ID.

+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
    
            {
            }
+ Response 200
    [Datacollection Definition - ID][]

## Datacollection Definition - Name & Version [/datacollectiondefinitions/{name}/{version}]

### GET
This API call will GET you the Datacollection definition with the provided name and version.
+ Parameters
    + name (required, string, `"register 1"`) ... `name` of the DataCollectionDefinition. Has example value.
    + version (required, string, `"v2"`) ... `version` of the DataCollectionDefinition. Has example value.

+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
    
            {
            }

+ Response 302

    + Headers
    
            Location: "https://private-d734-healthdata.apiary-mock.com/datacollectiondefinitions/1"

## Datacollection Definitions [/datacollectiondefinitions/]

### GET

List all existing Datacollection definitions that the user is authorized to see.
The Range header is used for pagination. If the Range header is included in the request, the server is allowed to respond with a 206 Partial Content status code, 
indicating the presence of the Content-Range response header.

+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
            
            {
            }

+ Response 200 (application/hal+json)

    + Headers
    
            Accept-Ranges: "datacollectiondefinitions"
            Content-Range: "datacollectiondefinitions 0-1/10

    + Body
    
            {
                "_links": {
                    "self": {
                        "href": "https://private-d734-healthdata.apiary-mock.com/datacollectiondefinitions"
                    }
                },
                "_embedded": {
                    "datacollectiondefinitions": [
                        {
                            "_links": {
                                "self": {
                                    "href": "https://private-d734-healthdata.apiary-mock.com/datacollectiondefinitions/1"
                                }
                            },
                            "id": "1", 
                            "name": "Datacollection definition 1",
                            "language": "nl",
                            "created_at": "2014-06-10T02:15:15Z",
                            "valid_from": "2014-06-10T00:00:00Z",
                            "valid_till": "2024-06-10T00:00:00Z",
                            "published": false
                            "description": "Description of DataCollection definition 1.",
                            "content": "JSON content"
                        },
                        {
                            "_links": {
                                "self": {
                                    "href": "https://private-d734-healthdata.apiary-mock.com/datacollectiondefinitions/2"
                                }
                            },
                            "id": "2", 
                            "name": "Datacollection definition 2",
                            "language": "nl",
                            "created_at": "2014-06-10T02:15:15Z",
                            "valid_from": "2014-06-10T00:00:00Z",
                            "valid_till": "2024-06-10T00:00:00Z",
                            "published": false
                            "description": "Description of DataCollection definition 2.",
                            "content": "JSON content"
                        }
                    ]
                }
            }

+ Response 206 (application/hal+json)
    + Headers
    
            Accept-Ranges: "datacollectiondefinitions"
            Content-Range: "datacollectiondefinitions 0-1/10

    + Body
    
            {
                "_links": {
                    "self": {
                        "href": "https://private-d734-healthdata.apiary-mock.com/datacollectiondefinitions"
                    }
                },
                "_embedded": {
                    "datacollectiondefinitions": [
                        {
                            "_links": {
                                "self": {
                                    "href": "https://private-d734-healthdata.apiary-mock.com/datacollectiondefinitions/1"
                                }
                            },
                            "id": "1", 
                            "name": "Datacollection definition 1",
                            "language": "nl",
                            "created_at": "2014-06-10T02:15:15Z",
                            "valid_from": "2014-06-10T00:00:00Z",
                            "valid_till": "2024-06-10T00:00:00Z",
                            "published": false
                            "description": "Description of DataCollection definition 1.",
                            "content": "JSON content"
                        },
                        {
                            "_links": {
                                "self": {
                                    "href": "https://private-d734-healthdata.apiary-mock.com/datacollectiondefinitions/2"
                                }
                            },
                            "id": "2", 
                            "name": "Datacollection definition 2",
                            "language": "nl",
                            "created_at": "2014-06-10T02:15:15Z",
                            "valid_from": "2014-06-10T00:00:00Z",
                            "valid_till": "2024-06-10T00:00:00Z",
                            "published": false
                            "description": "Description of DataCollection definition 2.",
                            "content": "JSON content"
                        }
                    ]
                }
            }

## Datacollection Definition - QueryString parameters [/datacollectiondefinitions{?name,valid_from,valid_till,description}]

List all existing Datacollections that match the given QueryString parameters.
 
### GET

+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
            
            {
            }

+ Response 200 (application/hal+json)

    + Body
    
            {
                "_links": {
                    "self": {
                        "href": "https://private-d734-healthdata.apiary-mock.com/datacollectiondefinitions"
                    }
                },
                "_embedded": {
                    "datacollectiondefinitions": [
                        {
                            "_links": {
                                "self": {
                                    "href": "https://private-d734-healthdata.apiary-mock.com/datacollectiondefinitions/1"
                                }
                            },
                            "id": "1", 
                            "name": "Datacollection definition 1",
                            "language": "nl",
                            "created_at": "2014-06-10T02:15:15Z",
                            "description": "Description of DataCollection definition 1.",
                            "content": "JSON content"
                        },
                        {
                            "_links": {
                                "self": {
                                    "href": "https://private-d734-healthdata.apiary-mock.com/datacollectiondefinitions/2"
                                }
                            },
                            "id": "2", 
                            "name": "Datacollection definition 2",
                            "language": "nl",
                            "created_at": "2014-06-10T02:15:15Z",
                            "description": "Description of DataCollection definition 2.",
                            "content": "JSON content"
                        }
                    ]
                }
            }


# Group Data Provisioning API
Interface exposed to external parties that want to upload prefilling data.

## Data Provisioning [/dataprovisioning]

### POST

+ Request (application/json)
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version
            Data type: "csv"
    
    + Body
            
            {   
                "content": "data file"
            }

+ Response 201

            
# Group Data Reference API
DataReference-related resources of the **HealthData API**

The Codelist resource has the following attributes:

- id
- reference_type
- reference_code
- reference_value_nl-BE
- reference_value_fr-BE
- reference_value_en-US
- created_at
- valid_from
- valid_till

The states *id* and *created_at* are assigned by the Collections API at the moment of creation.

## Data References - Code & Language [/datareferences/{reference_type}/{reference_code}]

The desired language is added using the "Accept-Language" header in the request. 
Possible values are:`nl-BE`,`fr-BE` and `en-US`

+ Parameters
    + reference_type (required, string, `"postal_code"` ) ... `Type` of the Data Reference entry.
    + reference_code (required, string, `"2000"`) ... `Code` of the Data Reference entry.

+ Model (application/hal+json)

    JSON representation of a Data Reference resource. 


    + Headers
    
            Content-Language: "en-US"

    + Body

            {
                "_links": {
                    "self": { "href": "https://private-d734-healthdata.apiary-mock.com/datareferences/1" }
                },
                "id": "1",
                "reference_type": "postal_codes",
                "reference_code": "2000",
                "reference_value_en-US": "Antwerp",
                "created_at": "2014-06-24T02:15:15Z", 
                "valid_from": "1995-01-01T00:00:00Z",
                "valid_till": "2050-01-01T00:00:00Z"
            }

### GET
This API call will GET you the Data Reference with the provided reference_type and reference_code.
            
+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            Accept-Language: en-US
    + Body
    
            {
            }

+ Response 200 (application/hal+json)

    [Data References - Code & Language][]

## Data Reference - QueryString parameters [/datareferences/reference_type{?reference_code,description,created_at,valid_from,valid_till}]

List all existing Data References that match the given QueryString parameters.

Possible QueryString parameters:

- reference_code
- description
- created_at
- valid_from
- valid_till

+ Parameters
    + reference_type (required, string, `"postal_codes"` ) ... `Reference_type` of the Data Reference entry.

 
### GET

+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version
            Accept-Language: en-US
    + Body
            
            {
            }

+ Response 200 (application/hal+json)

    + Headers
            
            Content-Language: "en-US"

    + Body
    
            {
                "_links": {
                    "self": {
                        "href": "https://private-d734-healthdata.apiary-mock.com/datareferences"
                    }
                },
                "_embedded": {
                    "datareferences": [
                        {
                            "_links": {
                                "self": { "href": "https://private-d734-healthdata.apiary-mock.com/datareferences/1" }
                            },
                            "id": "1",
                            "reference_type": "postal_codes",
                            "reference_code": "2000",
                            "reference_value_en-US": "Antwerp",
                            "created_at": "2014-06-24T02:15:15Z", 
                            "valid_from": "1995-01-01T00:00:00Z",
                            "valid_till": "2050-01-01T00:00:00Z" 
                        },
                        {
                            "_links": {
                                "self": { "href": "https://private-d734-healthdata.apiary-mock.com/datareferences/2" }
                            },
                                "id": "2",
                                "reference_type": "postal_codes",
                                "reference_code": "1000",
                                "reference_value_en-US": "Brussels",
                                "created_at": "2014-06-24T02:15:15Z", 
                                "valid_from": "1995-01-01T00:00:00Z",
                                "valid_till": "2050-01-01T00:00:00Z"
                        }
                    ]
                }
            }

# Group Documents API
Document-related resources  of the **HealthData API**

The Document resource has the following attributes:

- id
- name
- description
- createdOn
- content

The states *id* and *created_at* are assigned by the Documents API at the moment of creation.

## Document [/documents]

### Create a document item [POST]
Store a new document item
+ Request (application/json)
    
    + Headers
    
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
            
            {   
                "name"          : "name"
                "description"   : "description"
                "content"       : "JSON content" 
            }
+ Response 200 (application/json)
    
    + Body
            
            {   
                "ID"    : "ID of the created document item" 
            }

## Document - ID [/documents/{id}]

+ Parameters
    + id (required, string, `"1"`) ... `ID` of the Document. Has example value.

+ Model (application/hal+json)

    JSON representation of a Documents resource. 

    + Body

            {
                "_links": {
                    "self": {
                        "href": "https://private-d734-healthdata.apiary-mock.com/documents/1"
                    }
                },
                "id": "1",
                "name": "Document 1",
                "description": "Document 1 description",
                "createdOn": "2014-06-10T02:15:15Z",
                "content": "JSON content"
            }

### Get a document item [GET]
This API call will GET you the Document with the provided ID.

+ Request (application/json)
    
    + Headers
    
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
            
            {
            }
+ Response 200
    [Document - ID][]

### Delete a document item [DELETE]
This API call will DELETE the defined Document.

+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version
+ Response 204

# Group Mapping API
API used to provide the mapping functionality between the different formats.

## Mapping [/mappings]

### POST
Perform a mapping from a given format into another specified format.

+ Request (application/json)
    
    + Headers
    
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
        
            {   
                "from"  : "csv"
                "to"    : "json"
                "content"   : "content"
            }
+ Response 200 (application/json)
    
    + Body
        
            {   
                "status"    : "OK"
                "content"   : "JSON content"
            }

# Group Validation API
API used for the validation of data collection instances.

## Validation [/validations]

### POST
Perform a validation of a data collection instance.
+ Request (application/json)
    
    + Headers
    
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
        
            {   
                "content"   : "JSON content"
            }
+ Response 200 (application/json)
    
    + Body
        
            {   
                "status"    : "OK"
                "content"   : "JSON content"
            }

# Group Workflow API
Workflow-related resources of the **HealthData API**

The workflow resource has the following attributes:

-id
-status
-documentUri
-createdOn
-updatedOn
-history

The history attribute itself has the following attributes:

-id
-newStatus
-updatedOn
-updatedBy

## Workflow [/workflows]

+ Model (application/hal+json)

    JSON representation of a DataCollectionDefinition resource. 

    + Body

            {
                "_links": {
                    "self": { "href": "https://private-d734-healthdata.apiary-mock.com/workflows/1" },
                    "content": { "href": "https://private-d734-healthdata.apiary-mock.com/documents/1" }
                },
                "id": "1",
                "status": "IN_PROGRESS"
                "createdOn": "2014-08-06T09:21:00Z", 
                "updatedOn": "2014-08-06T09:21:00Z",
                "history": [
                    {"id": "1","newStatus": "IN_PROGRESS","updatedOn": "2014-08-05T09:00:00Z","updatedBy": "John Doe"},
                    {"id": "2","newStatus": "IN_PROGRESS","updatedOn": "2014-08-05T12:00:00Z","updatedBy": "John Doe"}
                ]
            }

### Create a workflow item [POST]
Store a new workflow item
+ Request (application/json)
    
    + Headers
    
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
        
            {   
                "status"    : "IN_PROGRESS" 
                "content"   : "JSON content"
            }
+ Response 200 (application/json)
    
    [Workflow][]

## Workflow - ID [/workflows/{id}]

+ Parameters
    + id (required, string, `"1"`) ... `ID` of the Workflow item. Has example value.

+ Model (application/hal+json)

    JSON representation of a DataCollectionDefinition resource. 

    + Body

            {
                "_links": {
                    "self": { "href": "https://private-d734-healthdata.apiary-mock.com/workflows/1" },
                    "content": { "href": "https://private-d734-healthdata.apiary-mock.com/documents/1" }
                },
                "id": "1",
                "status": "SUBMITTED"
                "createdOn": "2014-08-06T09:21:00Z", 
                "updatedOn": "2014-08-06T09:21:00Z",
                "history": [
                    {"id": "1","newStatus": "IN_PROGRESS","updatedOn": "2014-08-05T09:00:00Z","updatedBy": "John Doe"},
                    {"id": "2","newStatus": "SENT","updatedOn": "2014-08-05T12:00:00Z","updatedBy": "John Doe"}
                ]
            }

### Retrieve a workflow item [GET]
Get a workflow item with the provided ID

+ Request
    
    + Headers
    
            Authorization: "Bearer <<token>>"
            API version : version

+ Response 200 (application/hal+json)

    [Workflow - ID][]

### Update a workflow item [PUT]
Update an existing workflow item

+ Request (application/json)
    
    + Headers
    
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
            
            {   
                "status"    : "SUBMITTED" 
            }
+ Response 200

    [Workflow - ID][]
    
### Delete a workflow item [DELETE]
Delete an existing workflow item

+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version
+ Response 204

## Workflow - QueryString parameters [/workflows{?status}]

List all existing Datacollections that match the given QueryString parameters.
 
Possible QueryString parameters:

- status
 
### GET

+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
            
            {
            }

+ Response 200 (application/hal+json)

    + Body
    
            {
                "_links": {
                    "self": {
                        "href": "http://healthdata.apiary-mock.com/workflows"
                    }
                },
                "_embedded": {
                    "workflows": [
                        {
                            "_links": {
                                "self": { "href": "https://private-d734-healthdata.apiary-mock.com/workflows/1" },
                                "content": { "href": "https://private-d734-healthdata.apiary-mock.com/documents/1" }
                            },
                            "id": "1",
                            "status": "NEW"
                            "createdOn": "2014-08-06T09:21:00Z", 
                            "updatedOn": "2014-08-06T09:21:00Z",
                            "history": []
                        },
                        {
                            "_links": {
                                "self": { "href": "https://private-d734-healthdata.apiary-mock.com/workflows/2" },
                                "content": { "href": "https://private-d734-healthdata.apiary-mock.com/documents/2" }
                            },
                            "id": "2",
                            "status": "NEW"
                            "createdOn": "2014-08-06T12:21:00Z", 
                            "updatedOn": "2014-08-06T12:21:00Z",
                            "history": []
                        }
                    ]
                }
            }