FORMAT: 1A
HOST: https://api.healthdata.be

# HealthData API
Collection of all the different APIs provided by HealthData.

##Allowed HTTPs requests:

- `POST` - To create resource
- `PUT` - To update resource
- `GET` - Get a resource or list of resources
- `DELETE` - To delete resource

##Description Of Usual Server Responses

- 200 `OK` - the request was successful (some API calls may return 201 instead).
- 201 `Created` - the request was successful and a resource was created.
- 204 `No Content` - the request was successful but there is no representation to return (i.e. the response is empty).
- 206 `Partial Content` - The server has fulfilled the partial GET request for the resource.
- 302 `Redirected` - the request is redirected to the URL in the Location header.
- 400 `Bad Request` - the request could not be understood or was missing required parameters.
- 401 `Unauthorized` - authentication failed or user doesn't have permissions for requested operation.
- 403 `Forbidden` - access denied.
- 404 `Not Found` - resource was not found.
- 405 `Method Not Allowed` - requested method is not supported for resource.
- 429 `Too Many Requests` - exceeded GoodData API limits. Pause requests, wait up to one minute, and try again. 
- 503 `Service Unavailable` - service is temporary unavailable (e.g. scheduled Platform Maintenance). Try again later.

# Group Annotations API

# Group Configuration API
Part of the **HealthData API** that allows to interact with configuration parameters

A Configuration resource consists basically of a key-value pair with some additional attributes:

- key
- value
- description
- updatedOn
- validFrom
- validTill
- configurationUri

The *updatedOn* attribute is assigned by the logic at the moment of change.

## Configuration - Key [/configurations/{key}]

+ Parameters
    + key (required, string, `"property_key"`) ... Configuration `key`.

+ Model (application/json)

    JSON representation of a Configuration resource. 

    + Body

            {
                "key": "install_dir",
                "value": "C:\Program Files\HD4DP",
                "description": "installation location of the HD4DP program"
                "updatedOn": "2014-09-08 16:17:28",
                "validFrom": "2014-01-01 00:00:00",
                "validTill": "2114-01-01 00:00:00",
                "configurationUri" : "https://private-d734-healthdata.apiary-mock.com/configurations/install_dir"
            }

### POST
Create a new configuration key-value pair.
+ Request (application/json)
    
    + Headers
        
            Authorization: "Bearer d33af621-0a6e-40f7-b1f4-d4226b45bbad"

    + Body
            
            {
                "key": "install_dir",
                "value": "C:\Program Files\HD4DP",
                "description": "installation location of the HD4DP program"
                "validFrom": "2014-01-01 00:00:00",
                "validTill": "2114-01-01 00:00:00",
            }

+ Response 201 (application/json)

    + Body
            
            {
                "key": "install_dir",
                "value": "C:\Program Files\HD4DP",
                "description": "installation location of the HD4DP program"
                "updatedOn": "2014-09-08 16:17:28",
                "validFrom": "2014-01-01 00:00:00",
                "validTill": "2114-01-01 00:00:00",
                "configurationUri" : "https://private-d734-healthdata.apiary-mock.com/configurations/install_dir"
            }

### GET
This API call will GET you the Configuration value that matches the passed key.

+ Request
    
    + Headers
        
            Authorization: "Bearer d33af621-0a6e-40f7-b1f4-d4226b45bbad"
    + Body
    
            {
            }
+ Response 200
    [Configuration - Key][]

### DELETE
This API call will DELETE the configuration value that matches the passed key

+ Request
    
    + Headers
        
            Authorization: "Bearer d33af621-0a6e-40f7-b1f4-d4226b45bbad"
+ Response 204

+ Response 404

        The configuration you want to delete does not exist.

### PUT
This API call will UPDATE an existing configuration value.

+ Request
    
    + Headers
        
            Authorization: "Bearer d33af621-0a6e-40f7-b1f4-d4226b45bbad"

    + Body
    
            {
                "key": "install_dir",
                "value": "C:\Program Files (x86)\HD4DP",
                "description": "installation location of the HD4DP program"
                "validFrom": "2014-01-01 00:00:00",
                "validTill": "2114-01-01 00:00:00",
                "configurationUri" : "https://private-d734-healthdata.apiary-mock.com/configurations/install_dir"
            }
+ Response 204

## Configurations [/configurations/]

### GET

List all existing configuration keys with their according values.

+ Request
    
    + Headers
        
            Authorization: "Bearer d33af621-0a6e-40f7-b1f4-d4226b45bbad"
    + Body
            
            {
            }

+ Response 200 (application/json)

    + Body
    
            [
                {
                    "key": "install_dir",
                    "value": "C:\Program Files\HD4DP",
                    "description": "installation location of the HD4DP program"
                    "updatedOn": "2014-09-08 16:17:28",
                    "validFrom": "2014-01-01 00:00:00",
                    "validTill": "2114-01-01 00:00:00",
                    "configurationUri" : "https://private-d734-healthdata.apiary-mock.com/configurations/install_dir"
                },
                {
                    "key": "ehBox_client",
                    "value": "hector",
                    "description": "Name of the client used for ehBox communication with the landing zone."
                    "updatedOn": "2014-09-08 16:17:28",
                    "validFrom": "2014-01-01 00:00:00",
                    "validTill": "2114-01-01 00:00:00",
                    "configurationUri" : "https://private-d734-healthdata.apiary-mock.com/configurations/ehBox_client"
                }
            ]


# Group Datacollection Definition API
DataCollectionDefinitions-related resources of the **HealthData API**

A single DataCollectionDefinition object with all its details

The DataCollectionDefinition resource has the following attributes:

- id
- name
- description
- content
- version
- language
- createdOn
- published
- validFrom
- validTill
- dataCollectionUri

The states *id* and *created_on* are assigned by the Collections API at the moment of creation.

## Datacollection Definition - ID [/datacollectiondefinitions/{id}]

+ Parameters
    + id (required, string, `"1"`) ... `ID` of the DataCollectionDefinition. Has example value.

+ Model (application/json)

    JSON representation of a DataCollectionDefinition resource. 

    + Body

            {
                "id": "1",
                "name": "IQECAD",
                "description": "IQECAD",
                "content": "{\"label\":\"IQECAD\",\"conditions\":[{\"name\":\"leeftijd\",\"expression\":\"$['algemeen']['jaar_van_datacollectie'] - $['patientgegevens']['geboortejaar'] <= 18\",\"errorMessage\":\"Patient is ouder dan 18, hetgeen een exclusiecriterium is.\"},{\"name\":\"insulinetoediening-leeftijd\",\"expression\":\"new Date($['patientgegevens']['datum_van_de_eerste_insulinetoediening']).getFullYear() >= $['patientgegevens']['geboortejaar']\",\"errorMessage\":\"Het jaar van de eerste insulinetoediening kan niet voor het geboortejaar vallen.\"},{\"name\":\"insulinetoediening-huidig-jaar\",\"expression\":\"new Date($['patientgegevens']['datum_van_de_eerste_insulinetoediening']).getFullYear() <= $['algemeen']['jaar_van_datacollectie']\",\"errorMessage\":\"Het jaar van de eerste insulinetoediening kan niet na het huidige jaar vallen.\"},{\"name\":\"consultatie-gegevensinzameling\",\"expression\":\"new Date($['datacollectie']['algemeen']['datum_van_de_meest_recente_consultatie']).getFullYear() === $['algemeen']['jaar_van_datacollectie']\",\"errorMessage\":\"Het jaar van de consultatie moet overeenstemmen met het jaar van de gegevensinzameling.\"},{\"name\":\"diastolische-systolische\",\"expression\":\"$['datacollectie']['metingen']['diastolische_bloeddruk']['diastolische_bloeddruk_mmhg'] < $['datacollectie']['metingen']['systolische_bloeddruk']['systolische_bloeddruk_mmhg']\",\"errorMessage\":\"Diastolische bloeddruk moet lager zijn dan systolische bloeddruk.\"},{\"name\":\"volledigjaar\",\"expression\":\"(new Date($['patientgegevens']['datum_van_de_eerste_insulinetoediening']).getFullYear() === $['algemeen']['jaar_van_datacollectie']) === !$['datacollectie']['algemeen']['de_patient_was_gedurende_het_ganse_kalenderjaar_in_behandeling_bij_dit_centrum']\",\"errorMessage\":\"Een opvolging van een volledig jaar is niet mogelijk als de diagnose in de loop van dit jaar gesteld werd.\"}],\"sections\":[{\"label\":\"Algemeen\",\"name\":\"algemeen\",\"sticky\":true,\"fields\":[{\"label\":\"Jaar van datacollectie\",\"name\":\"jaar_van_datacollectie\",\"type\":\"number\",\"database_id\":\"collect_year\",\"default\":\"2013\",\"required\":true,\"sent\":true,\"sticky\":true},{\"label\":\"Creatiedatum van klinische file\",\"name\":\"creatiedatum_van_klinische_file\",\"type\":\"date\",\"database_id\":\"rec_date\",\"default\":\"02/06/2014\",\"mask\":\"dd/mm/yyyy\",\"required\":true,\"sent\":true}]},{\"label\":\"Patientgegevens\",\"name\":\"patientgegevens\",\"sticky\":true,\"fields\":[{\"label\":\"Patient NISS\",\"name\":\"patient_niss\",\"type\":\"number\",\"database_id\":\"coded_NISS/patient_id\",\"mask\":\"valid format + kruispuntbank (not empty NISS)\",\"required\":true,\"sent\":true,\"sticky\":true},{\"label\":\"Naam\",\"name\":\"naam\",\"type\":\"text\",\"source\":\"National Registry\",\"required\":false,\"sent\":false,\"sticky\":true},{\"label\":\"Voornaam\",\"name\":\"voornaam\",\"type\":\"text\",\"source\":\"National Registry\",\"required\":false,\"sent\":false,\"sticky\":true},{\"label\":\"Geslacht\",\"name\":\"geslacht\",\"type\":\"choice\",\"choices\":[{\"label\":\"Vrouw\",\"name\":\"vrouw\",\"database_id\":\"0\"},{\"label\":\"Man\",\"name\":\"man\",\"database_id\":\"1\"}],\"database_id\":\"gender\",\"source\":\"National Registry\",\"required\":true,\"sent\":true},{\"label\":\"Geboortemaand\",\"name\":\"geboortemaand\",\"type\":\"number\",\"database_id\":\"birthMonth\",\"source\":\"National Registry\",\"required\":true,\"sent\":true},{\"label\":\"Geboortejaar\",\"name\":\"geboortejaar\",\"type\":\"number\",\"database_id\":\"birthYear\",\"source\":\"National Registry\",\"required\":true,\"sent\":true},{\"label\":\"Arrondissement\",\"name\":\"arrondissement\",\"type\":\"number\",\"database_id\":\"District\",\"source\":\"National Registry\",\"required\":false,\"sent\":true},{\"label\":\"Overleden?\",\"name\":\"overleden\",\"type\":\"boolean\",\"database_id\":\"deceased\",\"source\":\"National Registry\",\"required\":false,\"sent\":true},{\"label\":\"Jaar van overlijden\",\"name\":\"jaar_van_overlijden\",\"type\":\"date\",\"database_id\":\"deathYear\",\"source\":\"National Registry\",\"required\":false,\"sent\":true},{\"label\":\"Datum van de eerste insulinetoediening\",\"name\":\"datum_van_de_eerste_insulinetoediening\",\"type\":\"date\",\"database_id\":\"dinj\",\"mask\":\"yyyy\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Indien de exacte datum niet gekend is, maar wel het jaar, dan kan men invullen: 30/06/JJJJ\"},{\"label\":\"Etniciteit vader\",\"name\":\"etniciteit_vader\",\"type\":\"choice\",\"database_id\":\"ethnf\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"choices\":[{\"label\":\"Kaukasisch\",\"name\":\"kaukasisch\",\"database_id\":\"1\"},{\"label\":\"Maghrebijns\",\"name\":\"maghrebijns\",\"database_id\":\"2\"},{\"label\":\"Zwart-Afrikaans\",\"name\":\"zwartafrikaans\",\"database_id\":\"3\"},{\"label\":\"Andere\",\"name\":\"andere\",\"database_id\":\"4\",\"fields\":[{\"label\":\"Indien \\\"andere\\\", specificeren\",\"name\":\"indien_andere,_specificeren\",\"type\":\"text\",\"database_id\":\"ethnfoth\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]}]},{\"label\":\"Etniciteit moeder\",\"name\":\"etniciteit_moeder\",\"type\":\"choice\",\"database_id\":\"ethnm\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"choices\":[{\"label\":\"Kaukasisch\",\"name\":\"kaukasisch\",\"database_id\":\"1\"},{\"label\":\"Maghrebijns\",\"name\":\"maghrebijns\",\"database_id\":\"2\"},{\"label\":\"Zwart-Afrikaans\",\"name\":\"zwartafrikaans\",\"database_id\":\"3\"},{\"label\":\"Andere\",\"name\":\"andere\",\"database_id\":\"4\",\"fields\":[{\"label\":\"Indien \\\"andere\\\", specificeren\",\"name\":\"indien_andere,_specificeren\",\"type\":\"text\",\"database_id\":\"ethnmoth\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]}]}]},{\"label\":\"Datacollectie\",\"name\":\"datacollectie\",\"sections\":[{\"label\":\"Algemeen\",\"name\":\"algemeen\",\"fields\":[{\"label\":\"De patient was gedurende het ganse kalenderjaar in behandeling bij dit centrum\",\"name\":\"de_patient_was_gedurende_het_ganse_kalenderjaar_in_behandeling_bij_dit_centrum\",\"type\":\"boolean\",\"database_id\":\"follow\",\"source\":\"eMD\",\"required\":true,\"sent\":true,\"help\":\"Kies \\\"neen\\\" wanneer de patient gedurende het kalenderjaar gediagnosticeerd werd, OF zich gedurende het kalenderjaar aansloot bij het centrum, OF het centrum verliet (bv. door verhuizing, meerderjarigheid, ...).\"},{\"label\":\"Datum van de meest recente consultatie\",\"name\":\"datum_van_de_meest_recente_consultatie\",\"type\":\"date\",\"database_id\":\"dcons\",\"mask\":\"dd/mm/yyyy\",\"source\":\"eMD\",\"required\":true,\"sent\":true,\"help\":\"Het gaat hier om de datum van de consultatie waarvan alle verdere gegevens afgeleid zijn. Voor procedures die niet bij elke consultatie uitgevoerd dienen te worden is het mogelijk om later een andere datum te specificeren.\"},{\"label\":\"Kerngezin\",\"name\":\"kerngezin\",\"type\":\"boolean\",\"database_id\":\"family\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Kerngezin: originele vader en moeder zijn aanwezig. In geval van adoptie betekent dit dat de originele adoptiefouders nog aanwezig zijn. Bewust alleenstaande ouders worden niet als kerngezin beschouwd.\"},{\"label\":\"Taalproblemen\",\"name\":\"taalproblemen\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Zijn er taalproblemen die de communicatie bemoeilijken?\",\"name\":\"zijn_er_taalproblemen_die_de_communicatie_bemoeilijken\",\"database_id\":\"probcomm1\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Indien \\\"Ja\\\", dan kan u hieronder meerdere antwoorden aanduiden.\",\"fields\":[{\"label\":\"Zo ja, met het kind?\",\"name\":\"zo_ja,_met_het_kind\",\"type\":\"boolean\",\"database_id\":\"probcomm2a\",\"source\":\"eMD\",\"required\":false,\"sent\":true},{\"label\":\"Zo ja, met de ouders?\",\"name\":\"zo_ja,_met_de_ouders\",\"type\":\"boolean\",\"database_id\":\"probcomm2b\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]}]},{\"label\":\"Puberteit/prepuberteit\",\"name\":\"puberteitprepuberteit\",\"type\":\"choice\",\"choices\":[{\"label\":\"Puberteit\",\"name\":\"puberteit\",\"database_id\":\"1\"},{\"label\":\"Prepuberteit\",\"name\":\"prepuberteit\",\"database_id\":\"2\"}],\"database_id\":\"puberty\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Kies ook \\\"Puberteit\\\" bij volwassen patienten\"},{\"label\":\"Insulineschema\",\"name\":\"insulineschema\",\"type\":\"choice\",\"database_id\":\"inssch\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"choices\":[{\"label\":\"Standaard mengsels toegediend 's morgens en 's avonds met occasioneel een extra toediening van snelle/ultrasnelle insuline\",\"name\":\"standaard_mengsels_toegediend_s_morgens_en_s_avonds_met_occasioneel_een_extra_toediening_van_snelleultrasnelle_insuline\",\"database_id\":\"1\"},{\"label\":\"Individueel samengestelde mengsels toegediend 's morgens en 's avonds met occasioneel een extra toediening van snelle/ultrasnelle insuline\",\"name\":\"individueel_samengestelde_mengsels_toegediend_s_morgens_en_s_avonds_met_occasioneel_een_extra_toediening_van_snelleultrasnelle_insuline\",\"database_id\":\"2\"},{\"label\":\"Individueel samengestelde mengsels toegediend 's morgens en 's avonds met een systematische toediening van een snelle/ultrasnelle insuline (d.w.z. elke dag)\",\"name\":\"individueel_samengestelde_mengsels_toegediend_s_morgens_en_s_avonds_met_een_systematische_toediening_van_een_snelleultrasnelle_insuline_dwz_elke_dag\",\"database_id\":\"3\"},{\"label\":\"Basaal-prandiale insulinebehandeling (basaal-bolus)\",\"name\":\"basaalprandiale_insulinebehandeling_basaalbolus\",\"database_id\":\"4\"},{\"label\":\"Insulinepomp\",\"name\":\"insulinepomp\",\"database_id\":\"5\"},{\"label\":\"Andere\",\"name\":\"andere\",\"database_id\":\"6\",\"fields\":[{\"label\":\"Indien \\\"andere\\\", specificeren\",\"name\":\"indien_andere,_specificeren\",\"type\":\"text\",\"database_id\":\"insschmisc\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]}]},{\"label\":\"Andere medicatie\",\"name\":\"andere_medicatie\",\"type\":\"text\",\"database_id\":\"miscdrugs\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]},{\"label\":\"Metingen\",\"name\":\"metingen\",\"fields\":[{\"label\":\"Insulinedosis (IE/dag)\",\"name\":\"insulinedosis_iedag\",\"type\":\"number\",\"database_id\":\"insdose\",\"mask\":\"000.0\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Bij pompgebruikers en basaal-prandiale insulinebehandeling dient men de dosis op te geven van de dag die de laatste consultatie voorafgaat.\",\"validators\":[{\"minimum\":1,\"maximum\":200,\"regexp\":\"[0-9]{3}.[0-9]\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: insulinedosis in IE per dag!\",\"level\":\"warning\"}]},{\"label\":\"Lengte\",\"name\":\"lengte\",\"type\":\"fieldset\",\"fields\":[{\"label\":\"Lengte (cm)\",\"name\":\"lengte_cm\",\"type\":\"number\",\"database_id\":\"height\",\"mask\":\"000.0\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":40,\"maximum\":220,\"regexp\":\"[0-9]{3}.[0-9]\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: lengte in cm!\",\"level\":\"warning\"}]},{\"label\":\"Datum van bepaling\",\"name\":\"datum_van_bepaling\",\"type\":\"date\",\"database_id\":\"dheight\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]},{\"label\":\"Gewicht\",\"name\":\"gewicht\",\"type\":\"fieldset\",\"fields\":[{\"label\":\"Gewicht (kg)\",\"name\":\"gewicht_kg\",\"type\":\"number\",\"database_id\":\"weight\",\"mask\":\"000.0\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":2,\"maximum\":200,\"regexp\":\"[0-9]{3}.[0-9]\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: gewicht in kg!\",\"level\":\"warning\"}]},{\"label\":\"Datum van bepaling\",\"name\":\"datum_van_bepaling\",\"type\":\"date\",\"database_id\":\"dweight\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]},{\"label\":\"Systolische bloeddruk\",\"name\":\"systolische_bloeddruk\",\"type\":\"fieldset\",\"fields\":[{\"label\":\"Systolische bloeddruk (mmHg)\",\"name\":\"systolische_bloeddruk_mmhg\",\"type\":\"number\",\"database_id\":\"sbp\",\"mask\":\"000.0\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":40,\"maximum\":250,\"regexp\":\"[0-9]{3}.[0-9]\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: systolische bloeddruk in mmHg!\",\"level\":\"warning\"}]},{\"label\":\"Datum van bepaling\",\"name\":\"datum_van_bepaling\",\"type\":\"date\",\"database_id\":\"datebp\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]},{\"label\":\"Diastolische bloeddruk\",\"name\":\"diastolische_bloeddruk\",\"type\":\"fieldset\",\"fields\":[{\"label\":\"Diastolische bloeddruk (mmHg)\",\"name\":\"diastolische_bloeddruk_mmhg\",\"type\":\"number\",\"database_id\":\"dbp\",\"mask\":\"000.0\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":40,\"maximum\":250,\"regexp\":\"[0-9]{3}.[0-9]\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: diastolische bloeddruk in mmHg!\",\"level\":\"warning\"}]},{\"label\":\"HbA1c (%)\",\"name\":\"hba1c_\",\"type\":\"number\",\"database_id\":\"hba1c\",\"mask\":\"00.0\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":2,\"maximum\":20,\"regexp\":\"[0-9]{2}.[0-9]\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: HbA1c in %!\",\"level\":\"warning\"}]},{\"label\":\"Datum van bepaling\",\"name\":\"datum_van_bepaling\",\"type\":\"date\",\"database_id\":\"dhba1c\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]},{\"label\":\"Aantal bepalingen van HbA1c in het voorbije kalenderjaar\",\"name\":\"aantal_bepalingen_van_hba1c_in_het_voorbije_kalenderjaar\",\"type\":\"number\",\"database_id\":\"hba1cdetn\",\"mask\":\"integer\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":1,\"maximum\":10,\"regexp\":\"[0-9]{2}\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: aantal HbA1c-bepalingen !\",\"level\":\"warning\"}]},{\"label\":\"Gemiddeld aantal glycemiemetingen per dag\",\"name\":\"gemiddeld_aantal_glycemiemetingen_per_dag\",\"type\":\"number\",\"database_id\":\"smbg\",\"mask\":\"integer\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Op basis van het geheugen van de glycemiemeter.\",\"validators\":[{\"minimum\":1,\"maximum\":15,\"regexp\":\"[0-9]{2}\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: aantal glycemiemetingen per dag!\",\"level\":\"warning\"}]},{\"label\":\"Aantal opnames voor (ernstige) diabetische ketoacidose tijdens de 12 maanden die de laatste consultatie voorafgingen\",\"name\":\"aantal_opnames_voor_ernstige_diabetische_ketoacidose_tijdens_de_12_maanden_die_de_laatste_consultatie_voorafgingen\",\"type\":\"number\",\"database_id\":\"dka\",\"mask\":\"integer\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Tel de \\\"inaugurale\\\" DKA niet mee\",\"validators\":[{\"minimum\":0,\"maximum\":10,\"regexp\":\"[0-9]{2}\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: aantal opnames voor een (ernstige) DKA per 12 maanden!\",\"level\":\"warning\"}]},{\"label\":\"Aantal gekende episodes van hypoglycemie tijdens de 3 maanden die de laatste consultatie voorafgingen\",\"name\":\"aantal_gekende_episodes_van_hypoglycemie_tijdens_de_3_maanden_die_de_laatste_consultatie_voorafgingen\",\"type\":\"number\",\"database_id\":\"hypo\",\"mask\":\"integer\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Definitie hypoglycemie ISPAD : minstens een van volgende kenmerken : \\n- Half-tot volledig onbewuste status waarbij patient hulp van derden nodig heeft\\n- Coma zonder of met convulsies \\n- Parenterale behandeling is nodig (IM glucagon of IV glucose)\",\"validators\":[{\"minimum\":0,\"maximum\":10,\"regexp\":\"[0-9]{2}\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: aantal ernstige hypoglycemieen per 3 maanden!\",\"level\":\"warning\"}]},{\"label\":\"Aantal consultaties in het diabetescentrum tijdens het afgelopen kalenderjaar\",\"name\":\"aantal_consultaties_in_het_diabetescentrum_tijdens_het_afgelopen_kalenderjaar\",\"type\":\"number\",\"database_id\":\"consultation\",\"mask\":\"integer\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":1,\"maximum\":20,\"regexp\":\"[0-9]{2}\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: aantal consultaties!\",\"level\":\"warning\"}]}]},{\"label\":\"Screenings\",\"name\":\"screenings\",\"fields\":[{\"label\":\"Coeliakie\",\"name\":\"coeliakie\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Gebeurde screening naar coeliakie?\",\"name\":\"gebeurde_screening_naar_coeliakie\",\"database_id\":\"scrcoel\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Screening coeliakie : onderzoek naar antistoffen\",\"fields\":[{\"label\":\"Indien ja, was het resultaat positief?\",\"name\":\"indien_ja,_was_het_resultaat_positief\",\"type\":\"boolean\",\"database_id\":\"rescoel\",\"source\":\"eMD\",\"required\":false,\"sent\":true},{\"label\":\"Datum van vaststelling\",\"name\":\"datum_van_vaststelling\",\"type\":\"date\",\"database_id\":\"drescoel\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"},{\"label\":\"Wordt de patient behandeld voor coeliakie?\",\"name\":\"wordt_de_patient_behandeld_voor_coeliakie\",\"type\":\"boolean\",\"database_id\":\"trcoel\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]}]},{\"label\":\"Schildklier-immuniteit\",\"name\":\"schildklierimmuniteit\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Gebeurde screening naar schildklierauto-immuniteit?\",\"name\":\"gebeurde_screening_naar_schildklierautoimmuniteit\",\"database_id\":\"scrthy\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"fields\":[{\"label\":\"Indien ja, was het resultaat positief?\",\"name\":\"indien_ja,_was_het_resultaat_positief\",\"type\":\"boolean\",\"database_id\":\"resthy\",\"source\":\"eMD\",\"required\":false,\"sent\":true},{\"label\":\"Datum van vaststelling\",\"name\":\"datum_van_vaststelling\",\"type\":\"date\",\"database_id\":\"dresthy\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]}]},{\"label\":\"Hypo- of hyperthyreoidie\",\"name\":\"hypo_of_hyperthyreodie\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Wordt de patient behandeld voor hypo- of hyperthyreoidie?\",\"name\":\"wordt_de_patient_behandeld_voor_hypo_of_hyperthyreodie\",\"database_id\":\"trthy\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]},{\"label\":\"Epilepsie\",\"name\":\"epilepsie\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Wordt de patient behandeld voor epilepsie?\",\"name\":\"wordt_de_patient_behandeld_voor_epilepsie\",\"database_id\":\"trepi\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]},{\"label\":\"Retinopathie\",\"name\":\"retinopathie\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Gebeurde screening naar retinopathie?\",\"name\":\"gebeurde_screening_naar_retinopathie\",\"database_id\":\"scrret\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Positief indien retinopathie aanwezig is \",\"fields\":[{\"label\":\"Indien ja, was het resultaat positief?\",\"name\":\"indien_ja,_was_het_resultaat_positief\",\"type\":\"boolean\",\"database_id\":\"resret\",\"source\":\"eMD\",\"required\":false,\"sent\":true},{\"label\":\"Datum van vaststelling\",\"name\":\"datum_van_vaststelling\",\"type\":\"date\",\"database_id\":\"dresret\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]}]},{\"label\":\"Nefropathie\",\"name\":\"nefropathie\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Gebeurde screening naar nefropathie?\",\"name\":\"gebeurde_screening_naar_nefropathie\",\"database_id\":\"scrneph\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"fields\":[{\"label\":\"Indien ja, was het resultaat positief?\",\"name\":\"indien_ja,_was_het_resultaat_positief\",\"type\":\"boolean\",\"database_id\":\"resneph\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Een diagnose van (micro)albuminurie is bevestigd als er in een periode van 3 tot 6 maanden, 2 van de 3 testresultaten abnormaal zijn, en dit na uitsluiten van andere factoren (fysieke inspanning, urineweginfecties, menstruatie, voedingsgewoonten,...)\\nEen abnormaal testresultaat wordt als volgt gedefinieerd:\\n- Timed collection: albumin excretion rate (AER) â‰¥20 Î¼g/min or â‰¥30 mg/24 h\\n- Spot urine analysis: â‰¥30 mg/L or albumin/creatinine ratio (ACR) â‰¥2.5 mg/mmol (males) or â‰¥3.5 mg/mmol (females)\"},{\"label\":\"Datum van vaststelling\",\"name\":\"datum_van_vaststelling\",\"type\":\"date\",\"database_id\":\"dresneph\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]}]},{\"label\":\"Bloedlipiden\",\"name\":\"bloedlipiden\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Gebeurde bepaling van bloedlipiden?\",\"name\":\"gebeurde_bepaling_van_bloedlipiden\",\"database_id\":\"scrlip\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]},{\"label\":\"Neuropathie\",\"name\":\"neuropathie\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Gebeurde screening naar neuropathie?\",\"name\":\"gebeurde_screening_naar_neuropathie\",\"database_id\":\"scrneur\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]}]}]}]}",
                "version": "1.0",
                "language": "NL",
                "createdOn": "2014-09-08 16:17:15",
                "published": "false",
                "validFrom": "2014-01-01 00:00:00",
                "validTill": "2114-01-01 00:00:00",
                "dataCollectionUri": "http://localhost:8080/catalogue/datacollectiondefinitions/1"
            }

### GET
This API call will GET you the Datacollection definition with the provided ID.

+ Request
    
    + Body
    
            {
            }
+ Response 200
    [Datacollection Definition - ID][]

## Datacollection Definition - 1 [/datacollectiondefinitions/1]

### GET

+ Response 200 (application/json)
    + Body

            {
                "id": "1",
                "name": "IQECAD",
                "description": "IQECAD",
                "content": "{\"label\":\"IQECAD\",\"conditions\":[{\"name\":\"leeftijd\",\"expression\":\"$['algemeen']['jaar_van_datacollectie'] - $['patientgegevens']['geboortejaar'] <= 18\",\"errorMessage\":\"Patient is ouder dan 18, hetgeen een exclusiecriterium is.\"},{\"name\":\"insulinetoediening-leeftijd\",\"expression\":\"new Date($['patientgegevens']['datum_van_de_eerste_insulinetoediening']).getFullYear() >= $['patientgegevens']['geboortejaar']\",\"errorMessage\":\"Het jaar van de eerste insulinetoediening kan niet voor het geboortejaar vallen.\"},{\"name\":\"insulinetoediening-huidig-jaar\",\"expression\":\"new Date($['patientgegevens']['datum_van_de_eerste_insulinetoediening']).getFullYear() <= $['algemeen']['jaar_van_datacollectie']\",\"errorMessage\":\"Het jaar van de eerste insulinetoediening kan niet na het huidige jaar vallen.\"},{\"name\":\"consultatie-gegevensinzameling\",\"expression\":\"new Date($['datacollectie']['algemeen']['datum_van_de_meest_recente_consultatie']).getFullYear() === $['algemeen']['jaar_van_datacollectie']\",\"errorMessage\":\"Het jaar van de consultatie moet overeenstemmen met het jaar van de gegevensinzameling.\"},{\"name\":\"diastolische-systolische\",\"expression\":\"$['datacollectie']['metingen']['diastolische_bloeddruk']['diastolische_bloeddruk_mmhg'] < $['datacollectie']['metingen']['systolische_bloeddruk']['systolische_bloeddruk_mmhg']\",\"errorMessage\":\"Diastolische bloeddruk moet lager zijn dan systolische bloeddruk.\"},{\"name\":\"volledigjaar\",\"expression\":\"(new Date($['patientgegevens']['datum_van_de_eerste_insulinetoediening']).getFullYear() === $['algemeen']['jaar_van_datacollectie']) === !$['datacollectie']['algemeen']['de_patient_was_gedurende_het_ganse_kalenderjaar_in_behandeling_bij_dit_centrum']\",\"errorMessage\":\"Een opvolging van een volledig jaar is niet mogelijk als de diagnose in de loop van dit jaar gesteld werd.\"}],\"sections\":[{\"label\":\"Algemeen\",\"name\":\"algemeen\",\"sticky\":true,\"fields\":[{\"label\":\"Jaar van datacollectie\",\"name\":\"jaar_van_datacollectie\",\"type\":\"number\",\"database_id\":\"collect_year\",\"default\":\"2013\",\"required\":true,\"sent\":true,\"sticky\":true},{\"label\":\"Creatiedatum van klinische file\",\"name\":\"creatiedatum_van_klinische_file\",\"type\":\"date\",\"database_id\":\"rec_date\",\"default\":\"02/06/2014\",\"mask\":\"dd/mm/yyyy\",\"required\":true,\"sent\":true}]},{\"label\":\"Patientgegevens\",\"name\":\"patientgegevens\",\"sticky\":true,\"fields\":[{\"label\":\"Patient NISS\",\"name\":\"patient_niss\",\"type\":\"number\",\"database_id\":\"coded_NISS/patient_id\",\"mask\":\"valid format + kruispuntbank (not empty NISS)\",\"required\":true,\"sent\":true,\"sticky\":true},{\"label\":\"Naam\",\"name\":\"naam\",\"type\":\"text\",\"source\":\"National Registry\",\"required\":false,\"sent\":false,\"sticky\":true},{\"label\":\"Voornaam\",\"name\":\"voornaam\",\"type\":\"text\",\"source\":\"National Registry\",\"required\":false,\"sent\":false,\"sticky\":true},{\"label\":\"Geslacht\",\"name\":\"geslacht\",\"type\":\"choice\",\"choices\":[{\"label\":\"Vrouw\",\"name\":\"vrouw\",\"database_id\":\"0\"},{\"label\":\"Man\",\"name\":\"man\",\"database_id\":\"1\"}],\"database_id\":\"gender\",\"source\":\"National Registry\",\"required\":true,\"sent\":true},{\"label\":\"Geboortemaand\",\"name\":\"geboortemaand\",\"type\":\"number\",\"database_id\":\"birthMonth\",\"source\":\"National Registry\",\"required\":true,\"sent\":true},{\"label\":\"Geboortejaar\",\"name\":\"geboortejaar\",\"type\":\"number\",\"database_id\":\"birthYear\",\"source\":\"National Registry\",\"required\":true,\"sent\":true},{\"label\":\"Arrondissement\",\"name\":\"arrondissement\",\"type\":\"number\",\"database_id\":\"District\",\"source\":\"National Registry\",\"required\":false,\"sent\":true},{\"label\":\"Overleden?\",\"name\":\"overleden\",\"type\":\"boolean\",\"database_id\":\"deceased\",\"source\":\"National Registry\",\"required\":false,\"sent\":true},{\"label\":\"Jaar van overlijden\",\"name\":\"jaar_van_overlijden\",\"type\":\"date\",\"database_id\":\"deathYear\",\"source\":\"National Registry\",\"required\":false,\"sent\":true},{\"label\":\"Datum van de eerste insulinetoediening\",\"name\":\"datum_van_de_eerste_insulinetoediening\",\"type\":\"date\",\"database_id\":\"dinj\",\"mask\":\"yyyy\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Indien de exacte datum niet gekend is, maar wel het jaar, dan kan men invullen: 30/06/JJJJ\"},{\"label\":\"Etniciteit vader\",\"name\":\"etniciteit_vader\",\"type\":\"choice\",\"database_id\":\"ethnf\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"choices\":[{\"label\":\"Kaukasisch\",\"name\":\"kaukasisch\",\"database_id\":\"1\"},{\"label\":\"Maghrebijns\",\"name\":\"maghrebijns\",\"database_id\":\"2\"},{\"label\":\"Zwart-Afrikaans\",\"name\":\"zwartafrikaans\",\"database_id\":\"3\"},{\"label\":\"Andere\",\"name\":\"andere\",\"database_id\":\"4\",\"fields\":[{\"label\":\"Indien \\\"andere\\\", specificeren\",\"name\":\"indien_andere,_specificeren\",\"type\":\"text\",\"database_id\":\"ethnfoth\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]}]},{\"label\":\"Etniciteit moeder\",\"name\":\"etniciteit_moeder\",\"type\":\"choice\",\"database_id\":\"ethnm\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"choices\":[{\"label\":\"Kaukasisch\",\"name\":\"kaukasisch\",\"database_id\":\"1\"},{\"label\":\"Maghrebijns\",\"name\":\"maghrebijns\",\"database_id\":\"2\"},{\"label\":\"Zwart-Afrikaans\",\"name\":\"zwartafrikaans\",\"database_id\":\"3\"},{\"label\":\"Andere\",\"name\":\"andere\",\"database_id\":\"4\",\"fields\":[{\"label\":\"Indien \\\"andere\\\", specificeren\",\"name\":\"indien_andere,_specificeren\",\"type\":\"text\",\"database_id\":\"ethnmoth\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]}]}]},{\"label\":\"Datacollectie\",\"name\":\"datacollectie\",\"sections\":[{\"label\":\"Algemeen\",\"name\":\"algemeen\",\"fields\":[{\"label\":\"De patient was gedurende het ganse kalenderjaar in behandeling bij dit centrum\",\"name\":\"de_patient_was_gedurende_het_ganse_kalenderjaar_in_behandeling_bij_dit_centrum\",\"type\":\"boolean\",\"database_id\":\"follow\",\"source\":\"eMD\",\"required\":true,\"sent\":true,\"help\":\"Kies \\\"neen\\\" wanneer de patient gedurende het kalenderjaar gediagnosticeerd werd, OF zich gedurende het kalenderjaar aansloot bij het centrum, OF het centrum verliet (bv. door verhuizing, meerderjarigheid, ...).\"},{\"label\":\"Datum van de meest recente consultatie\",\"name\":\"datum_van_de_meest_recente_consultatie\",\"type\":\"date\",\"database_id\":\"dcons\",\"mask\":\"dd/mm/yyyy\",\"source\":\"eMD\",\"required\":true,\"sent\":true,\"help\":\"Het gaat hier om de datum van de consultatie waarvan alle verdere gegevens afgeleid zijn. Voor procedures die niet bij elke consultatie uitgevoerd dienen te worden is het mogelijk om later een andere datum te specificeren.\"},{\"label\":\"Kerngezin\",\"name\":\"kerngezin\",\"type\":\"boolean\",\"database_id\":\"family\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Kerngezin: originele vader en moeder zijn aanwezig. In geval van adoptie betekent dit dat de originele adoptiefouders nog aanwezig zijn. Bewust alleenstaande ouders worden niet als kerngezin beschouwd.\"},{\"label\":\"Taalproblemen\",\"name\":\"taalproblemen\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Zijn er taalproblemen die de communicatie bemoeilijken?\",\"name\":\"zijn_er_taalproblemen_die_de_communicatie_bemoeilijken\",\"database_id\":\"probcomm1\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Indien \\\"Ja\\\", dan kan u hieronder meerdere antwoorden aanduiden.\",\"fields\":[{\"label\":\"Zo ja, met het kind?\",\"name\":\"zo_ja,_met_het_kind\",\"type\":\"boolean\",\"database_id\":\"probcomm2a\",\"source\":\"eMD\",\"required\":false,\"sent\":true},{\"label\":\"Zo ja, met de ouders?\",\"name\":\"zo_ja,_met_de_ouders\",\"type\":\"boolean\",\"database_id\":\"probcomm2b\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]}]},{\"label\":\"Puberteit/prepuberteit\",\"name\":\"puberteitprepuberteit\",\"type\":\"choice\",\"choices\":[{\"label\":\"Puberteit\",\"name\":\"puberteit\",\"database_id\":\"1\"},{\"label\":\"Prepuberteit\",\"name\":\"prepuberteit\",\"database_id\":\"2\"}],\"database_id\":\"puberty\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Kies ook \\\"Puberteit\\\" bij volwassen patienten\"},{\"label\":\"Insulineschema\",\"name\":\"insulineschema\",\"type\":\"choice\",\"database_id\":\"inssch\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"choices\":[{\"label\":\"Standaard mengsels toegediend 's morgens en 's avonds met occasioneel een extra toediening van snelle/ultrasnelle insuline\",\"name\":\"standaard_mengsels_toegediend_s_morgens_en_s_avonds_met_occasioneel_een_extra_toediening_van_snelleultrasnelle_insuline\",\"database_id\":\"1\"},{\"label\":\"Individueel samengestelde mengsels toegediend 's morgens en 's avonds met occasioneel een extra toediening van snelle/ultrasnelle insuline\",\"name\":\"individueel_samengestelde_mengsels_toegediend_s_morgens_en_s_avonds_met_occasioneel_een_extra_toediening_van_snelleultrasnelle_insuline\",\"database_id\":\"2\"},{\"label\":\"Individueel samengestelde mengsels toegediend 's morgens en 's avonds met een systematische toediening van een snelle/ultrasnelle insuline (d.w.z. elke dag)\",\"name\":\"individueel_samengestelde_mengsels_toegediend_s_morgens_en_s_avonds_met_een_systematische_toediening_van_een_snelleultrasnelle_insuline_dwz_elke_dag\",\"database_id\":\"3\"},{\"label\":\"Basaal-prandiale insulinebehandeling (basaal-bolus)\",\"name\":\"basaalprandiale_insulinebehandeling_basaalbolus\",\"database_id\":\"4\"},{\"label\":\"Insulinepomp\",\"name\":\"insulinepomp\",\"database_id\":\"5\"},{\"label\":\"Andere\",\"name\":\"andere\",\"database_id\":\"6\",\"fields\":[{\"label\":\"Indien \\\"andere\\\", specificeren\",\"name\":\"indien_andere,_specificeren\",\"type\":\"text\",\"database_id\":\"insschmisc\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]}]},{\"label\":\"Andere medicatie\",\"name\":\"andere_medicatie\",\"type\":\"text\",\"database_id\":\"miscdrugs\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]},{\"label\":\"Metingen\",\"name\":\"metingen\",\"fields\":[{\"label\":\"Insulinedosis (IE/dag)\",\"name\":\"insulinedosis_iedag\",\"type\":\"number\",\"database_id\":\"insdose\",\"mask\":\"000.0\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Bij pompgebruikers en basaal-prandiale insulinebehandeling dient men de dosis op te geven van de dag die de laatste consultatie voorafgaat.\",\"validators\":[{\"minimum\":1,\"maximum\":200,\"regexp\":\"[0-9]{3}.[0-9]\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: insulinedosis in IE per dag!\",\"level\":\"warning\"}]},{\"label\":\"Lengte\",\"name\":\"lengte\",\"type\":\"fieldset\",\"fields\":[{\"label\":\"Lengte (cm)\",\"name\":\"lengte_cm\",\"type\":\"number\",\"database_id\":\"height\",\"mask\":\"000.0\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":40,\"maximum\":220,\"regexp\":\"[0-9]{3}.[0-9]\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: lengte in cm!\",\"level\":\"warning\"}]},{\"label\":\"Datum van bepaling\",\"name\":\"datum_van_bepaling\",\"type\":\"date\",\"database_id\":\"dheight\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]},{\"label\":\"Gewicht\",\"name\":\"gewicht\",\"type\":\"fieldset\",\"fields\":[{\"label\":\"Gewicht (kg)\",\"name\":\"gewicht_kg\",\"type\":\"number\",\"database_id\":\"weight\",\"mask\":\"000.0\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":2,\"maximum\":200,\"regexp\":\"[0-9]{3}.[0-9]\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: gewicht in kg!\",\"level\":\"warning\"}]},{\"label\":\"Datum van bepaling\",\"name\":\"datum_van_bepaling\",\"type\":\"date\",\"database_id\":\"dweight\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]},{\"label\":\"Systolische bloeddruk\",\"name\":\"systolische_bloeddruk\",\"type\":\"fieldset\",\"fields\":[{\"label\":\"Systolische bloeddruk (mmHg)\",\"name\":\"systolische_bloeddruk_mmhg\",\"type\":\"number\",\"database_id\":\"sbp\",\"mask\":\"000.0\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":40,\"maximum\":250,\"regexp\":\"[0-9]{3}.[0-9]\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: systolische bloeddruk in mmHg!\",\"level\":\"warning\"}]},{\"label\":\"Datum van bepaling\",\"name\":\"datum_van_bepaling\",\"type\":\"date\",\"database_id\":\"datebp\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]},{\"label\":\"Diastolische bloeddruk\",\"name\":\"diastolische_bloeddruk\",\"type\":\"fieldset\",\"fields\":[{\"label\":\"Diastolische bloeddruk (mmHg)\",\"name\":\"diastolische_bloeddruk_mmhg\",\"type\":\"number\",\"database_id\":\"dbp\",\"mask\":\"000.0\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":40,\"maximum\":250,\"regexp\":\"[0-9]{3}.[0-9]\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: diastolische bloeddruk in mmHg!\",\"level\":\"warning\"}]},{\"label\":\"HbA1c (%)\",\"name\":\"hba1c_\",\"type\":\"number\",\"database_id\":\"hba1c\",\"mask\":\"00.0\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":2,\"maximum\":20,\"regexp\":\"[0-9]{2}.[0-9]\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: HbA1c in %!\",\"level\":\"warning\"}]},{\"label\":\"Datum van bepaling\",\"name\":\"datum_van_bepaling\",\"type\":\"date\",\"database_id\":\"dhba1c\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]},{\"label\":\"Aantal bepalingen van HbA1c in het voorbije kalenderjaar\",\"name\":\"aantal_bepalingen_van_hba1c_in_het_voorbije_kalenderjaar\",\"type\":\"number\",\"database_id\":\"hba1cdetn\",\"mask\":\"integer\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":1,\"maximum\":10,\"regexp\":\"[0-9]{2}\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: aantal HbA1c-bepalingen !\",\"level\":\"warning\"}]},{\"label\":\"Gemiddeld aantal glycemiemetingen per dag\",\"name\":\"gemiddeld_aantal_glycemiemetingen_per_dag\",\"type\":\"number\",\"database_id\":\"smbg\",\"mask\":\"integer\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Op basis van het geheugen van de glycemiemeter.\",\"validators\":[{\"minimum\":1,\"maximum\":15,\"regexp\":\"[0-9]{2}\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: aantal glycemiemetingen per dag!\",\"level\":\"warning\"}]},{\"label\":\"Aantal opnames voor (ernstige) diabetische ketoacidose tijdens de 12 maanden die de laatste consultatie voorafgingen\",\"name\":\"aantal_opnames_voor_ernstige_diabetische_ketoacidose_tijdens_de_12_maanden_die_de_laatste_consultatie_voorafgingen\",\"type\":\"number\",\"database_id\":\"dka\",\"mask\":\"integer\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Tel de \\\"inaugurale\\\" DKA niet mee\",\"validators\":[{\"minimum\":0,\"maximum\":10,\"regexp\":\"[0-9]{2}\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: aantal opnames voor een (ernstige) DKA per 12 maanden!\",\"level\":\"warning\"}]},{\"label\":\"Aantal gekende episodes van hypoglycemie tijdens de 3 maanden die de laatste consultatie voorafgingen\",\"name\":\"aantal_gekende_episodes_van_hypoglycemie_tijdens_de_3_maanden_die_de_laatste_consultatie_voorafgingen\",\"type\":\"number\",\"database_id\":\"hypo\",\"mask\":\"integer\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Definitie hypoglycemie ISPAD : minstens een van volgende kenmerken : \\n- Half-tot volledig onbewuste status waarbij patient hulp van derden nodig heeft\\n- Coma zonder of met convulsies \\n- Parenterale behandeling is nodig (IM glucagon of IV glucose)\",\"validators\":[{\"minimum\":0,\"maximum\":10,\"regexp\":\"[0-9]{2}\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: aantal ernstige hypoglycemieen per 3 maanden!\",\"level\":\"warning\"}]},{\"label\":\"Aantal consultaties in het diabetescentrum tijdens het afgelopen kalenderjaar\",\"name\":\"aantal_consultaties_in_het_diabetescentrum_tijdens_het_afgelopen_kalenderjaar\",\"type\":\"number\",\"database_id\":\"consultation\",\"mask\":\"integer\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":1,\"maximum\":20,\"regexp\":\"[0-9]{2}\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: aantal consultaties!\",\"level\":\"warning\"}]}]},{\"label\":\"Screenings\",\"name\":\"screenings\",\"fields\":[{\"label\":\"Coeliakie\",\"name\":\"coeliakie\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Gebeurde screening naar coeliakie?\",\"name\":\"gebeurde_screening_naar_coeliakie\",\"database_id\":\"scrcoel\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Screening coeliakie : onderzoek naar antistoffen\",\"fields\":[{\"label\":\"Indien ja, was het resultaat positief?\",\"name\":\"indien_ja,_was_het_resultaat_positief\",\"type\":\"boolean\",\"database_id\":\"rescoel\",\"source\":\"eMD\",\"required\":false,\"sent\":true},{\"label\":\"Datum van vaststelling\",\"name\":\"datum_van_vaststelling\",\"type\":\"date\",\"database_id\":\"drescoel\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"},{\"label\":\"Wordt de patient behandeld voor coeliakie?\",\"name\":\"wordt_de_patient_behandeld_voor_coeliakie\",\"type\":\"boolean\",\"database_id\":\"trcoel\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]}]},{\"label\":\"Schildklier-immuniteit\",\"name\":\"schildklierimmuniteit\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Gebeurde screening naar schildklierauto-immuniteit?\",\"name\":\"gebeurde_screening_naar_schildklierautoimmuniteit\",\"database_id\":\"scrthy\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"fields\":[{\"label\":\"Indien ja, was het resultaat positief?\",\"name\":\"indien_ja,_was_het_resultaat_positief\",\"type\":\"boolean\",\"database_id\":\"resthy\",\"source\":\"eMD\",\"required\":false,\"sent\":true},{\"label\":\"Datum van vaststelling\",\"name\":\"datum_van_vaststelling\",\"type\":\"date\",\"database_id\":\"dresthy\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]}]},{\"label\":\"Hypo- of hyperthyreoidie\",\"name\":\"hypo_of_hyperthyreodie\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Wordt de patient behandeld voor hypo- of hyperthyreoidie?\",\"name\":\"wordt_de_patient_behandeld_voor_hypo_of_hyperthyreodie\",\"database_id\":\"trthy\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]},{\"label\":\"Epilepsie\",\"name\":\"epilepsie\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Wordt de patient behandeld voor epilepsie?\",\"name\":\"wordt_de_patient_behandeld_voor_epilepsie\",\"database_id\":\"trepi\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]},{\"label\":\"Retinopathie\",\"name\":\"retinopathie\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Gebeurde screening naar retinopathie?\",\"name\":\"gebeurde_screening_naar_retinopathie\",\"database_id\":\"scrret\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Positief indien retinopathie aanwezig is \",\"fields\":[{\"label\":\"Indien ja, was het resultaat positief?\",\"name\":\"indien_ja,_was_het_resultaat_positief\",\"type\":\"boolean\",\"database_id\":\"resret\",\"source\":\"eMD\",\"required\":false,\"sent\":true},{\"label\":\"Datum van vaststelling\",\"name\":\"datum_van_vaststelling\",\"type\":\"date\",\"database_id\":\"dresret\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]}]},{\"label\":\"Nefropathie\",\"name\":\"nefropathie\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Gebeurde screening naar nefropathie?\",\"name\":\"gebeurde_screening_naar_nefropathie\",\"database_id\":\"scrneph\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"fields\":[{\"label\":\"Indien ja, was het resultaat positief?\",\"name\":\"indien_ja,_was_het_resultaat_positief\",\"type\":\"boolean\",\"database_id\":\"resneph\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Een diagnose van (micro)albuminurie is bevestigd als er in een periode van 3 tot 6 maanden, 2 van de 3 testresultaten abnormaal zijn, en dit na uitsluiten van andere factoren (fysieke inspanning, urineweginfecties, menstruatie, voedingsgewoonten,...)\\nEen abnormaal testresultaat wordt als volgt gedefinieerd:\\n- Timed collection: albumin excretion rate (AER) â‰¥20 Î¼g/min or â‰¥30 mg/24 h\\n- Spot urine analysis: â‰¥30 mg/L or albumin/creatinine ratio (ACR) â‰¥2.5 mg/mmol (males) or â‰¥3.5 mg/mmol (females)\"},{\"label\":\"Datum van vaststelling\",\"name\":\"datum_van_vaststelling\",\"type\":\"date\",\"database_id\":\"dresneph\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]}]},{\"label\":\"Bloedlipiden\",\"name\":\"bloedlipiden\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Gebeurde bepaling van bloedlipiden?\",\"name\":\"gebeurde_bepaling_van_bloedlipiden\",\"database_id\":\"scrlip\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]},{\"label\":\"Neuropathie\",\"name\":\"neuropathie\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Gebeurde screening naar neuropathie?\",\"name\":\"gebeurde_screening_naar_neuropathie\",\"database_id\":\"scrneur\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]}]}]}]}",
                "version": "1.0",
                "language": "NL",
                "createdOn": "2014-09-08 16:17:15",
                "published": "false",
                "validFrom": "2014-01-01 00:00:00",
                "validTill": "2114-01-01 00:00:00",
                "dataCollectionUri": "http://localhost:8080/catalogue/datacollectiondefinitions/1"
            }

## Datacollection Definition - 2 [/datacollectiondefinitions/2]

### GET

+ Response 200 (application/json)
    + Body

            {
                "id": "2",
                "name": "BCFR",
                "description": "BCFR",
                "content": "{\"label\":\"BCFR\",\"conditions\":[{\"name\":\"deathvsbirthyear\",\"expression\":\"new Date($['background_data']['identification']['birth_date']).getFullYear() < new Date($['background_data']['identification']['deceased']['yes']['date_of_death']).getFullYear()\",\"errorMessage\":\"Year of death cannot precede year of birth.\"},{\"name\":\"diagnosisdate\",\"expression\":\"new Date($['background_data']['identification']['birth_date']).setMonth(new Date($['background_data']['identification']['birth_date']).getMonth() - 2) <= new Date($['background_data']['diagnosis']['date_of_clinical_diagnosis'])\",\"errorMessage\":\"Diagnosis possible at a gestational age of 7 months at the earliest.\"},{\"name\":\"sweattestdate\",\"expression\":\"new Date($['background_data']['identification']['birth_date']) <= new Date($['background_data']['sweat_test']['date_of_sweat_test'])\",\"errorMessage\":\"Sweat test date must be >= birthdate.\"},{\"name\":\"genotype date\",\"expression\":\"new Date($['background_data']['identification']['birth_date']).setMonth(new Date($['background_data']['identification']['birth_date']).getMonth() - 2) <= new Date($['background_data']['genotype']['legacy_name'])\",\"errorMessage\":\"Genotype possible at a gestational age of 7 months at the earliest.\"},{\"name\":\"transepithelialpotentialdate\",\"expression\":\"new Date($['background_data']['identification']['birth_date']) <= new Date($['background_data']['nasal_transepithelial_potential_difference']['date_transepithelial_potential_difference'])\",\"errorMessage\":\"Trans Epithelial Potential Date date must be >= birthdate\"},{\"name\":\"consultationdate\",\"expression\":\"new Date($['data_collection']['observation']['last_consultation_of_the_year']['date_consultation']).getFullYear() === $['background_data']['collect_year']\",\"errorMessage\":\"Year of the most recent consultation date must match with the year of the data collection.\"},{\"name\":\"fev1fvc\",\"expression\":\"$['data_collection']['observation']['last_consultation_of_the_year']['lung_function']['fev1'] <= $['data_collection']['observation']['last_consultation_of_the_year']['lung_function']['fvc']\",\"errorMessage\":\"Lung function: FEV1 must be smaller than FVC.\"},{\"name\":\"bestlungfxdate\",\"expression\":\"new Date($['data_collection']['observation']['the_best_lung_function_of_the_year']['date_of_best_lungfx']).getFullYear() === $['background_data']['collect_year']\",\"errorMessage\":\"Year of the date of the best lung function must match with the year of the data collection.\"},{\"name\":\"fev1fvcbest\",\"expression\":\"$['data_collection']['observation']['the_best_lung_function_of_the_year']['fev1'] <= $['data_collection']['observation']['the_best_lung_function_of_the_year']['fvc']\",\"errorMessage\":\"Best lung function: FEV1 must be smaller than FVC.\"},{\"name\":\"dexadate\",\"expression\":\"new Date($['data_collection']['complications']['other_complications']['date_of_most_recent_dexa']).getFullYear() <= $['background_data']['collect_year']\",\"errorMessage\":\"Year of the DEXA date must be smaller or equal to the year of the data collection.\"}],\"sections\":[{\"label\":\"Background data\",\"name\":\"background_data\",\"fields\":[{\"label\":\"Patient Code\",\"name\":\"patient_code\",\"type\":\"number\",\"database_id\":\"patient_id\",\"required\":true},{\"label\":\"Patient Code Old\",\"name\":\"patient_code_old\",\"type\":\"number\",\"database_id\":\"patient_id_old\",\"required\":true},{\"label\":\"Patient Code New\",\"name\":\"patient_code_new\",\"type\":\"number\",\"database_id\":\"PatientIdNew\",\"required\":true},{\"label\":\"Collect year\",\"name\":\"collect_year\",\"type\":\"number\",\"database_id\":\"collect_year\",\"read-only\":true,\"required\":true}],\"sections\":[{\"label\":\"Identification\",\"name\":\"identification\",\"fields\":[{\"label\":\"NISS\",\"name\":\"niss\",\"type\":\"text\",\"database_id\":\"coded_NISS\",\"mask\":\"xxxxxx-xxx-xx\",\"source\":\"National registry\",\"required\":true,\"sent\":false},{\"label\":\"Name\",\"name\":\"name\",\"type\":\"text\",\"required\":false,\"sent\":false},{\"label\":\"First Name\",\"name\":\"first_name\",\"type\":\"text\",\"required\":false,\"sent\":false},{\"label\":\"Gender\",\"name\":\"gender\",\"type\":\"choice\",\"choices\":[{\"label\":\"Male\",\"name\":\"male\",\"database_id\":\"1\"},{\"label\":\"Female\",\"name\":\"female\",\"database_id\":\"2\"}],\"database_id\":\"gender\",\"source\":\"National registry\",\"required\":true},{\"label\":\"Birth Date\",\"name\":\"birth_date\",\"type\":\"date\",\"database_id\":\"birthDate\",\"source\":\"National registry\",\"required\":false},{\"label\":\"Birth Year\",\"name\":\"birth_year\",\"type\":\"number\",\"database_id\":\"birthYear\",\"rule\":\"= new Date($['background_data']['identification']['birth_date']).getFullYear()\",\"read-only\":true,\"required\":true},{\"label\":\"Birth Month\",\"name\":\"birth_month\",\"type\":\"number\",\"database_id\":\"birthMonth\",\"rule\":\"= new Date($['background_data']['identification']['birth_date']).getMonth()\",\"read-only\":true,\"required\":true},{\"label\":\"Age\",\"name\":\"age\",\"type\":\"number\",\"database_id\":\"age\",\"rule\":\"= new Date($['background_data']['collect_year']) - new Date($['background_data']['identification']['birth_date'])\",\"read-only\":true,\"required\":true},{\"label\":\"District\",\"name\":\"district\",\"type\":\"choice\",\"choices\":[{\"label\":\"Aartselaar\",\"name\":\"aartselaar\",\"database_id\":\"11001\"},{\"label\":\"Antwerpen\",\"name\":\"antwerpen\",\"database_id\":\"11002\"},{\"label\":\"Boechout\",\"name\":\"boechout\",\"database_id\":\"11004\"},{\"label\":\"Boom\",\"name\":\"boom\",\"database_id\":\"11005\"},{\"label\":\"Borsbeek\",\"name\":\"borsbeek\",\"database_id\":\"11007\"},{\"label\":\"Brasschaat\",\"name\":\"brasschaat\",\"database_id\":\"11008\"}],\"database_id\":\"District\",\"source\":\"National registry\",\"required\":true},{\"label\":\"Deceased\",\"name\":\"deceased\",\"type\":\"choice\",\"database_id\":\"deceased\",\"source\":\"National registry\",\"required\":false,\"choices\":[{\"label\":\"Yes\",\"name\":\"yes\",\"fields\":[{\"label\":\"Date of Death\",\"name\":\"date_of_death\",\"type\":\"date\",\"database_id\":\"deathDate\",\"source\":\"National registry\",\"required\":false},{\"label\":\"Death Year\",\"name\":\"death_year\",\"type\":\"number\",\"database_id\":\"deathYear\",\"rule\":\"= new Date($['background_data']['identification']['deceased']['yes']['date_of_death']).getFullYear()\",\"read-only\":true},{\"label\":\"Death Month\",\"name\":\"death_month\",\"type\":\"number\",\"database_id\":\"deathMonth + deathYear\",\"rule\":\"= new Date($['background_data']['identification']['deceased']['yes']['date_of_death']).getMonth()\",\"read-only\":true}]},{\"label\":\"No\",\"name\":\"no\",\"database_id\":\"deathYear\",\"source\":\"National registry\",\"required\":false}]},{\"label\":\"Order in the family\",\"name\":\"order_in_the_family\",\"type\":\"number\",\"database_id\":\"familyRank\",\"required\":true,\"validators\":[{\"minimum\":1,\"maximum\":20,\"errorMessage\":\"Order in the family must be > 0 and <= 20\",\"level\":\"warning\"}]},{\"label\":\"Country of origin mother\",\"name\":\"country_of_origin_mother\",\"type\":\"choice\",\"choices\":[{\"label\":\"Algeria\",\"name\":\"algeria\",\"database_id\":\"1\"},{\"label\":\"Belgium\",\"name\":\"belgium\",\"database_id\":\"2\"},{\"label\":\"Brazil\",\"name\":\"brazil\",\"database_id\":\"3\"},{\"label\":\"Canada\",\"name\":\"canada\",\"database_id\":\"4\"},{\"label\":\"Chile \",\"name\":\"chile_\",\"database_id\":\"5\"},{\"label\":\"Colombia \",\"name\":\"colombia_\",\"database_id\":\"6\"}],\"database_id\":\"CountryBirthMother\",\"required\":true},{\"label\":\"Country of origin father\",\"name\":\"country_of_origin_father\",\"type\":\"choice\",\"choices\":[{\"label\":\"Algeria\",\"name\":\"algeria\",\"database_id\":\"1\"},{\"label\":\"Belgium\",\"name\":\"belgium\",\"database_id\":\"2\"},{\"label\":\"Brazil\",\"name\":\"brazil\",\"database_id\":\"3\"},{\"label\":\"Canada\",\"name\":\"canada\",\"database_id\":\"4\"},{\"label\":\"Chile \",\"name\":\"chile_\",\"database_id\":\"5\"},{\"label\":\"Colombia \",\"name\":\"colombia_\",\"database_id\":\"6\"}],\"database_id\":\"CountryBirthFather\",\"required\":true},{\"label\":\"Height father\",\"name\":\"height_father\",\"type\":\"number\",\"database_id\":\"FatherHeightInCm\",\"required\":true,\"validators\":[{\"minimum\":120,\"maximum\":220,\"errorMessage\":\"Height must be >= 120 cm and <= 220 cm\",\"level\":\"warning\"}]},{\"label\":\"(Height father) measured\",\"name\":\"height_father_measured\",\"type\":\"boolean\",\"database_id\":\"FatherHeightMeas\",\"required\":true},{\"label\":\"Height mother\",\"name\":\"height_mother\",\"type\":\"number\",\"database_id\":\"MotherHeightInCm\",\"required\":true,\"validators\":[{\"minimum\":120,\"maximum\":220,\"errorMessage\":\"Height must be >= 120 cm and <= 220 cm\",\"level\":\"warning\"}]},{\"label\":\"(Height mother) measured\",\"name\":\"height_mother_measured\",\"type\":\"boolean\",\"database_id\":\"MotherHeightMeas\",\"required\":true},{\"label\":\"Received transplant\",\"name\":\"received_transplant\",\"type\":\"choice\",\"choices\":[{\"label\":\"No\",\"name\":\"no\",\"database_id\":\"1\"},{\"label\":\"Yes\",\"name\":\"yes\",\"database_id\":\"2\"},{\"label\":\"Missing Data\",\"name\":\"missing_data\",\"database_id\":\"999\"}],\"database_id\":\"ReceivedTransplantYesNo\",\"required\":true},{\"label\":\"Diagnosis confirmed\",\"name\":\"diagnosis_confirmed\",\"type\":\"choice\",\"choices\":[{\"label\":\"No\",\"name\":\"no\",\"database_id\":\"1\"},{\"label\":\"Yes\",\"name\":\"yes\",\"database_id\":\"2\"},{\"label\":\"To be confirmed\",\"name\":\"to_be_confirmed\",\"database_id\":\"3\"},{\"label\":\"Unknown\",\"name\":\"unknown\",\"database_id\":\"4\"},{\"label\":\"Missing Data\",\"name\":\"missing_data\",\"database_id\":\"999\"}],\"database_id\":\"DiagnosisConfirmed\",\"required\":true,\"help\":\"To determine if the diagnosis is confirmed, please use the inclusion criteria of the European CFS Patient Registry (ECFSPR).\\nOnly patients who fulfil the diagnostic criteria below should be included in the registry.\\na. Two sweat tests > 60 mmol/L chloride : CF diagnosis accepted\\nb. One sweat test > 60 mmol/L AND DNA Analysis/Genotyping Ð two identified disease causing CF mutations : CF diagnosis accepted\\nc. Sweat Value less than or equal to 60 mmol/L : if the sweat value is less than or equal to 60 mmol/L, then at least 2 of these should be fulfilled\\ni. DNA Analysis/Genotyping Ð two identified disease causing CF mutations. \\nii. Transepithelial (Nasal) Potential Difference Ð Study consistent with a diagnosis of CF. \\niii. Clinical Presentation Ð typical features of CF.\\n\"}]},{\"label\":\"Diagnosis\",\"name\":\"diagnosis\",\"fields\":[{\"label\":\"Date of clinical diagnosis\",\"name\":\"date_of_clinical_diagnosis\",\"type\":\"date\",\"database_id\":\"date_diagnosis\",\"required\":true,\"help\":\"The date of clinical diagnosis is the date when the physician considers the person as patient with CF.\"},{\"label\":\"Symptoms\",\"name\":\"symptoms\",\"type\":\"multichoice\",\"required\":true,\"choices\":[{\"label\":\"Respiratory problems\",\"name\":\"respiratory_problems\",\"database_id\":\"AcRecRespiratoryProblems\"},{\"label\":\"Nasal polyposis/chronic sinusitis\",\"name\":\"nasal_polyposischronic_sinusitis\",\"database_id\":\"NasalPolyp_ChronicSinus\"},{\"label\":\"Chronic dia-/steatorrhea/malabsorption\",\"name\":\"chronic_diasteatorrheamalabsorption\",\"database_id\":\"Diarrhea_ChronicSteaMalab\"},{\"label\":\"Meconium ileus\",\"name\":\"meconium_ileus\",\"database_id\":\"MeconiumIleus\"},{\"label\":\"Intestinal obstruction (other than meconium ileus)\",\"name\":\"intestinal_obstruction_other_than_meconium_ileus\",\"database_id\":\"IntestinalObstruction\"},{\"label\":\"Rectal prolapse\",\"name\":\"rectal_prolapse\",\"database_id\":\"RectalProlapse\"},{\"label\":\"Dehydration/electrolyte imbalance\",\"name\":\"dehydrationelectrolyte_imbalance\",\"database_id\":\"Dehydratation_ElectrolyteImbalance\"},{\"label\":\"Failure to thrive\",\"name\":\"failure_to_thrive\",\"database_id\":\"FailureToThrive\"},{\"label\":\"Prenatal diagnosis\",\"name\":\"prenatal_diagnosis\",\"database_id\":\"PreNatalDiagnosis\"},{\"label\":\"Neonatal screening test\",\"name\":\"neonatal_screening_test\",\"database_id\":\"NeoNatalScreening\"},{\"label\":\"Prolonged icterus\",\"name\":\"prolonged_icterus\",\"database_id\":\"NeoNatalIcterus\"},{\"label\":\"Family history\",\"name\":\"family_history\",\"database_id\":\"FamilyHistory\"},{\"label\":\"Infertility\",\"name\":\"infertility\",\"database_id\":\"Infertility\"},{\"label\":\"Other\",\"name\":\"other\",\"database_id\":\"DiagnoseAssumptionsOthersYesNO\",\"fields\":[{\"label\":\"Specify\",\"name\":\"specify\",\"type\":\"text\",\"database_id\":\"DiagnoseAssumptionsOthersSpecification\"}]},{\"label\":\"Missing data\",\"name\":\"missing_data\",\"database_id\":\"DiagnoseAssumptionsMissingData\"}]},{\"label\":\"Neonatal screening test\",\"name\":\"neonatal_screening_test\",\"type\":\"choice\",\"choices\":[{\"label\":\"Unknown\",\"name\":\"unknown\",\"database_id\":\"0\"},{\"label\":\"Not done\",\"name\":\"not_done\",\"database_id\":\"1\"},{\"label\":\"Performed positive\",\"name\":\"performed_positive\",\"database_id\":\"2\"},{\"label\":\"Performed negative\",\"name\":\"performed_negative\",\"database_id\":\"3\"},{\"label\":\"Performed result unknown\",\"name\":\"performed_result_unknown\",\"database_id\":\"4\"},{\"label\":\"Missing Data\",\"name\":\"missing_data\",\"database_id\":\"999\"}],\"database_id\":\"NeoNatalScrTest\",\"required\":true}]},{\"label\":\"Sweat Test\",\"name\":\"sweat_test\",\"fields\":[{\"label\":\"Date of sweat test\",\"name\":\"date_of_sweat_test\",\"type\":\"date\",\"database_id\":\"SweatTestDate\",\"required\":true,\"help\":\"Give the date and results of the first sweat test or the oldest known test.\"},{\"label\":\"Type of sweat test\",\"name\":\"type_of_sweat_test\",\"type\":\"choice\",\"choices\":[{\"label\":\"Unknown\",\"name\":\"unknown\",\"database_id\":\"0\"},{\"label\":\"Pilocarpine Iontoforesis\",\"name\":\"pilocarpine_iontoforesis\",\"database_id\":\"1\"},{\"label\":\"Conductivity\",\"name\":\"conductivity\",\"database_id\":\"3\"},{\"label\":\"Missing Data\",\"name\":\"missing_data\",\"database_id\":\"999\"}],\"database_id\":\"SweatTestType\",\"required\":true},{\"label\":\"Sweat test Collected by\",\"name\":\"sweat_test_collected_by\",\"type\":\"choice\",\"choices\":[{\"label\":\"Unknown\",\"name\":\"unknown\",\"database_id\":\"0\"},{\"label\":\"Gauze pad\",\"name\":\"gauze_pad\",\"database_id\":\"1\"},{\"label\":\"Wescor nanoduct\",\"name\":\"wescor_nanoduct\",\"database_id\":\"2\"},{\"label\":\"Wescor macroduct\",\"name\":\"wescor_macroduct\",\"database_id\":\"3\"},{\"label\":\"Missing Data\",\"name\":\"missing_data\",\"database_id\":\"999\"}],\"database_id\":\"SweatTestCollection\",\"required\":true},{\"label\":\"Chloride\",\"name\":\"chloride\",\"type\":\"number\",\"database_id\":\"SweatTestChloride\",\"required\":true,\"validators\":[{\"minimum\":5,\"maximum\":160,\"errorMessage\":\"Chloride must be between 5 and 160\",\"level\":\"warning\"}]},{\"label\":\"Sodium \",\"name\":\"sodium_\",\"type\":\"number\",\"database_id\":\"SweatTestSodium\",\"required\":true,\"validators\":[{\"minimum\":5,\"maximum\":160,\"errorMessage\":\"Sodium must be between 5 and 160\",\"level\":\"warning\"}]}]},{\"label\":\"Genotype\",\"name\":\"genotype\",\"fields\":[{\"label\":\"Legacy Name\",\"name\":\"legacy_name\",\"type\":\"fieldset\",\"help\":\"Please report always the legacy name, if known.\",\"fields\":[{\"label\":\"Date of genotype\",\"name\":\"date_of_genotype\",\"type\":\"date\",\"database_id\":\"GenotypeDate\",\"required\":true},{\"label\":\"Chromosome 1 \",\"name\":\"chromosome_1_\",\"type\":\"choice\",\"choices\":[{\"label\":\"not identified\",\"name\":\"not_identified\",\"database_id\":\"0\"},{\"label\":\"df508\",\"name\":\"df508\",\"database_id\":\"1\"},{\"label\":\"G542X\",\"name\":\"g542x\",\"database_id\":\"2\"},{\"label\":\"G551D\",\"name\":\"g551d\",\"database_id\":\"3\"},{\"label\":\"W1282X\",\"name\":\"w1282x\",\"database_id\":\"4\"},{\"label\":\"N1303K\",\"name\":\"n1303k\",\"database_id\":\"5\"},{\"label\":\"R553X\",\"name\":\"r553x\",\"database_id\":\"6\"},{\"label\":\"621+1G->T\",\"name\":\"6211gt\",\"database_id\":\"7\"},{\"label\":\"3849+10kbC->T\",\"name\":\"384910kbct\",\"database_id\":\"8\"},{\"label\":\"1717-1G->A\",\"name\":\"17171ga\",\"database_id\":\"9\"},{\"label\":\"R117H\",\"name\":\"r117h\",\"database_id\":\"10\"},{\"label\":\"G85E\",\"name\":\"g85e\",\"database_id\":\"11\"},{\"label\":\"R347P\",\"name\":\"r347p\",\"database_id\":\"12\"},{\"label\":\"[delta]I507\",\"name\":\"deltai507\",\"database_id\":\"13\"},{\"label\":\"2789+5G->A\",\"name\":\"27895ga\",\"database_id\":\"14\"},{\"label\":\"R1162X\",\"name\":\"r1162x\",\"database_id\":\"15\"},{\"label\":\"R560T\",\"name\":\"r560t\",\"database_id\":\"16\"},{\"label\":\"R334W\",\"name\":\"r334w\",\"database_id\":\"17\"},{\"label\":\"2184delA\",\"name\":\"2184dela\",\"database_id\":\"20\"},{\"label\":\"711+1G->T\",\"name\":\"7111gt\",\"database_id\":\"21\"},{\"label\":\"1078delT\",\"name\":\"1078delt\",\"database_id\":\"22\"},{\"label\":\"A455E\",\"name\":\"a455e\",\"database_id\":\"23\"},{\"label\":\"3659delC\",\"name\":\"3659delc\",\"database_id\":\"24\"},{\"label\":\"S1251N\",\"name\":\"s1251n\",\"database_id\":\"25\"},{\"label\":\"E60X\",\"name\":\"e60x\",\"database_id\":\"26\"},{\"label\":\"394delTT\",\"name\":\"394deltt\",\"database_id\":\"28\"},{\"label\":\"2183AA->G\",\"name\":\"2183aag\",\"database_id\":\"35\"},{\"label\":\"3272-26A->G\",\"name\":\"327226ag\",\"database_id\":\"45\"},{\"label\":\"3120+1G->A\",\"name\":\"31201ga\",\"database_id\":\"47\"},{\"label\":\"1898+1G->A\",\"name\":\"18981ga\",\"database_id\":\"61\"},{\"label\":\"I148T\",\"name\":\"i148t\",\"database_id\":\"67\"},{\"label\":\"2143delT\",\"name\":\"2143delt\",\"database_id\":\"74\"},{\"label\":\"Q552X\",\"name\":\"q552x\",\"database_id\":\"90\"},{\"label\":\"Del exon 2-3\",\"name\":\"del_exon_23\",\"database_id\":\"116\"},{\"label\":\"3905insT\",\"name\":\"3905inst\",\"database_id\":\"117\"},{\"label\":\"3199del6\",\"name\":\"3199del6\",\"database_id\":\"118\"},{\"label\":\"711+5G->A\",\"name\":\"7115ga\",\"database_id\":\"119\"},{\"label\":\"missing data\",\"name\":\"missing_data\",\"database_id\":\"999\"},{\"label\":\"not done\",\"name\":\"not_done\",\"database_id\":\"120\"},{\"label\":\"other\",\"name\":\"other\",\"database_id\":\"121\"}],\"database_id\":\"Chromosome_1\",\"required\":true},{\"label\":\"Chromosome 1 Other\",\"name\":\"chromosome_1_other\",\"type\":\"text\",\"database_id\":\"Chromosome_1_Other\",\"required\":true},{\"label\":\"T Status 1\",\"name\":\"t_status_1\",\"type\":\"choice\",\"choices\":[{\"label\":\"Not applicable\",\"name\":\"not_applicable\",\"database_id\":\"0\"},{\"label\":\"5T\",\"name\":\"5t\",\"database_id\":\"1\"},{\"label\":\"7T\",\"name\":\"7t\",\"database_id\":\"2\"},{\"label\":\"9T\",\"name\":\"9t\",\"database_id\":\"3\"},{\"label\":\"Missing Data\",\"name\":\"missing_data\",\"database_id\":\"999\"}],\"database_id\":\"Chromosome_1_Tstatus\",\"required\":true},{\"label\":\"Chromosome 2\",\"name\":\"chromosome_2\",\"type\":\"choice\",\"choices\":[{\"label\":\"not identified\",\"name\":\"not_identified\",\"database_id\":\"0\"},{\"label\":\"df508\",\"name\":\"df508\",\"database_id\":\"1\"},{\"label\":\"G542X\",\"name\":\"g542x\",\"database_id\":\"2\"},{\"label\":\"G551D\",\"name\":\"g551d\",\"database_id\":\"3\"},{\"label\":\"W1282X\",\"name\":\"w1282x\",\"database_id\":\"4\"},{\"label\":\"N1303K\",\"name\":\"n1303k\",\"database_id\":\"5\"},{\"label\":\"R553X\",\"name\":\"r553x\",\"database_id\":\"6\"},{\"label\":\"621+1G->T\",\"name\":\"6211gt\",\"database_id\":\"7\"},{\"label\":\"3849+10kbC->T\",\"name\":\"384910kbct\",\"database_id\":\"8\"},{\"label\":\"1717-1G->A\",\"name\":\"17171ga\",\"database_id\":\"9\"},{\"label\":\"R117H\",\"name\":\"r117h\",\"database_id\":\"10\"},{\"label\":\"G85E\",\"name\":\"g85e\",\"database_id\":\"11\"},{\"label\":\"R347P\",\"name\":\"r347p\",\"database_id\":\"12\"},{\"label\":\"[delta]I507\",\"name\":\"deltai507\",\"database_id\":\"13\"},{\"label\":\"2789+5G->A\",\"name\":\"27895ga\",\"database_id\":\"14\"},{\"label\":\"R1162X\",\"name\":\"r1162x\",\"database_id\":\"15\"},{\"label\":\"R560T\",\"name\":\"r560t\",\"database_id\":\"16\"},{\"label\":\"R334W\",\"name\":\"r334w\",\"database_id\":\"17\"},{\"label\":\"2184delA\",\"name\":\"2184dela\",\"database_id\":\"20\"},{\"label\":\"711+1G->T\",\"name\":\"7111gt\",\"database_id\":\"21\"},{\"label\":\"1078delT\",\"name\":\"1078delt\",\"database_id\":\"22\"},{\"label\":\"A455E\",\"name\":\"a455e\",\"database_id\":\"23\"},{\"label\":\"3659delC\",\"name\":\"3659delc\",\"database_id\":\"24\"},{\"label\":\"S1251N\",\"name\":\"s1251n\",\"database_id\":\"25\"},{\"label\":\"E60X\",\"name\":\"e60x\",\"database_id\":\"26\"},{\"label\":\"394delTT\",\"name\":\"394deltt\",\"database_id\":\"28\"},{\"label\":\"2183AA->G\",\"name\":\"2183aag\",\"database_id\":\"35\"},{\"label\":\"3272-26A->G\",\"name\":\"327226ag\",\"database_id\":\"45\"},{\"label\":\"3120+1G->A\",\"name\":\"31201ga\",\"database_id\":\"47\"},{\"label\":\"1898+1G->A\",\"name\":\"18981ga\",\"database_id\":\"61\"},{\"label\":\"I148T\",\"name\":\"i148t\",\"database_id\":\"67\"},{\"label\":\"2143delT\",\"name\":\"2143delt\",\"database_id\":\"74\"},{\"label\":\"Q552X\",\"name\":\"q552x\",\"database_id\":\"90\"},{\"label\":\"Del exon 2-3\",\"name\":\"del_exon_23\",\"database_id\":\"116\"},{\"label\":\"3905insT\",\"name\":\"3905inst\",\"database_id\":\"117\"},{\"label\":\"3199del6\",\"name\":\"3199del6\",\"database_id\":\"118\"},{\"label\":\"711+5G->A\",\"name\":\"7115ga\",\"database_id\":\"119\"},{\"label\":\"missing data\",\"name\":\"missing_data\",\"database_id\":\"999\"},{\"label\":\"not done\",\"name\":\"not_done\",\"database_id\":\"120\"},{\"label\":\"other\",\"name\":\"other\",\"database_id\":\"121\"}],\"database_id\":\"Chromosome_2\",\"required\":true},{\"label\":\"Chromosome 2 Other\",\"name\":\"chromosome_2_other\",\"type\":\"text\",\"database_id\":\"Chromosome_2_Other\",\"required\":true},{\"label\":\"T Status 2\",\"name\":\"t_status_2\",\"type\":\"choice\",\"choices\":[{\"label\":\"Not applicable\",\"name\":\"not_applicable\",\"database_id\":\"0\"},{\"label\":\"5T\",\"name\":\"5t\",\"database_id\":\"1\"},{\"label\":\"7T\",\"name\":\"7t\",\"database_id\":\"2\"},{\"label\":\"9T\",\"name\":\"9t\",\"database_id\":\"3\"},{\"label\":\"Missing Data\",\"name\":\"missing_data\",\"database_id\":\"999\"}],\"database_id\":\"Chromosome_2_Tstatus\",\"required\":true}]},{\"label\":\"cDNA Name\",\"name\":\"cdna_name\",\"type\":\"fieldset\",\"source\":\"mapping from legacy variable\",\"read-only\":true,\"fields\":[{\"label\":\"Date genotype (new nomenclature)\",\"name\":\"date_genotype_new_nomenclature\",\"type\":\"date\",\"database_id\":\"GenotypeDate_New\",\"source\":\"mapping from legacy variable\",\"read-only\":true},{\"label\":\"Chromosome 1 (new nomenclature)\",\"name\":\"chromosome_1_new_nomenclature\",\"type\":\"choice\",\"choices\":[{\"label\":\"not identified\",\"name\":\"not_identified\",\"database_id\":\"0\"},{\"label\":\"c.1521_1523delCTT\",\"name\":\"c15211523delctt\",\"database_id\":\"1\"},{\"label\":\"c.1624G>T\",\"name\":\"c1624gt\",\"database_id\":\"2\"},{\"label\":\"c.1652G>A\",\"name\":\"c1652ga\",\"database_id\":\"3\"},{\"label\":\"c.3846G>A\",\"name\":\"c3846ga\",\"database_id\":\"4\"},{\"label\":\"c.3909C>G\",\"name\":\"c3909cg\",\"database_id\":\"5\"},{\"label\":\"c.1657C>T\",\"name\":\"c1657ct\",\"database_id\":\"6\"},{\"label\":\"c.489+1G>T\",\"name\":\"c4891gt\",\"database_id\":\"7\"},{\"label\":\"c.3717+12191C>T\",\"name\":\"c371712191ct\",\"database_id\":\"8\"},{\"label\":\"c.1585-1G>A\",\"name\":\"c15851ga\",\"database_id\":\"9\"},{\"label\":\"c.350G>A\",\"name\":\"c350ga\",\"database_id\":\"10\"},{\"label\":\"c.254G>A\",\"name\":\"c254ga\",\"database_id\":\"11\"},{\"label\":\"c.1040G>C\",\"name\":\"c1040gc\",\"database_id\":\"12\"},{\"label\":\"c.1519_1521delATC\",\"name\":\"c15191521delatc\",\"database_id\":\"13\"},{\"label\":\"c.2657+5G>A\",\"name\":\"c26575ga\",\"database_id\":\"14\"},{\"label\":\"c.3484C>T\",\"name\":\"c3484ct\",\"database_id\":\"15\"},{\"label\":\"c.1679G>C\",\"name\":\"c1679gc\",\"database_id\":\"16\"},{\"label\":\"c.1000C>T\",\"name\":\"c1000ct\",\"database_id\":\"17\"},{\"label\":\"c.2052delA\",\"name\":\"c2052dela\",\"database_id\":\"20\"},{\"label\":\"c.579+1G>T\",\"name\":\"c5791gt\",\"database_id\":\"21\"},{\"label\":\"c.946delT\",\"name\":\"c946delt\",\"database_id\":\"22\"},{\"label\":\"c.1364C>A\",\"name\":\"c1364ca\",\"database_id\":\"23\"},{\"label\":\"c.3527delC\",\"name\":\"c3527delc\",\"database_id\":\"24\"},{\"label\":\"c.3752G>A\",\"name\":\"c3752ga\",\"database_id\":\"25\"},{\"label\":\"c.178G>T\",\"name\":\"c178gt\",\"database_id\":\"26\"},{\"label\":\"c.262_263delTT\",\"name\":\"c262263deltt\",\"database_id\":\"28\"},{\"label\":\"c.2051A>G\",\"name\":\"c2051ag\",\"database_id\":\"35\"},{\"label\":\"c.3140-26A>G\",\"name\":\"c314026ag\",\"database_id\":\"45\"},{\"label\":\"c.2988+1G>A\",\"name\":\"c29881ga\",\"database_id\":\"47\"},{\"label\":\"c.1766+1G>A\",\"name\":\"c17661ga\",\"database_id\":\"61\"},{\"label\":\"c.443T>C\",\"name\":\"c443tc\",\"database_id\":\"67\"},{\"label\":\"c.2011delT\",\"name\":\"c2011delt\",\"database_id\":\"74\"},{\"label\":\"c.1654C>T\",\"name\":\"c1654ct\",\"database_id\":\"90\"},{\"label\":\"c.54-5940_273+10250del21kb\",\"name\":\"c54594027310250del21kb\",\"database_id\":\"116\"},{\"label\":\"c.3773_3774insT\",\"name\":\"c37733774inst\",\"database_id\":\"117\"},{\"label\":\"c.3067_3072delATAGTG\",\"name\":\"c30673072delatagtg\",\"database_id\":\"118\"},{\"label\":\"c.579+5G>A\",\"name\":\"c5795ga\",\"database_id\":\"119\"},{\"label\":\"Missing data\",\"name\":\"missing_data\",\"database_id\":\"999\"},{\"label\":\"not done\",\"name\":\"not_done\",\"database_id\":\"120\"},{\"label\":\"other \",\"name\":\"other_\",\"database_id\":\"121\"}],\"database_id\":\"Chromosome_1_New\",\"source\":\"mapping from legacy variable\",\"read-only\":true},{\"label\":\"Chromosome 1 other (new nomenclature)\",\"name\":\"chromosome_1_other_new_nomenclature\",\"type\":\"text\",\"database_id\":\"Chromosome_1_Other_New\",\"source\":\"mapping from legacy variable\",\"read-only\":true},{\"label\":\"T Status 1 (new nomenclature)\",\"name\":\"t_status_1_new_nomenclature\",\"type\":\"choice\",\"choices\":[{\"label\":\"Not applicable\",\"name\":\"not_applicable\",\"database_id\":\"0\"},{\"label\":\"c.1210-12T(5)\",\"name\":\"c121012t5\",\"database_id\":\"1\"},{\"label\":\"c.1210-12T(7)\",\"name\":\"c121012t7\",\"database_id\":\"2\"},{\"label\":\"c.1210-12T(9)\",\"name\":\"c121012t9\",\"database_id\":\"3\"},{\"label\":\"Missing Data\",\"name\":\"missing_data\",\"database_id\":\"999\"}],\"database_id\":\"Chromosome_1_Tstatus_New\",\"source\":\"mapping from legacy variable\",\"read-only\":true},{\"label\":\"Chromosome 2 (new nomenclature)\",\"name\":\"chromosome_2_new_nomenclature\",\"type\":\"choice\",\"choices\":[{\"label\":\"not identified\",\"name\":\"not_identified\",\"database_id\":\"0\"},{\"label\":\"c.1521_1523delCTT\",\"name\":\"c15211523delctt\",\"database_id\":\"1\"},{\"label\":\"c.1624G>T\",\"name\":\"c1624gt\",\"database_id\":\"2\"},{\"label\":\"c.1652G>A\",\"name\":\"c1652ga\",\"database_id\":\"3\"},{\"label\":\"c.3846G>A\",\"name\":\"c3846ga\",\"database_id\":\"4\"},{\"label\":\"c.3909C>G\",\"name\":\"c3909cg\",\"database_id\":\"5\"},{\"label\":\"c.1657C>T\",\"name\":\"c1657ct\",\"database_id\":\"6\"},{\"label\":\"c.489+1G>T\",\"name\":\"c4891gt\",\"database_id\":\"7\"},{\"label\":\"c.3717+12191C>T\",\"name\":\"c371712191ct\",\"database_id\":\"8\"},{\"label\":\"c.1585-1G>A\",\"name\":\"c15851ga\",\"database_id\":\"9\"},{\"label\":\"c.350G>A\",\"name\":\"c350ga\",\"database_id\":\"10\"},{\"label\":\"c.254G>A\",\"name\":\"c254ga\",\"database_id\":\"11\"},{\"label\":\"c.1040G>C\",\"name\":\"c1040gc\",\"database_id\":\"12\"},{\"label\":\"c.1519_1521delATC\",\"name\":\"c15191521delatc\",\"database_id\":\"13\"},{\"label\":\"c.2657+5G>A\",\"name\":\"c26575ga\",\"database_id\":\"14\"},{\"label\":\"c.3484C>T\",\"name\":\"c3484ct\",\"database_id\":\"15\"},{\"label\":\"c.1679G>C\",\"name\":\"c1679gc\",\"database_id\":\"16\"},{\"label\":\"c.1000C>T\",\"name\":\"c1000ct\",\"database_id\":\"17\"},{\"label\":\"c.2052delA\",\"name\":\"c2052dela\",\"database_id\":\"20\"},{\"label\":\"c.579+1G>T\",\"name\":\"c5791gt\",\"database_id\":\"21\"},{\"label\":\"c.946delT\",\"name\":\"c946delt\",\"database_id\":\"22\"},{\"label\":\"c.1364C>A\",\"name\":\"c1364ca\",\"database_id\":\"23\"},{\"label\":\"c.3527delC\",\"name\":\"c3527delc\",\"database_id\":\"24\"},{\"label\":\"c.3752G>A\",\"name\":\"c3752ga\",\"database_id\":\"25\"},{\"label\":\"c.178G>T\",\"name\":\"c178gt\",\"database_id\":\"26\"},{\"label\":\"c.262_263delTT\",\"name\":\"c262263deltt\",\"database_id\":\"28\"},{\"label\":\"c.2051A>G\",\"name\":\"c2051ag\",\"database_id\":\"35\"},{\"label\":\"c.3140-26A>G\",\"name\":\"c314026ag\",\"database_id\":\"45\"},{\"label\":\"c.2988+1G>A\",\"name\":\"c29881ga\",\"database_id\":\"47\"},{\"label\":\"c.1766+1G>A\",\"name\":\"c17661ga\",\"database_id\":\"61\"},{\"label\":\"c.443T>C\",\"name\":\"c443tc\",\"database_id\":\"67\"},{\"label\":\"c.2011delT\",\"name\":\"c2011delt\",\"database_id\":\"74\"},{\"label\":\"c.1654C>T\",\"name\":\"c1654ct\",\"database_id\":\"90\"},{\"label\":\"c.54-5940_273+10250del21kb\",\"name\":\"c54594027310250del21kb\",\"database_id\":\"116\"},{\"label\":\"c.3773_3774insT\",\"name\":\"c37733774inst\",\"database_id\":\"117\"},{\"label\":\"c.3067_3072delATAGTG\",\"name\":\"c30673072delatagtg\",\"database_id\":\"118\"},{\"label\":\"c.579+5G>A\",\"name\":\"c5795ga\",\"database_id\":\"119\"},{\"label\":\"Missing data\",\"name\":\"missing_data\",\"database_id\":\"999\"},{\"label\":\"not done\",\"name\":\"not_done\",\"database_id\":\"120\"},{\"label\":\"other \",\"name\":\"other_\",\"database_id\":\"121\"}],\"database_id\":\"Chromosome_2_New\",\"source\":\"mapping from legacy variable\",\"read-only\":true},{\"label\":\"Chromosome 2 other (new nomenclature)\",\"name\":\"chromosome_2_other_new_nomenclature\",\"type\":\"text\",\"database_id\":\"Chromosome_2_Other_New\",\"source\":\"mapping from legacy variable\",\"read-only\":true},{\"label\":\"T Status 2 (new nomenclature)\",\"name\":\"t_status_2_new_nomenclature\",\"type\":\"choice\",\"choices\":[{\"label\":\"Not applicable\",\"name\":\"not_applicable\",\"database_id\":\"0\"},{\"label\":\"c.1210-12T(5)\",\"name\":\"c121012t5\",\"database_id\":\"1\"},{\"label\":\"c.1210-12T(7)\",\"name\":\"c121012t7\",\"database_id\":\"2\"},{\"label\":\"c.1210-12T(9)\",\"name\":\"c121012t9\",\"database_id\":\"3\"},{\"label\":\"Missing Data\",\"name\":\"missing_data\",\"database_id\":\"999\"}],\"database_id\":\"Chromosome_2_Tstatus_New\",\"source\":\"mapping from legacy variable\",\"read-only\":true}]},{\"label\":\"Protein Name\",\"name\":\"protein_name\",\"type\":\"fieldset\",\"fields\":[{\"label\":\"Date of genotype (protein name)\",\"name\":\"date_of_genotype_protein_name\",\"type\":\"date\",\"database_id\":\"GenotypeDate_ProteinName\",\"source\":\"mapping from legacy variable\",\"read-only\":true},{\"label\":\"Chromosome 1 (Protein name) \",\"name\":\"chromosome_1_protein_name_\",\"type\":\"choice\",\"choices\":[{\"label\":\"not identified\",\"name\":\"not_identified\",\"database_id\":\"0\"},{\"label\":\"p.Phe508del\",\"name\":\"pphe508del\",\"database_id\":\"1\"},{\"label\":\"p.Gly542X\",\"name\":\"pgly542x\",\"database_id\":\"2\"},{\"label\":\"p.Gly551Asp\",\"name\":\"pgly551asp\",\"database_id\":\"3\"},{\"label\":\"p.Trp1282X\",\"name\":\"ptrp1282x\",\"database_id\":\"4\"},{\"label\":\"p.Asn1303Lys\",\"name\":\"pasn1303lys\",\"database_id\":\"5\"},{\"label\":\"p.Arg553X\",\"name\":\"parg553x\",\"database_id\":\"6\"},{\"label\":\"p.Arg117His\",\"name\":\"parg117his\",\"database_id\":\"10\"},{\"label\":\"p.Gly85Glu\",\"name\":\"pgly85glu\",\"database_id\":\"11\"},{\"label\":\"p.Arg347Pro\",\"name\":\"parg347pro\",\"database_id\":\"12\"},{\"label\":\"p.Ile507del\",\"name\":\"pile507del\",\"database_id\":\"13\"},{\"label\":\"p.Arg1162X\",\"name\":\"parg1162x\",\"database_id\":\"15\"},{\"label\":\"p.Arg560Thr\",\"name\":\"parg560thr\",\"database_id\":\"16\"},{\"label\":\"p.Arg334Trp\",\"name\":\"parg334trp\",\"database_id\":\"17\"},{\"label\":\"p.Lys684AsnfsX38\",\"name\":\"plys684asnfsx38\",\"database_id\":\"20\"},{\"label\":\"p.Phe316LeufsX12\",\"name\":\"pphe316leufsx12\",\"database_id\":\"22\"},{\"label\":\"p.Ala455Glu\",\"name\":\"pala455glu\",\"database_id\":\"23\"},{\"label\":\"p.Lys1177SerfsX15\",\"name\":\"plys1177serfsx15\",\"database_id\":\"24\"},{\"label\":\"p.Ser1251Asn\",\"name\":\"pser1251asn\",\"database_id\":\"25\"},{\"label\":\"p.Glu60X\",\"name\":\"pglu60x\",\"database_id\":\"26\"},{\"label\":\"p.Leu88IlefsX22\",\"name\":\"pleu88ilefsx22\",\"database_id\":\"28\"},{\"label\":\"p.Lys684SerfsX38\",\"name\":\"plys684serfsx38\",\"database_id\":\"35\"},{\"label\":\"p.Ile148Thr\",\"name\":\"pile148thr\",\"database_id\":\"67\"},{\"label\":\"p.Leu671X\",\"name\":\"pleu671x\",\"database_id\":\"74\"},{\"label\":\"p.Gln552X\",\"name\":\"pgln552x\",\"database_id\":\"90\"},{\"label\":\"p.Ser18ArgfsX16\",\"name\":\"pser18argfsx16\",\"database_id\":\"116\"},{\"label\":\"p.Leu1258PhefsX7\",\"name\":\"pleu1258phefsx7\",\"database_id\":\"117\"},{\"label\":\"p.Ile1023_Val1024del\",\"name\":\"pile1023val1024del\",\"database_id\":\"118\"},{\"label\":\"not done\",\"name\":\"not_done\",\"database_id\":\"120\"},{\"label\":\"other\",\"name\":\"other\",\"database_id\":\"121\"},{\"label\":\"missing data\",\"name\":\"missing_data\",\"database_id\":\"999\"}],\"database_id\":\"Chromosome_1_ProteinName \",\"source\":\"mapping from legacy variable\",\"read-only\":true},{\"label\":\"Chromosome 1 other (Protein name) \",\"name\":\"chromosome_1_other_protein_name_\",\"type\":\"text\",\"database_id\":\"Chromosome_1_Other_ ProteinName\",\"source\":\"mapping from legacy variable\",\"read-only\":true},{\"label\":\"Chromosome 2 (Protein name) \",\"name\":\"chromosome_2_protein_name_\",\"type\":\"choice\",\"choices\":[{\"label\":\"not identified\",\"name\":\"not_identified\",\"database_id\":\"0\"},{\"label\":\"p.Phe508del\",\"name\":\"pphe508del\",\"database_id\":\"1\"},{\"label\":\"p.Gly542X\",\"name\":\"pgly542x\",\"database_id\":\"2\"},{\"label\":\"p.Gly551Asp\",\"name\":\"pgly551asp\",\"database_id\":\"3\"},{\"label\":\"p.Trp1282X\",\"name\":\"ptrp1282x\",\"database_id\":\"4\"},{\"label\":\"p.Asn1303Lys\",\"name\":\"pasn1303lys\",\"database_id\":\"5\"},{\"label\":\"p.Arg553X\",\"name\":\"parg553x\",\"database_id\":\"6\"},{\"label\":\"p.Arg117His\",\"name\":\"parg117his\",\"database_id\":\"10\"},{\"label\":\"p.Gly85Glu\",\"name\":\"pgly85glu\",\"database_id\":\"11\"},{\"label\":\"p.Arg347Pro\",\"name\":\"parg347pro\",\"database_id\":\"12\"},{\"label\":\"p.Ile507del\",\"name\":\"pile507del\",\"database_id\":\"13\"},{\"label\":\"p.Arg1162X\",\"name\":\"parg1162x\",\"database_id\":\"15\"},{\"label\":\"p.Arg560Thr\",\"name\":\"parg560thr\",\"database_id\":\"16\"},{\"label\":\"p.Arg334Trp\",\"name\":\"parg334trp\",\"database_id\":\"17\"},{\"label\":\"p.Lys684AsnfsX38\",\"name\":\"plys684asnfsx38\",\"database_id\":\"20\"},{\"label\":\"p.Phe316LeufsX12\",\"name\":\"pphe316leufsx12\",\"database_id\":\"22\"},{\"label\":\"p.Ala455Glu\",\"name\":\"pala455glu\",\"database_id\":\"23\"},{\"label\":\"p.Lys1177SerfsX15\",\"name\":\"plys1177serfsx15\",\"database_id\":\"24\"},{\"label\":\"p.Ser1251Asn\",\"name\":\"pser1251asn\",\"database_id\":\"25\"},{\"label\":\"p.Glu60X\",\"name\":\"pglu60x\",\"database_id\":\"26\"},{\"label\":\"p.Leu88IlefsX22\",\"name\":\"pleu88ilefsx22\",\"database_id\":\"28\"},{\"label\":\"p.Lys684SerfsX38\",\"name\":\"plys684serfsx38\",\"database_id\":\"35\"},{\"label\":\"p.Ile148Thr\",\"name\":\"pile148thr\",\"database_id\":\"67\"},{\"label\":\"p.Leu671X\",\"name\":\"pleu671x\",\"database_id\":\"74\"},{\"label\":\"p.Gln552X\",\"name\":\"pgln552x\",\"database_id\":\"90\"},{\"label\":\"p.Ser18ArgfsX16\",\"name\":\"pser18argfsx16\",\"database_id\":\"116\"},{\"label\":\"p.Leu1258PhefsX7\",\"name\":\"pleu1258phefsx7\",\"database_id\":\"117\"},{\"label\":\"p.Ile1023_Val1024del\",\"name\":\"pile1023val1024del\",\"database_id\":\"118\"},{\"label\":\"not done\",\"name\":\"not_done\",\"database_id\":\"120\"},{\"label\":\"other\",\"name\":\"other\",\"database_id\":\"121\"},{\"label\":\"missing data\",\"name\":\"missing_data\",\"database_id\":\"999\"}],\"database_id\":\"Chromosome_2_ ProteinName\",\"source\":\"mapping from legacy variable\",\"read-only\":true},{\"label\":\"Chromosome 2 other (Protein name)\",\"name\":\"chromosome_2_other_protein_name\",\"type\":\"text\",\"database_id\":\"Chromosome_2_Other_ ProteinName \",\"source\":\"mapping from legacy variable\",\"read-only\":true}]}]},{\"label\":\"Nasal Transepithelial Potential Difference\",\"name\":\"nasal_transepithelial_potential_difference\",\"fields\":[{\"label\":\"Date transepithelial potential difference\",\"name\":\"date_transepithelial_potential_difference\",\"type\":\"date\",\"database_id\":\"TransEpithelialPotentialDate\",\"required\":true},{\"label\":\"Nasal transepithelial potential difference\",\"name\":\"nasal_transepithelial_potential_difference\",\"type\":\"choice\",\"choices\":[{\"label\":\"Not Executed\",\"name\":\"not_executed\",\"database_id\":\"2\"},{\"label\":\"Normal\",\"name\":\"normal\",\"database_id\":\"4\"},{\"label\":\"Evocative\",\"name\":\"evocative\",\"database_id\":\"5\"},{\"label\":\"Missing Data\",\"name\":\"missing_data\",\"database_id\":\"999\"}],\"database_id\":\"TransEpithelialPotentialDifference\",\"required\":true}]}]},{\"label\":\"Data Collection\",\"name\":\"data_collection\",\"sections\":[{\"label\":\"Observation\",\"name\":\"observation\",\"sections\":[{\"label\":\"Life / Death\",\"name\":\"life__death\",\"fields\":[{\"label\":\"Patient Status\",\"name\":\"patient_status\",\"type\":\"choice\",\"choices\":[{\"label\":\"First registration in this center\",\"name\":\"first_registration_in_this_center\",\"database_id\":\"1\"},{\"label\":\"in follow up\",\"name\":\"in_follow_up\",\"database_id\":\"2\"},{\"label\":\"Not seen patient\",\"name\":\"not_seen_patient\",\"database_id\":\"4\"},{\"label\":\"Revoked diagnosis\",\"name\":\"revoked_diagnosis\",\"database_id\":\"5\"},{\"label\":\"Moved to other center\",\"name\":\"moved_to_other_center\",\"database_id\":\"7\"},{\"label\":\"No information\",\"name\":\"no_information\",\"database_id\":\"8\"},{\"label\":\"Missing Data\",\"name\":\"missing_data\",\"database_id\":\"998\"}],\"database_id\":\"PatientClinicalStatus \",\"required\":true}]},{\"label\":\"Cause of death\",\"name\":\"cause_of_death\",\"fields\":[{\"label\":\"Cause of death\",\"name\":\"cause_of_death\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Cardiac\",\"name\":\"cardiac\",\"database_id\":\"COD_Cardial\",\"required\":true},{\"label\":\"Respiratory\",\"name\":\"respiratory\",\"database_id\":\"COD_Respiratory\",\"required\":true},{\"label\":\"Hepatic\",\"name\":\"hepatic\",\"database_id\":\"COD_Liver\",\"required\":true},{\"label\":\"Trauma\",\"name\":\"trauma\",\"database_id\":\"COD_Trauma\",\"required\":true},{\"label\":\"Suicide\",\"name\":\"suicide\",\"database_id\":\"COD_Suicide\",\"required\":true},{\"label\":\"Associated with cancer\",\"name\":\"associated_with_cancer\",\"database_id\":\"COD_Cancer\",\"required\":true,\"fields\":[{\"label\":\"Type\",\"name\":\"type\",\"type\":\"text\",\"database_id\":\"COD_CancerType\",\"required\":true}]},{\"label\":\"Associated with organ transplantation\",\"name\":\"associated_with_organ_transplantation\",\"database_id\":\"COD_Transplant\",\"required\":true,\"fields\":[{\"label\":\"Type\",\"name\":\"type\",\"type\":\"text\",\"database_id\":\"COD_TransplantType\"}]},{\"label\":\"Other cause\",\"name\":\"other_cause\",\"database_id\":\"COD_OtherYesNo\",\"required\":true,\"fields\":[{\"label\":\"Type\",\"name\":\"type\",\"type\":\"text\",\"database_id\":\"COD_OtherType\",\"required\":true}]},{\"label\":\"Cause unknown\",\"name\":\"cause_unknown\",\"database_id\":\"COD_CauseUnknown\",\"required\":true}]}]},{\"label\":\"Last consultation of the year\",\"name\":\"last_consultation_of_the_year\",\"help\":\"Weight, height and lung function must come from the same visit. If a parameter is not available, take the full parameters of the previous visit or hospitalization.\",\"fields\":[{\"label\":\"Date consultation\",\"name\":\"date_consultation\",\"type\":\"date\",\"database_id\":\"ConsultationDate\",\"required\":true},{\"label\":\"Anthropometry\",\"name\":\"anthropometry\",\"type\":\"fieldset\",\"fields\":[{\"label\":\"Weight\",\"name\":\"weight\",\"type\":\"number\",\"database_id\":\"PatientWeightInKg\",\"required\":true},{\"label\":\"Height\",\"name\":\"height\",\"type\":\"number\",\"database_id\":\"PatientHeightInCm\",\"required\":true}]},{\"label\":\"Lung function\",\"name\":\"lung_function\",\"type\":\"fieldset\",\"fields\":[{\"label\":\"Executed\",\"name\":\"executed\",\"type\":\"choice\",\"choices\":[{\"label\":\"No\",\"name\":\"no\",\"database_id\":\"1\"},{\"label\":\"Yes\",\"name\":\"yes\",\"database_id\":\"2\"},{\"label\":\"Impossible\",\"name\":\"impossible\",\"database_id\":\"3\"},{\"label\":\"Missing Data\",\"name\":\"missing_data\",\"database_id\":\"999\"}],\"database_id\":\"LungFunctionExecuted\",\"required\":true},{\"label\":\"FVC\",\"name\":\"fvc\",\"type\":\"number\",\"database_id\":\"Patient_FVC\",\"required\":true},{\"label\":\"FEV1\",\"name\":\"fev1\",\"type\":\"number\",\"database_id\":\"Patient_FEV1\",\"required\":true,\"help\":\"FEV1: take the best value before or after the use of a bronchodilator.\"},{\"label\":\"FEF25-75\",\"name\":\"fef2575\",\"type\":\"number\",\"database_id\":\"Patient_FEF25-75\",\"required\":true}]}]},{\"label\":\"The best lung function of the year\",\"name\":\"the_best_lung_function_of_the_year\",\"help\":\"Report the values of FEV1 in Litres of the highest value of FEV1% predicted of the year (according to your local references) measured before the use of a bronchodilator. Report the height of the patient measured at that date.\",\"fields\":[{\"label\":\"Date of best LungFx\",\"name\":\"date_of_best_lungfx\",\"type\":\"date\",\"database_id\":\"Date_LungFx_best\",\"required\":true},{\"label\":\"FVC\",\"name\":\"fvc\",\"type\":\"number\",\"database_id\":\"Patient_FVC_Best\",\"required\":true},{\"label\":\"FEV1\",\"name\":\"fev1\",\"type\":\"number\",\"database_id\":\"Patient_FEV1_Best\",\"required\":true},{\"label\":\"FEF25-75\",\"name\":\"fef2575\",\"type\":\"number\",\"database_id\":\"Patient_FEF25-75_Best\",\"required\":true},{\"label\":\"Height\",\"name\":\"height\",\"type\":\"number\",\"database_id\":\"PatientHeight_Best\",\"required\":true},{\"label\":\"Weight\",\"name\":\"weight\",\"type\":\"number\",\"database_id\":\"PatientWeight_Best\",\"required\":true}]}]},{\"label\":\"Microbiology\",\"name\":\"microbiology\",\"sections\":[{\"label\":\"Microbiology: all cultures of the registration year\",\"name\":\"microbiology_all_cultures_of_the_registration_year\",\"fields\":[{\"label\":\"Microbiology executed \",\"name\":\"microbiology_executed_\",\"type\":\"choice\",\"choices\":[{\"label\":\"Executed\",\"name\":\"executed\",\"database_id\":\"1\"},{\"label\":\"Not Executed\",\"name\":\"not_executed\",\"database_id\":\"2\"},{\"label\":\"Missing Data\",\"name\":\"missing_data\",\"database_id\":\"999\"}],\"database_id\":\"MBioExecutedYesNo\",\"required\":true},{\"label\":\"Cultures of the registration year\",\"name\":\"cultures_of_the_registration_year\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Swabs\",\"name\":\"swabs\",\"database_id\":\"MBioSample_Swabs\",\"required\":true},{\"label\":\"Sputum\",\"name\":\"sputum\",\"database_id\":\"MBioSample_Sputum\",\"required\":true},{\"label\":\"Broncho-alveolar lavage (BAL)\",\"name\":\"bronchoalveolar_lavage_bal\",\"database_id\":\"MBioSample_BronchoLavage\",\"required\":true},{\"label\":\"Missing values\",\"name\":\"missing_values\",\"database_id\":\"MBioSample_MissingValues\",\"required\":true}]}]},{\"label\":\"Pathogen ever found during the year\",\"name\":\"pathogen_ever_found_during_the_year\",\"fields\":[{\"label\":\"Pathogen ever found during the year\",\"name\":\"pathogen_ever_found_during_the_year\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Pseudomonas aeruginosa\",\"name\":\"pseudomonas_aeruginosa\",\"database_id\":\"MBioResult_PseudomAerugino\",\"required\":true},{\"label\":\"Burkholderia cepacia complex\",\"name\":\"burkholderia_cepacia_complex\",\"database_id\":\"MBioResult_Burkholderia\",\"required\":true},{\"label\":\"Stenotrophomonas maltophilia\",\"name\":\"stenotrophomonas_maltophilia\",\"database_id\":\"MBioResult_Stenotroph\",\"required\":true},{\"label\":\"Achromobacter xylosoxidans (Alcaligenes)\",\"name\":\"achromobacter_xylosoxidans_alcaligenes\",\"database_id\":\"MBioResult_Alcaligenes\",\"required\":true},{\"label\":\"methicillin resistant Staphlylococcus aureus (MRSA)\",\"name\":\"methicillin_resistant_staphlylococcus_aureus_mrsa\",\"database_id\":\"MBioResult_Staphaur_MRSA\",\"required\":true},{\"label\":\"methicillin sensible Staphlylococcus aureus (MSSA)\",\"name\":\"methicillin_sensible_staphlylococcus_aureus_mssa\",\"database_id\":\"MBioResult_Staphaur_MSSA\",\"required\":true},{\"label\":\"Haemophilus influenzae\",\"name\":\"haemophilus_influenzae\",\"database_id\":\"MBioResult_HaemInfl\",\"required\":true},{\"label\":\"Aspergillus\",\"name\":\"aspergillus\",\"database_id\":\"MBioResult_Aspergillus\",\"required\":true},{\"label\":\"Scedosporium prolificans\",\"name\":\"scedosporium_prolificans\",\"database_id\":\"MBioResult_Scedosporium\",\"required\":true},{\"label\":\"Atypical Mycobaterium (no NTM)\",\"name\":\"atypical_mycobaterium_no_ntm\",\"database_id\":\"MBioResult_Atypical_Myco\",\"required\":true},{\"label\":\"(Pathogens) Other\",\"name\":\"pathogens_other\",\"database_id\":\"MBioResult_OtherYesNo\",\"required\":true},{\"label\":\"No pathogens\",\"name\":\"no_pathogens\",\"database_id\":\"MBioResult_NormalFlora\",\"required\":true},{\"label\":\"(Pathogens) Missing Values\",\"name\":\"pathogens_missing_values\",\"database_id\":\"MBioResult_MissingValues\",\"required\":true}]}]},{\"label\":\"Colonisation\",\"name\":\"colonisation\",\"help\":\"Definition of Òchronic infection in the lower airwaysÓ\\n1. Chronic PA infection should be defined by local physician according to modified Leeds criteria and/or anti-pseudomonas antibodies. Patient should be defined as chronically infected if he/she fulfils the criteria now or in recent years and the physician have no reason to think the status has changed.\\na. Modified Leeds criteria : Chronic infe
[...]
