FORMAT: 1A
HOST: https://api.healthdata.be

# HealthData API
Collection of all the different APIs provided by HealthData.

##Allowed HTTPs requests:

- `POST` - To create resource
- `PUT` - To update resource
- `GET` - Get a resource or list of resources
- `DELETE` - To delete resource

##Description Of Usual Server Responses

- 200 `OK` - the request was successful (some API calls may return 201 instead).
- 201 `Created` - the request was successful and a resource was created.
- 204 `No Content` - the request was successful but there is no representation to return (i.e. the response is empty).
- 400 `Bad Request` - the request could not be understood or was missing required parameters.
- 401 `Unauthorized` - authentication failed or user doesn't have permissions for requested operation.
- 403 `Forbidden` - access denied.
- 404 `Not Found` - resource was not found.
- 405 `Method Not Allowed` - requested method is not supported for resource.
- 429 `Too Many Requests` - exceeded GoodData API limits. Pause requests, wait up to one minute, and try again. 
- 503 `Service Unavailable` - service is temporary unavailable (e.g. scheduled Platform Maintenance). Try again later.

# Group Annotations API

# Group Bulk API
Bulk-related resources of the **HealthData API**

## Bulks [/bulks]

### Submit a list of Datacollection instances [POST]
Store a list of Datacollection instances.
+ Request (application/json)
    
    + Headers
    
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
            
            {   
                "datacollection instances": [
                    {"JSON content datacollection instance 1"},
                    {"JSON content datacollection instance 2"},
                    {"JSON content datacollection instance 3"}
                ]
            }
+ Response 200

# Group Data Reference API
DataReference-related resources of the **HealthData API**

The Codelist resource has the following attributes:

- id
- code
- created_at
- description_nl-BE
- description_fr-BE
- description_en-US

The states *id* and *created_at* are assigned by the Collections API at the moment of creation.

## Data Reference [/datareferences/]

### POST
Create a new Data Reference entry.
+ Request (application/json)
    
    + Headers
        
            Authorization: "Bearer <<token>>"

    + Body
            
            {   
                "code": "code",
                "description_nl-BE": "Nederlandstalige beschrijving",
                "description_fr-BE": "Franstalige beschrijving",
                "description_en-US": "Engelstalige beschrijving"
            }
            
+ Response 201 (application/hal+json)

    + Body
            
            {
                "_links": {
                    "self": {
                        "href": "http://healthdata.apiary-mock.com/datareferences/1"
                    }
                },
                "id": "1",
                "code": "code",
                "created_at": "2014-06-10T02:15:15Z",
                "description_nl-BE": "Nederlandstalige beschrijving",
                "description_fr-BE": "Franstalige beschrijving",
                "description_en-US": "Engelstalige beschrijving"
            }

## Data References - Code & Language [/datareferences/{code}/{language}]

### GET
This API call will GET you the Data Reference with the provided code and language.

+ Parameters
    + code (required, string, `"code"`) ... `code` of the Data Reference entry. Has example value.
    + language = `"nl"`(optional, string, `"nl"`)

        'language' of the Data Reference entry.

        + Values
            + `nl-BE`
            + `fr-BE`
            + `en-US`

+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"
    + Body
    
            {
            }

+ Response 200

    + Body
            
            {
                "id": "1",
                "code": "code",
                "created_at": "2014-06-10T02:15:15Z",
                "description_nl": "Nederlandstalige beschrijving" 
            }

# Group Datacollection Definition API
DataCollectionDefinitions-related resources of the **HealthData API**

A single DataCollectionDefinition object with all its details

The DataCollectionDefinition resource has the following attributes:

- id
- name
- language
- created_at
- valid_from
- valid_till
- description
- content

The states *id* and *created_at* are assigned by the Collections API at the moment of creation.

## Datacollection Definition - ID [/datacollectiondefinitions/{id}]

+ Parameters
    + id (required, string, `"1"`) ... `ID` of the DataCollectionDefinition. Has example value.

+ Model (application/hal+json)

    JSON representation of a DataCollectionDefinition resource. 

    + Body

            {
                "_links": {
                    "self": {
                        "href": "http://healthdata.apiary-mock.com/datacollectiondefinitions/1"
                    }
                },
                "id": "1",
                "name": "Datacollection definition 1",
                "created_at": "2014-06-10T02:15:15Z",
                "valid_from": "2014-06-10T00:00:00Z",
                "valid_till": "2024-06-10T00:00:00Z",
                "description": "Datacollection definition 1 description",
                "content": "JSON content"
            }

### GET
This API call will GET you the Datacollection definition with the provided ID.

+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
    
            {
            }
+ Response 200
    [Datacollection Definition - ID][]

### DELETE
This API call will DELETE your defined Datacollection definition. Only Project ADMIN can do this action.

+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version
+ Response 204

## Datacollection Definition - Name & Version [/datacollectiondefinitions/{name}/{version}]

### GET
This API call will GET you the Datacollection definition with the provided name and version.
+ Parameters
    + name (required, string, `"register 1"`) ... `name` of the DataCollectionDefinition. Has example value.
    + version (required, string, `"v2"`) ... `version` of the DataCollectionDefinition. Has example value.

+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
    
            {
            }

+ Response 302

    + Headers
    
            Location: "http://healthdata.apiary-mock.com/datacollectiondefinitions/1"

## Datacollection Definitions [/datacollectiondefinitions/]

### GET

List all existing Datacollection definitions that the user is authorized to see. 

+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
            
            {
            }

+ Response 200 (application/hal+json)

    + Body
    
            {
                "_links": {
                    "self": {
                        "href": "http://healthdata.apiary-mock.com/datacollectiondefinitions"
                    }
                },
                "_embedded": {
                    "datacollectiondefinitions": [
                        {
                            "_links": {
                                "self": {
                                    "href": "http://healthdata.apiary-mock.com/datacollectiondefinitions/1"
                                }
                            },
                            "id": "1", 
                            "name": "Datacollection definition 1",
                            "language": "nl",
                            "created_at": "2014-06-10T02:15:15Z",
                            "description": "Description of DataCollection definition 1.",
                            "content": "JSON content"
                        }
                        {
                            "_links": {
                                "self": {
                                    "href": "http://healthdata.apiary-mock.com/datacollectiondefinitions/2"
                                }
                            },
                            "id": "2", 
                            "name": "Datacollection definition 2",
                            "language": "nl",
                            "created_at": "2014-06-10T02:15:15Z",
                            "description": "Description of DataCollection definition 2.",
                            "content": "JSON content"
                        }
                    ]
                }
            }

### POST
Create a new Datacollection definition.
+ Request (application/json)
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version
    
    + Body
            
            {   
                "name": "Datacollection definition 1",
                "language": "nl",
                "description": "Datacollection definition 1 description.",
                "content": "JSON content" 
            }

+ Response 201 (application/hal+json)

    + Body
            
            {
                "_links": {
                    "self": {
                        "href": "http://healthdata.apiary-mock.com/datacollectiondefinitions/1"
                    }
                },
                "id": "1",
                "name": "Datacollection definition 1",
                "created_at": "2014-06-10T02:15:15Z",
                "valid_from": "2014-06-10T00:00:00Z",
                "valid_till": "2024-06-10T00:00:00Z",
                "description": "Datacollection definition 1 description",
                "content": "JSON content"
            }

## Datacollection Definition - QueryString parameters [/datacollectiondefinitions{?name,valid_from,valid_till,description}]

List all existing Datacollections that match the given QueryString parameters.
 
### GET

+ Request
    
    + Headers
        
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
            
            {
            }

+ Response 200 (application/hal+json)

    + Body
    
            {
                "_links": {
                    "self": {
                        "href": "http://healthdata.apiary-mock.com/datacollectiondefinitions"
                    }
                },
                "_embedded": {
                    "datacollectiondefinitions": [
                        {
                            "_links": {
                                "self": {
                                    "href": "http://healthdata.apiary-mock.com/datacollectiondefinitions/1"
                                }
                            },
                            "id": "1", 
                            "name": "Datacollection definition 1",
                            "language": "nl",
                            "created_at": "2014-06-10T02:15:15Z",
                            "description": "Description of DataCollection definition 1.",
                            "content": "JSON content"
                        }
                        {
                            "_links": {
                                "self": {
                                    "href": "http://healthdata.apiary-mock.com/datacollectiondefinitions/2"
                                }
                            },
                            "id": "2", 
                            "name": "Datacollection definition 2",
                            "language": "nl",
                            "created_at": "2014-06-10T02:15:15Z",
                            "description": "Description of DataCollection definition 2.",
                            "content": "JSON content"
                        }
                    ]
                }
            }

# Group Data Provisioning API

# Group Documents API
Document-related resources  of the **HealthData API**

The Document resource has the following attributes:

- id
- name
- description
- created_at
- content

The states *id* and *created_at* are assigned by the Documents API at the moment of creation.

## Document [/documents]

### Create a document item [POST]
Store a new document item
+ Request (application/json)
    
    + Headers
    
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
            
            {   
                "name"          : "name"
                "description"   : "description"
                "content"       : "JSON content" 
            }
+ Response 200 (application/json)
    
    + Body
            
            {   
                "ID"    : "ID of the created document item" 
            }

## Document - ID [/documents/{id}]

+ Parameters
    + id (required, string, `"1"`) ... `ID` of the Document. Has example value.

+ Model (application/hal+json)

    JSON representation of a Documents resource. 

    + Body

            {
                "_links": {
                    "self": {
                        "href": "http://healthdata.apiary-mock.com/documents/1"
                    }
                },
                "id": "1",
                "name": "Document 1",
                "description": "Document 1 description",
                "created_at": "2014-06-10T02:15:15Z",
                "content": "JSON content"
            }

### Get a document item [GET]
This API call will GET you the Document with the provided ID.

+ Request (application/json)
    
    + Headers
    
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
            
            {
            }
+ Response 200
    [Document - ID][]

+ Parameters
    + id (required, string, `"1"`) ... `ID` of the Document item. Has example value.

# Group Transaction API
Transaction-related resources of the **HealthData API**

The transactional API will offer a programmatic alternative to the forms (the human interface). 
This API will be accessible by calling applications wanting to submit structured data to HD4DP software.

## Transaction [/transactions]

### Submit a Datacollection instance [POST]
Store a new Datacollection instance.
+ Request (application/json)
    
    + Headers
    
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
            
            {   
                "content": "JSON content" 
            }
+ Response 200

# Group Workflow API
Workflow-related resources of the **HealthData API**

## Workflow [/workflows]

### Create a workflow item [POST]
Store a new workflow item
+ Request (application/json)
    
    + Headers
    
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
            
            {   
                "status"    : "workflow status" 
                "content"   : "JSON content" 
            }
+ Response 200 (application/json)
    
    + Body
            
            {   
                "ID"    : "ID of the created workflow item" 
            }

## Workflow [/workflows/{id}]

+ Parameters
    + id (required, string, `"1"`) ... `ID` of the Workflow item. Has example value.

### Retrieve a workflow item [GET]
Get a workflow item with the provided ID

+ Request
    
    + Headers
    
            Authorization: "Bearer <<token>>"
            API version : version

+ Response 200 (application/json)

    + Body
            
            {   
                "id"      : "id of the workflow"
                "status"  : "status of the workflow"
                "content" : "json content" 
            }

### Update a workflow item [POST]
Update an existing workflow item

+ Request (application/json)
    
    + Headers
    
            Authorization: "Bearer <<token>>"
            API version : version
    + Body
            
            {   
                "status"    : "workflow status" 
            }
+ Response 200