FORMAT: 1A
HOST: https://api.healthdata.be

# HealthData API
Collection of all the different APIs provided by HealthData.

##Allowed HTTPs requests:

- `POST` - To create resource
- `PUT` - To update resource
- `GET` - Get a resource or list of resources
- `DELETE` - To delete resource

##Description Of Usual Server Responses

- 200 `OK` - the request was successful (some API calls may return 201 instead).
- 201 `Created` - the request was successful and a resource was created.
- 204 `No Content` - the request was successful but there is no representation to return (i.e. the response is empty).
- 206 `Partial Content` - The server has fulfilled the partial GET request for the resource.
- 302 `Redirected` - the request is redirected to the URL in the Location header.
- 400 `Bad Request` - the request could not be understood or was missing required parameters.
- 401 `Unauthorized` - authentication failed or user doesn't have permissions for requested operation.
- 403 `Forbidden` - access denied.
- 404 `Not Found` - resource was not found.
- 405 `Method Not Allowed` - requested method is not supported for resource.
- 429 `Too Many Requests` - exceeded GoodData API limits. Pause requests, wait up to one minute, and try again. 
- 503 `Service Unavailable` - service is temporary unavailable (e.g. scheduled Platform Maintenance). Try again later.

# Group Annotations API

# Group Configuration API
Part of the **HealthData API** that allows to interact with configuration parameters

A Configuration resource consists basically of a key-value pair with some additional attributes:

- key
- value
- description
- updatedOn
- validFrom
- validTill
- configurationUri

The *updatedOn* attribute is assigned by the logic at the moment of change.

## Configuration - Key [/configurations/{key}]

+ Parameters
    + key (required, string, `"property_key"`) ... Configuration `key`.

+ Model (application/json)

    JSON representation of a Configuration resource. 

    + Body

            {
                "key": "install_dir",
                "value": "C:\Program Files\HD4DP",
                "description": "installation location of the HD4DP program"
                "updatedOn": "2014-09-08 16:17:28",
                "validFrom": "2014-01-01 00:00:00",
                "validTill": "2114-01-01 00:00:00",
                "configurationUri" : "https://private-d734-healthdata.apiary-mock.com/configurations/install_dir"
            }

### POST
Create a new configuration key-value pair.
+ Request (application/json)
    
    + Headers
        
            Authorization: "Bearer d33af621-0a6e-40f7-b1f4-d4226b45bbad"

    + Body
            
            {
                "key": "install_dir",
                "value": "C:\Program Files\HD4DP",
                "description": "installation location of the HD4DP program"
                "validFrom": "2014-01-01 00:00:00",
                "validTill": "2114-01-01 00:00:00",
            }

+ Response 201 (application/json)

    + Body
            
            {
                "key": "install_dir",
                "value": "C:\Program Files\HD4DP",
                "description": "installation location of the HD4DP program"
                "updatedOn": "2014-09-08 16:17:28",
                "validFrom": "2014-01-01 00:00:00",
                "validTill": "2114-01-01 00:00:00",
                "configurationUri" : "https://private-d734-healthdata.apiary-mock.com/configurations/install_dir"
            }

### GET
This API call will GET you the Configuration value that matches the passed key.

+ Request
    
    + Headers
        
            Authorization: "Bearer d33af621-0a6e-40f7-b1f4-d4226b45bbad"
    + Body
    
            {
            }
+ Response 200
    [Configuration - Key][]

### DELETE
This API call will DELETE the configuration value that matches the passed key

+ Request
    
    + Headers
        
            Authorization: "Bearer d33af621-0a6e-40f7-b1f4-d4226b45bbad"
+ Response 204

+ Response 404

        The configuration you want to delete does not exist.

### PUT
This API call will UPDATE an existing configuration value.

+ Request
    
    + Headers
        
            Authorization: "Bearer d33af621-0a6e-40f7-b1f4-d4226b45bbad"

    + Body
    
            {
                "key": "install_dir",
                "value": "C:\Program Files (x86)\HD4DP",
                "description": "installation location of the HD4DP program"
                "validFrom": "2014-01-01 00:00:00",
                "validTill": "2114-01-01 00:00:00",
                "configurationUri" : "https://private-d734-healthdata.apiary-mock.com/configurations/install_dir"
            }
+ Response 204

## Configurations [/configurations/]

### GET

List all existing configuration keys with their according values.

+ Request
    
    + Headers
        
            Authorization: "Bearer d33af621-0a6e-40f7-b1f4-d4226b45bbad"
    + Body
            
            {
            }

+ Response 200 (application/json)

    + Body
    
            [
                {
                    "key": "install_dir",
                    "value": "C:\Program Files\HD4DP",
                    "description": "installation location of the HD4DP program"
                    "updatedOn": "2014-09-08 16:17:28",
                    "validFrom": "2014-01-01 00:00:00",
                    "validTill": "2114-01-01 00:00:00",
                    "configurationUri" : "https://private-d734-healthdata.apiary-mock.com/configurations/install_dir"
                },
                {
                    "key": "ehBox_client",
                    "value": "hector",
                    "description": "Name of the client used for ehBox communication with the landing zone."
                    "updatedOn": "2014-09-08 16:17:28",
                    "validFrom": "2014-01-01 00:00:00",
                    "validTill": "2114-01-01 00:00:00",
                    "configurationUri" : "https://private-d734-healthdata.apiary-mock.com/configurations/ehBox_client"
                }
            ]


# Group Datacollection Definition API
DataCollectionDefinitions-related resources of the **HealthData API**

A single DataCollectionDefinition object with all its details

The DataCollectionDefinition resource has the following attributes:

- id
- name
- description
- content
- version
- language
- createdOn
- published
- validFrom
- validTill
- dataCollectionUri

The states *id* and *created_on* are assigned by the Collections API at the moment of creation.

## Datacollection Definition - ID [/datacollectiondefinitions/{id}]

+ Parameters
    + id (required, string, `"1"`) ... `ID` of the DataCollectionDefinition. Has example value.

+ Model (application/json)

    JSON representation of a DataCollectionDefinition resource. 

    + Body

            {
                "id": "1",
                "name": "IQECAD",
                "description": "IQECAD",
                "content": "{\"label\":\"IQECAD\",\"conditions\":[{\"name\":\"leeftijd\",\"expression\":\"$['algemeen']['jaar_van_datacollectie'] - $['patientgegevens']['geboortejaar'] <= 18\",\"errorMessage\":\"Patient is ouder dan 18, hetgeen een exclusiecriterium is.\"},{\"name\":\"insulinetoediening-leeftijd\",\"expression\":\"new Date($['patientgegevens']['datum_van_de_eerste_insulinetoediening']).getFullYear() >= $['patientgegevens']['geboortejaar']\",\"errorMessage\":\"Het jaar van de eerste insulinetoediening kan niet voor het geboortejaar vallen.\"},{\"name\":\"insulinetoediening-huidig-jaar\",\"expression\":\"new Date($['patientgegevens']['datum_van_de_eerste_insulinetoediening']).getFullYear() <= $['algemeen']['jaar_van_datacollectie']\",\"errorMessage\":\"Het jaar van de eerste insulinetoediening kan niet na het huidige jaar vallen.\"},{\"name\":\"consultatie-gegevensinzameling\",\"expression\":\"new Date($['datacollectie']['algemeen']['datum_van_de_meest_recente_consultatie']).getFullYear() === $['algemeen']['jaar_van_datacollectie']\",\"errorMessage\":\"Het jaar van de consultatie moet overeenstemmen met het jaar van de gegevensinzameling.\"},{\"name\":\"diastolische-systolische\",\"expression\":\"$['datacollectie']['metingen']['diastolische_bloeddruk']['diastolische_bloeddruk_mmhg'] < $['datacollectie']['metingen']['systolische_bloeddruk']['systolische_bloeddruk_mmhg']\",\"errorMessage\":\"Diastolische bloeddruk moet lager zijn dan systolische bloeddruk.\"},{\"name\":\"volledigjaar\",\"expression\":\"(new Date($['patientgegevens']['datum_van_de_eerste_insulinetoediening']).getFullYear() === $['algemeen']['jaar_van_datacollectie']) === !$['datacollectie']['algemeen']['de_patient_was_gedurende_het_ganse_kalenderjaar_in_behandeling_bij_dit_centrum']\",\"errorMessage\":\"Een opvolging van een volledig jaar is niet mogelijk als de diagnose in de loop van dit jaar gesteld werd.\"}],\"sections\":[{\"label\":\"Algemeen\",\"name\":\"algemeen\",\"sticky\":true,\"fields\":[{\"label\":\"Jaar van datacollectie\",\"name\":\"jaar_van_datacollectie\",\"type\":\"number\",\"database_id\":\"collect_year\",\"default\":\"2013\",\"required\":true,\"sent\":true,\"sticky\":true},{\"label\":\"Creatiedatum van klinische file\",\"name\":\"creatiedatum_van_klinische_file\",\"type\":\"date\",\"database_id\":\"rec_date\",\"default\":\"02/06/2014\",\"mask\":\"dd/mm/yyyy\",\"required\":true,\"sent\":true}]},{\"label\":\"Patientgegevens\",\"name\":\"patientgegevens\",\"sticky\":true,\"fields\":[{\"label\":\"Patient NISS\",\"name\":\"patient_niss\",\"type\":\"number\",\"database_id\":\"coded_NISS/patient_id\",\"mask\":\"valid format + kruispuntbank (not empty NISS)\",\"required\":true,\"sent\":true,\"sticky\":true},{\"label\":\"Naam\",\"name\":\"naam\",\"type\":\"text\",\"source\":\"National Registry\",\"required\":false,\"sent\":false,\"sticky\":true},{\"label\":\"Voornaam\",\"name\":\"voornaam\",\"type\":\"text\",\"source\":\"National Registry\",\"required\":false,\"sent\":false,\"sticky\":true},{\"label\":\"Geslacht\",\"name\":\"geslacht\",\"type\":\"choice\",\"choices\":[{\"label\":\"Vrouw\",\"name\":\"vrouw\",\"database_id\":\"0\"},{\"label\":\"Man\",\"name\":\"man\",\"database_id\":\"1\"}],\"database_id\":\"gender\",\"source\":\"National Registry\",\"required\":true,\"sent\":true},{\"label\":\"Geboortemaand\",\"name\":\"geboortemaand\",\"type\":\"number\",\"database_id\":\"birthMonth\",\"source\":\"National Registry\",\"required\":true,\"sent\":true},{\"label\":\"Geboortejaar\",\"name\":\"geboortejaar\",\"type\":\"number\",\"database_id\":\"birthYear\",\"source\":\"National Registry\",\"required\":true,\"sent\":true},{\"label\":\"Arrondissement\",\"name\":\"arrondissement\",\"type\":\"number\",\"database_id\":\"District\",\"source\":\"National Registry\",\"required\":false,\"sent\":true},{\"label\":\"Overleden?\",\"name\":\"overleden\",\"type\":\"boolean\",\"database_id\":\"deceased\",\"source\":\"National Registry\",\"required\":false,\"sent\":true},{\"label\":\"Jaar van overlijden\",\"name\":\"jaar_van_overlijden\",\"type\":\"date\",\"database_id\":\"deathYear\",\"source\":\"National Registry\",\"required\":false,\"sent\":true},{\"label\":\"Datum van de eerste insulinetoediening\",\"name\":\"datum_van_de_eerste_insulinetoediening\",\"type\":\"date\",\"database_id\":\"dinj\",\"mask\":\"yyyy\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Indien de exacte datum niet gekend is, maar wel het jaar, dan kan men invullen: 30/06/JJJJ\"},{\"label\":\"Etniciteit vader\",\"name\":\"etniciteit_vader\",\"type\":\"choice\",\"database_id\":\"ethnf\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"choices\":[{\"label\":\"Kaukasisch\",\"name\":\"kaukasisch\",\"database_id\":\"1\"},{\"label\":\"Maghrebijns\",\"name\":\"maghrebijns\",\"database_id\":\"2\"},{\"label\":\"Zwart-Afrikaans\",\"name\":\"zwartafrikaans\",\"database_id\":\"3\"},{\"label\":\"Andere\",\"name\":\"andere\",\"database_id\":\"4\",\"fields\":[{\"label\":\"Indien \\\"andere\\\", specificeren\",\"name\":\"indien_andere,_specificeren\",\"type\":\"text\",\"database_id\":\"ethnfoth\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]}]},{\"label\":\"Etniciteit moeder\",\"name\":\"etniciteit_moeder\",\"type\":\"choice\",\"database_id\":\"ethnm\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"choices\":[{\"label\":\"Kaukasisch\",\"name\":\"kaukasisch\",\"database_id\":\"1\"},{\"label\":\"Maghrebijns\",\"name\":\"maghrebijns\",\"database_id\":\"2\"},{\"label\":\"Zwart-Afrikaans\",\"name\":\"zwartafrikaans\",\"database_id\":\"3\"},{\"label\":\"Andere\",\"name\":\"andere\",\"database_id\":\"4\",\"fields\":[{\"label\":\"Indien \\\"andere\\\", specificeren\",\"name\":\"indien_andere,_specificeren\",\"type\":\"text\",\"database_id\":\"ethnmoth\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]}]}]},{\"label\":\"Datacollectie\",\"name\":\"datacollectie\",\"sections\":[{\"label\":\"Algemeen\",\"name\":\"algemeen\",\"fields\":[{\"label\":\"De patient was gedurende het ganse kalenderjaar in behandeling bij dit centrum\",\"name\":\"de_patient_was_gedurende_het_ganse_kalenderjaar_in_behandeling_bij_dit_centrum\",\"type\":\"boolean\",\"database_id\":\"follow\",\"source\":\"eMD\",\"required\":true,\"sent\":true,\"help\":\"Kies \\\"neen\\\" wanneer de patient gedurende het kalenderjaar gediagnosticeerd werd, OF zich gedurende het kalenderjaar aansloot bij het centrum, OF het centrum verliet (bv. door verhuizing, meerderjarigheid, ...).\"},{\"label\":\"Datum van de meest recente consultatie\",\"name\":\"datum_van_de_meest_recente_consultatie\",\"type\":\"date\",\"database_id\":\"dcons\",\"mask\":\"dd/mm/yyyy\",\"source\":\"eMD\",\"required\":true,\"sent\":true,\"help\":\"Het gaat hier om de datum van de consultatie waarvan alle verdere gegevens afgeleid zijn. Voor procedures die niet bij elke consultatie uitgevoerd dienen te worden is het mogelijk om later een andere datum te specificeren.\"},{\"label\":\"Kerngezin\",\"name\":\"kerngezin\",\"type\":\"boolean\",\"database_id\":\"family\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Kerngezin: originele vader en moeder zijn aanwezig. In geval van adoptie betekent dit dat de originele adoptiefouders nog aanwezig zijn. Bewust alleenstaande ouders worden niet als kerngezin beschouwd.\"},{\"label\":\"Taalproblemen\",\"name\":\"taalproblemen\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Zijn er taalproblemen die de communicatie bemoeilijken?\",\"name\":\"zijn_er_taalproblemen_die_de_communicatie_bemoeilijken\",\"database_id\":\"probcomm1\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Indien \\\"Ja\\\", dan kan u hieronder meerdere antwoorden aanduiden.\",\"fields\":[{\"label\":\"Zo ja, met het kind?\",\"name\":\"zo_ja,_met_het_kind\",\"type\":\"boolean\",\"database_id\":\"probcomm2a\",\"source\":\"eMD\",\"required\":false,\"sent\":true},{\"label\":\"Zo ja, met de ouders?\",\"name\":\"zo_ja,_met_de_ouders\",\"type\":\"boolean\",\"database_id\":\"probcomm2b\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]}]},{\"label\":\"Puberteit/prepuberteit\",\"name\":\"puberteitprepuberteit\",\"type\":\"choice\",\"choices\":[{\"label\":\"Puberteit\",\"name\":\"puberteit\",\"database_id\":\"1\"},{\"label\":\"Prepuberteit\",\"name\":\"prepuberteit\",\"database_id\":\"2\"}],\"database_id\":\"puberty\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Kies ook \\\"Puberteit\\\" bij volwassen patienten\"},{\"label\":\"Insulineschema\",\"name\":\"insulineschema\",\"type\":\"choice\",\"database_id\":\"inssch\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"choices\":[{\"label\":\"Standaard mengsels toegediend 's morgens en 's avonds met occasioneel een extra toediening van snelle/ultrasnelle insuline\",\"name\":\"standaard_mengsels_toegediend_s_morgens_en_s_avonds_met_occasioneel_een_extra_toediening_van_snelleultrasnelle_insuline\",\"database_id\":\"1\"},{\"label\":\"Individueel samengestelde mengsels toegediend 's morgens en 's avonds met occasioneel een extra toediening van snelle/ultrasnelle insuline\",\"name\":\"individueel_samengestelde_mengsels_toegediend_s_morgens_en_s_avonds_met_occasioneel_een_extra_toediening_van_snelleultrasnelle_insuline\",\"database_id\":\"2\"},{\"label\":\"Individueel samengestelde mengsels toegediend 's morgens en 's avonds met een systematische toediening van een snelle/ultrasnelle insuline (d.w.z. elke dag)\",\"name\":\"individueel_samengestelde_mengsels_toegediend_s_morgens_en_s_avonds_met_een_systematische_toediening_van_een_snelleultrasnelle_insuline_dwz_elke_dag\",\"database_id\":\"3\"},{\"label\":\"Basaal-prandiale insulinebehandeling (basaal-bolus)\",\"name\":\"basaalprandiale_insulinebehandeling_basaalbolus\",\"database_id\":\"4\"},{\"label\":\"Insulinepomp\",\"name\":\"insulinepomp\",\"database_id\":\"5\"},{\"label\":\"Andere\",\"name\":\"andere\",\"database_id\":\"6\",\"fields\":[{\"label\":\"Indien \\\"andere\\\", specificeren\",\"name\":\"indien_andere,_specificeren\",\"type\":\"text\",\"database_id\":\"insschmisc\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]}]},{\"label\":\"Andere medicatie\",\"name\":\"andere_medicatie\",\"type\":\"text\",\"database_id\":\"miscdrugs\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]},{\"label\":\"Metingen\",\"name\":\"metingen\",\"fields\":[{\"label\":\"Insulinedosis (IE/dag)\",\"name\":\"insulinedosis_iedag\",\"type\":\"number\",\"database_id\":\"insdose\",\"mask\":\"000.0\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Bij pompgebruikers en basaal-prandiale insulinebehandeling dient men de dosis op te geven van de dag die de laatste consultatie voorafgaat.\",\"validators\":[{\"minimum\":1,\"maximum\":200,\"regexp\":\"[0-9]{3}.[0-9]\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: insulinedosis in IE per dag!\",\"level\":\"warning\"}]},{\"label\":\"Lengte\",\"name\":\"lengte\",\"type\":\"fieldset\",\"fields\":[{\"label\":\"Lengte (cm)\",\"name\":\"lengte_cm\",\"type\":\"number\",\"database_id\":\"height\",\"mask\":\"000.0\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":40,\"maximum\":220,\"regexp\":\"[0-9]{3}.[0-9]\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: lengte in cm!\",\"level\":\"warning\"}]},{\"label\":\"Datum van bepaling\",\"name\":\"datum_van_bepaling\",\"type\":\"date\",\"database_id\":\"dheight\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]},{\"label\":\"Gewicht\",\"name\":\"gewicht\",\"type\":\"fieldset\",\"fields\":[{\"label\":\"Gewicht (kg)\",\"name\":\"gewicht_kg\",\"type\":\"number\",\"database_id\":\"weight\",\"mask\":\"000.0\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":2,\"maximum\":200,\"regexp\":\"[0-9]{3}.[0-9]\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: gewicht in kg!\",\"level\":\"warning\"}]},{\"label\":\"Datum van bepaling\",\"name\":\"datum_van_bepaling\",\"type\":\"date\",\"database_id\":\"dweight\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]},{\"label\":\"Systolische bloeddruk\",\"name\":\"systolische_bloeddruk\",\"type\":\"fieldset\",\"fields\":[{\"label\":\"Systolische bloeddruk (mmHg)\",\"name\":\"systolische_bloeddruk_mmhg\",\"type\":\"number\",\"database_id\":\"sbp\",\"mask\":\"000.0\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":40,\"maximum\":250,\"regexp\":\"[0-9]{3}.[0-9]\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: systolische bloeddruk in mmHg!\",\"level\":\"warning\"}]},{\"label\":\"Datum van bepaling\",\"name\":\"datum_van_bepaling\",\"type\":\"date\",\"database_id\":\"datebp\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]},{\"label\":\"Diastolische bloeddruk\",\"name\":\"diastolische_bloeddruk\",\"type\":\"fieldset\",\"fields\":[{\"label\":\"Diastolische bloeddruk (mmHg)\",\"name\":\"diastolische_bloeddruk_mmhg\",\"type\":\"number\",\"database_id\":\"dbp\",\"mask\":\"000.0\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":40,\"maximum\":250,\"regexp\":\"[0-9]{3}.[0-9]\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: diastolische bloeddruk in mmHg!\",\"level\":\"warning\"}]},{\"label\":\"HbA1c (%)\",\"name\":\"hba1c_\",\"type\":\"number\",\"database_id\":\"hba1c\",\"mask\":\"00.0\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":2,\"maximum\":20,\"regexp\":\"[0-9]{2}.[0-9]\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: HbA1c in %!\",\"level\":\"warning\"}]},{\"label\":\"Datum van bepaling\",\"name\":\"datum_van_bepaling\",\"type\":\"date\",\"database_id\":\"dhba1c\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]},{\"label\":\"Aantal bepalingen van HbA1c in het voorbije kalenderjaar\",\"name\":\"aantal_bepalingen_van_hba1c_in_het_voorbije_kalenderjaar\",\"type\":\"number\",\"database_id\":\"hba1cdetn\",\"mask\":\"integer\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":1,\"maximum\":10,\"regexp\":\"[0-9]{2}\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: aantal HbA1c-bepalingen !\",\"level\":\"warning\"}]},{\"label\":\"Gemiddeld aantal glycemiemetingen per dag\",\"name\":\"gemiddeld_aantal_glycemiemetingen_per_dag\",\"type\":\"number\",\"database_id\":\"smbg\",\"mask\":\"integer\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Op basis van het geheugen van de glycemiemeter.\",\"validators\":[{\"minimum\":1,\"maximum\":15,\"regexp\":\"[0-9]{2}\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: aantal glycemiemetingen per dag!\",\"level\":\"warning\"}]},{\"label\":\"Aantal opnames voor (ernstige) diabetische ketoacidose tijdens de 12 maanden die de laatste consultatie voorafgingen\",\"name\":\"aantal_opnames_voor_ernstige_diabetische_ketoacidose_tijdens_de_12_maanden_die_de_laatste_consultatie_voorafgingen\",\"type\":\"number\",\"database_id\":\"dka\",\"mask\":\"integer\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Tel de \\\"inaugurale\\\" DKA niet mee\",\"validators\":[{\"minimum\":0,\"maximum\":10,\"regexp\":\"[0-9]{2}\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: aantal opnames voor een (ernstige) DKA per 12 maanden!\",\"level\":\"warning\"}]},{\"label\":\"Aantal gekende episodes van hypoglycemie tijdens de 3 maanden die de laatste consultatie voorafgingen\",\"name\":\"aantal_gekende_episodes_van_hypoglycemie_tijdens_de_3_maanden_die_de_laatste_consultatie_voorafgingen\",\"type\":\"number\",\"database_id\":\"hypo\",\"mask\":\"integer\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Definitie hypoglycemie ISPAD : minstens een van volgende kenmerken : \\n- Half-tot volledig onbewuste status waarbij patient hulp van derden nodig heeft\\n- Coma zonder of met convulsies \\n- Parenterale behandeling is nodig (IM glucagon of IV glucose)\",\"validators\":[{\"minimum\":0,\"maximum\":10,\"regexp\":\"[0-9]{2}\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: aantal ernstige hypoglycemieen per 3 maanden!\",\"level\":\"warning\"}]},{\"label\":\"Aantal consultaties in het diabetescentrum tijdens het afgelopen kalenderjaar\",\"name\":\"aantal_consultaties_in_het_diabetescentrum_tijdens_het_afgelopen_kalenderjaar\",\"type\":\"number\",\"database_id\":\"consultation\",\"mask\":\"integer\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":1,\"maximum\":20,\"regexp\":\"[0-9]{2}\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: aantal consultaties!\",\"level\":\"warning\"}]}]},{\"label\":\"Screenings\",\"name\":\"screenings\",\"fields\":[{\"label\":\"Coeliakie\",\"name\":\"coeliakie\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Gebeurde screening naar coeliakie?\",\"name\":\"gebeurde_screening_naar_coeliakie\",\"database_id\":\"scrcoel\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Screening coeliakie : onderzoek naar antistoffen\",\"fields\":[{\"label\":\"Indien ja, was het resultaat positief?\",\"name\":\"indien_ja,_was_het_resultaat_positief\",\"type\":\"boolean\",\"database_id\":\"rescoel\",\"source\":\"eMD\",\"required\":false,\"sent\":true},{\"label\":\"Datum van vaststelling\",\"name\":\"datum_van_vaststelling\",\"type\":\"date\",\"database_id\":\"drescoel\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"},{\"label\":\"Wordt de patient behandeld voor coeliakie?\",\"name\":\"wordt_de_patient_behandeld_voor_coeliakie\",\"type\":\"boolean\",\"database_id\":\"trcoel\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]}]},{\"label\":\"Schildklier-immuniteit\",\"name\":\"schildklierimmuniteit\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Gebeurde screening naar schildklierauto-immuniteit?\",\"name\":\"gebeurde_screening_naar_schildklierautoimmuniteit\",\"database_id\":\"scrthy\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"fields\":[{\"label\":\"Indien ja, was het resultaat positief?\",\"name\":\"indien_ja,_was_het_resultaat_positief\",\"type\":\"boolean\",\"database_id\":\"resthy\",\"source\":\"eMD\",\"required\":false,\"sent\":true},{\"label\":\"Datum van vaststelling\",\"name\":\"datum_van_vaststelling\",\"type\":\"date\",\"database_id\":\"dresthy\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]}]},{\"label\":\"Hypo- of hyperthyreoidie\",\"name\":\"hypo_of_hyperthyreodie\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Wordt de patient behandeld voor hypo- of hyperthyreoidie?\",\"name\":\"wordt_de_patient_behandeld_voor_hypo_of_hyperthyreodie\",\"database_id\":\"trthy\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]},{\"label\":\"Epilepsie\",\"name\":\"epilepsie\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Wordt de patient behandeld voor epilepsie?\",\"name\":\"wordt_de_patient_behandeld_voor_epilepsie\",\"database_id\":\"trepi\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]},{\"label\":\"Retinopathie\",\"name\":\"retinopathie\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Gebeurde screening naar retinopathie?\",\"name\":\"gebeurde_screening_naar_retinopathie\",\"database_id\":\"scrret\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Positief indien retinopathie aanwezig is \",\"fields\":[{\"label\":\"Indien ja, was het resultaat positief?\",\"name\":\"indien_ja,_was_het_resultaat_positief\",\"type\":\"boolean\",\"database_id\":\"resret\",\"source\":\"eMD\",\"required\":false,\"sent\":true},{\"label\":\"Datum van vaststelling\",\"name\":\"datum_van_vaststelling\",\"type\":\"date\",\"database_id\":\"dresret\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]}]},{\"label\":\"Nefropathie\",\"name\":\"nefropathie\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Gebeurde screening naar nefropathie?\",\"name\":\"gebeurde_screening_naar_nefropathie\",\"database_id\":\"scrneph\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"fields\":[{\"label\":\"Indien ja, was het resultaat positief?\",\"name\":\"indien_ja,_was_het_resultaat_positief\",\"type\":\"boolean\",\"database_id\":\"resneph\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Een diagnose van (micro)albuminurie is bevestigd als er in een periode van 3 tot 6 maanden, 2 van de 3 testresultaten abnormaal zijn, en dit na uitsluiten van andere factoren (fysieke inspanning, urineweginfecties, menstruatie, voedingsgewoonten,...)\\nEen abnormaal testresultaat wordt als volgt gedefinieerd:\\n- Timed collection: albumin excretion rate (AER) â‰¥20 Î¼g/min or â‰¥30 mg/24 h\\n- Spot urine analysis: â‰¥30 mg/L or albumin/creatinine ratio (ACR) â‰¥2.5 mg/mmol (males) or â‰¥3.5 mg/mmol (females)\"},{\"label\":\"Datum van vaststelling\",\"name\":\"datum_van_vaststelling\",\"type\":\"date\",\"database_id\":\"dresneph\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]}]},{\"label\":\"Bloedlipiden\",\"name\":\"bloedlipiden\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Gebeurde bepaling van bloedlipiden?\",\"name\":\"gebeurde_bepaling_van_bloedlipiden\",\"database_id\":\"scrlip\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]},{\"label\":\"Neuropathie\",\"name\":\"neuropathie\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Gebeurde screening naar neuropathie?\",\"name\":\"gebeurde_screening_naar_neuropathie\",\"database_id\":\"scrneur\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]}]}]}]}",
                "version": "1.0",
                "language": "NL",
                "createdOn": "2014-09-08 16:17:15",
                "published": "false",
                "validFrom": "2014-01-01 00:00:00",
                "validTill": "2114-01-01 00:00:00",
                "dataCollectionUri": "http://localhost:8080/catalogue/datacollectiondefinitions/1"
            }

### GET
This API call will GET you the Datacollection definition with the provided ID.

+ Request
    
    + Body
    
            {
            }
+ Response 200
    [Datacollection Definition - ID][]


## Datacollection Definition - 1 [/datacollectiondefinitions/1]

### GET

+ Response 200 (application/json)
    + Body

            {
                "id": "1",
                "name": "IQECAD",
                "description": "IQECAD",
                "content": "{\"label\":\"IQECAD\",\"conditions\":[{\"name\":\"leeftijd\",\"expression\":\"$['algemeen']['jaar_van_datacollectie'] - $['patientgegevens']['geboortejaar'] <= 18\",\"errorMessage\":\"Patient is ouder dan 18, hetgeen een exclusiecriterium is.\"},{\"name\":\"insulinetoediening-leeftijd\",\"expression\":\"new Date($['patientgegevens']['datum_van_de_eerste_insulinetoediening']).getFullYear() >= $['patientgegevens']['geboortejaar']\",\"errorMessage\":\"Het jaar van de eerste insulinetoediening kan niet voor het geboortejaar vallen.\"},{\"name\":\"insulinetoediening-huidig-jaar\",\"expression\":\"new Date($['patientgegevens']['datum_van_de_eerste_insulinetoediening']).getFullYear() <= $['algemeen']['jaar_van_datacollectie']\",\"errorMessage\":\"Het jaar van de eerste insulinetoediening kan niet na het huidige jaar vallen.\"},{\"name\":\"consultatie-gegevensinzameling\",\"expression\":\"new Date($['datacollectie']['algemeen']['datum_van_de_meest_recente_consultatie']).getFullYear() === $['algemeen']['jaar_van_datacollectie']\",\"errorMessage\":\"Het jaar van de consultatie moet overeenstemmen met het jaar van de gegevensinzameling.\"},{\"name\":\"diastolische-systolische\",\"expression\":\"$['datacollectie']['metingen']['diastolische_bloeddruk']['diastolische_bloeddruk_mmhg'] < $['datacollectie']['metingen']['systolische_bloeddruk']['systolische_bloeddruk_mmhg']\",\"errorMessage\":\"Diastolische bloeddruk moet lager zijn dan systolische bloeddruk.\"},{\"name\":\"volledigjaar\",\"expression\":\"(new Date($['patientgegevens']['datum_van_de_eerste_insulinetoediening']).getFullYear() === $['algemeen']['jaar_van_datacollectie']) === !$['datacollectie']['algemeen']['de_patient_was_gedurende_het_ganse_kalenderjaar_in_behandeling_bij_dit_centrum']\",\"errorMessage\":\"Een opvolging van een volledig jaar is niet mogelijk als de diagnose in de loop van dit jaar gesteld werd.\"}],\"sections\":[{\"label\":\"Algemeen\",\"name\":\"algemeen\",\"sticky\":true,\"fields\":[{\"label\":\"Jaar van datacollectie\",\"name\":\"jaar_van_datacollectie\",\"type\":\"number\",\"database_id\":\"collect_year\",\"default\":\"2013\",\"required\":true,\"sent\":true,\"sticky\":true},{\"label\":\"Creatiedatum van klinische file\",\"name\":\"creatiedatum_van_klinische_file\",\"type\":\"date\",\"database_id\":\"rec_date\",\"default\":\"02/06/2014\",\"mask\":\"dd/mm/yyyy\",\"required\":true,\"sent\":true}]},{\"label\":\"Patientgegevens\",\"name\":\"patientgegevens\",\"sticky\":true,\"fields\":[{\"label\":\"Patient NISS\",\"name\":\"patient_niss\",\"type\":\"number\",\"database_id\":\"coded_NISS/patient_id\",\"mask\":\"valid format + kruispuntbank (not empty NISS)\",\"required\":true,\"sent\":true,\"sticky\":true},{\"label\":\"Naam\",\"name\":\"naam\",\"type\":\"text\",\"source\":\"National Registry\",\"required\":false,\"sent\":false,\"sticky\":true},{\"label\":\"Voornaam\",\"name\":\"voornaam\",\"type\":\"text\",\"source\":\"National Registry\",\"required\":false,\"sent\":false,\"sticky\":true},{\"label\":\"Geslacht\",\"name\":\"geslacht\",\"type\":\"choice\",\"choices\":[{\"label\":\"Vrouw\",\"name\":\"vrouw\",\"database_id\":\"0\"},{\"label\":\"Man\",\"name\":\"man\",\"database_id\":\"1\"}],\"database_id\":\"gender\",\"source\":\"National Registry\",\"required\":true,\"sent\":true},{\"label\":\"Geboortemaand\",\"name\":\"geboortemaand\",\"type\":\"number\",\"database_id\":\"birthMonth\",\"source\":\"National Registry\",\"required\":true,\"sent\":true},{\"label\":\"Geboortejaar\",\"name\":\"geboortejaar\",\"type\":\"number\",\"database_id\":\"birthYear\",\"source\":\"National Registry\",\"required\":true,\"sent\":true},{\"label\":\"Arrondissement\",\"name\":\"arrondissement\",\"type\":\"number\",\"database_id\":\"District\",\"source\":\"National Registry\",\"required\":false,\"sent\":true},{\"label\":\"Overleden?\",\"name\":\"overleden\",\"type\":\"boolean\",\"database_id\":\"deceased\",\"source\":\"National Registry\",\"required\":false,\"sent\":true},{\"label\":\"Jaar van overlijden\",\"name\":\"jaar_van_overlijden\",\"type\":\"date\",\"database_id\":\"deathYear\",\"source\":\"National Registry\",\"required\":false,\"sent\":true},{\"label\":\"Datum van de eerste insulinetoediening\",\"name\":\"datum_van_de_eerste_insulinetoediening\",\"type\":\"date\",\"database_id\":\"dinj\",\"mask\":\"yyyy\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Indien de exacte datum niet gekend is, maar wel het jaar, dan kan men invullen: 30/06/JJJJ\"},{\"label\":\"Etniciteit vader\",\"name\":\"etniciteit_vader\",\"type\":\"choice\",\"database_id\":\"ethnf\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"choices\":[{\"label\":\"Kaukasisch\",\"name\":\"kaukasisch\",\"database_id\":\"1\"},{\"label\":\"Maghrebijns\",\"name\":\"maghrebijns\",\"database_id\":\"2\"},{\"label\":\"Zwart-Afrikaans\",\"name\":\"zwartafrikaans\",\"database_id\":\"3\"},{\"label\":\"Andere\",\"name\":\"andere\",\"database_id\":\"4\",\"fields\":[{\"label\":\"Indien \\\"andere\\\", specificeren\",\"name\":\"indien_andere,_specificeren\",\"type\":\"text\",\"database_id\":\"ethnfoth\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]}]},{\"label\":\"Etniciteit moeder\",\"name\":\"etniciteit_moeder\",\"type\":\"choice\",\"database_id\":\"ethnm\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"choices\":[{\"label\":\"Kaukasisch\",\"name\":\"kaukasisch\",\"database_id\":\"1\"},{\"label\":\"Maghrebijns\",\"name\":\"maghrebijns\",\"database_id\":\"2\"},{\"label\":\"Zwart-Afrikaans\",\"name\":\"zwartafrikaans\",\"database_id\":\"3\"},{\"label\":\"Andere\",\"name\":\"andere\",\"database_id\":\"4\",\"fields\":[{\"label\":\"Indien \\\"andere\\\", specificeren\",\"name\":\"indien_andere,_specificeren\",\"type\":\"text\",\"database_id\":\"ethnmoth\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]}]}]},{\"label\":\"Datacollectie\",\"name\":\"datacollectie\",\"sections\":[{\"label\":\"Algemeen\",\"name\":\"algemeen\",\"fields\":[{\"label\":\"De patient was gedurende het ganse kalenderjaar in behandeling bij dit centrum\",\"name\":\"de_patient_was_gedurende_het_ganse_kalenderjaar_in_behandeling_bij_dit_centrum\",\"type\":\"boolean\",\"database_id\":\"follow\",\"source\":\"eMD\",\"required\":true,\"sent\":true,\"help\":\"Kies \\\"neen\\\" wanneer de patient gedurende het kalenderjaar gediagnosticeerd werd, OF zich gedurende het kalenderjaar aansloot bij het centrum, OF het centrum verliet (bv. door verhuizing, meerderjarigheid, ...).\"},{\"label\":\"Datum van de meest recente consultatie\",\"name\":\"datum_van_de_meest_recente_consultatie\",\"type\":\"date\",\"database_id\":\"dcons\",\"mask\":\"dd/mm/yyyy\",\"source\":\"eMD\",\"required\":true,\"sent\":true,\"help\":\"Het gaat hier om de datum van de consultatie waarvan alle verdere gegevens afgeleid zijn. Voor procedures die niet bij elke consultatie uitgevoerd dienen te worden is het mogelijk om later een andere datum te specificeren.\"},{\"label\":\"Kerngezin\",\"name\":\"kerngezin\",\"type\":\"boolean\",\"database_id\":\"family\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Kerngezin: originele vader en moeder zijn aanwezig. In geval van adoptie betekent dit dat de originele adoptiefouders nog aanwezig zijn. Bewust alleenstaande ouders worden niet als kerngezin beschouwd.\"},{\"label\":\"Taalproblemen\",\"name\":\"taalproblemen\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Zijn er taalproblemen die de communicatie bemoeilijken?\",\"name\":\"zijn_er_taalproblemen_die_de_communicatie_bemoeilijken\",\"database_id\":\"probcomm1\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Indien \\\"Ja\\\", dan kan u hieronder meerdere antwoorden aanduiden.\",\"fields\":[{\"label\":\"Zo ja, met het kind?\",\"name\":\"zo_ja,_met_het_kind\",\"type\":\"boolean\",\"database_id\":\"probcomm2a\",\"source\":\"eMD\",\"required\":false,\"sent\":true},{\"label\":\"Zo ja, met de ouders?\",\"name\":\"zo_ja,_met_de_ouders\",\"type\":\"boolean\",\"database_id\":\"probcomm2b\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]}]},{\"label\":\"Puberteit/prepuberteit\",\"name\":\"puberteitprepuberteit\",\"type\":\"choice\",\"choices\":[{\"label\":\"Puberteit\",\"name\":\"puberteit\",\"database_id\":\"1\"},{\"label\":\"Prepuberteit\",\"name\":\"prepuberteit\",\"database_id\":\"2\"}],\"database_id\":\"puberty\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Kies ook \\\"Puberteit\\\" bij volwassen patienten\"},{\"label\":\"Insulineschema\",\"name\":\"insulineschema\",\"type\":\"choice\",\"database_id\":\"inssch\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"choices\":[{\"label\":\"Standaard mengsels toegediend 's morgens en 's avonds met occasioneel een extra toediening van snelle/ultrasnelle insuline\",\"name\":\"standaard_mengsels_toegediend_s_morgens_en_s_avonds_met_occasioneel_een_extra_toediening_van_snelleultrasnelle_insuline\",\"database_id\":\"1\"},{\"label\":\"Individueel samengestelde mengsels toegediend 's morgens en 's avonds met occasioneel een extra toediening van snelle/ultrasnelle insuline\",\"name\":\"individueel_samengestelde_mengsels_toegediend_s_morgens_en_s_avonds_met_occasioneel_een_extra_toediening_van_snelleultrasnelle_insuline\",\"database_id\":\"2\"},{\"label\":\"Individueel samengestelde mengsels toegediend 's morgens en 's avonds met een systematische toediening van een snelle/ultrasnelle insuline (d.w.z. elke dag)\",\"name\":\"individueel_samengestelde_mengsels_toegediend_s_morgens_en_s_avonds_met_een_systematische_toediening_van_een_snelleultrasnelle_insuline_dwz_elke_dag\",\"database_id\":\"3\"},{\"label\":\"Basaal-prandiale insulinebehandeling (basaal-bolus)\",\"name\":\"basaalprandiale_insulinebehandeling_basaalbolus\",\"database_id\":\"4\"},{\"label\":\"Insulinepomp\",\"name\":\"insulinepomp\",\"database_id\":\"5\"},{\"label\":\"Andere\",\"name\":\"andere\",\"database_id\":\"6\",\"fields\":[{\"label\":\"Indien \\\"andere\\\", specificeren\",\"name\":\"indien_andere,_specificeren\",\"type\":\"text\",\"database_id\":\"insschmisc\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]}]},{\"label\":\"Andere medicatie\",\"name\":\"andere_medicatie\",\"type\":\"text\",\"database_id\":\"miscdrugs\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]},{\"label\":\"Metingen\",\"name\":\"metingen\",\"fields\":[{\"label\":\"Insulinedosis (IE/dag)\",\"name\":\"insulinedosis_iedag\",\"type\":\"number\",\"database_id\":\"insdose\",\"mask\":\"000.0\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Bij pompgebruikers en basaal-prandiale insulinebehandeling dient men de dosis op te geven van de dag die de laatste consultatie voorafgaat.\",\"validators\":[{\"minimum\":1,\"maximum\":200,\"regexp\":\"[0-9]{3}.[0-9]\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: insulinedosis in IE per dag!\",\"level\":\"warning\"}]},{\"label\":\"Lengte\",\"name\":\"lengte\",\"type\":\"fieldset\",\"fields\":[{\"label\":\"Lengte (cm)\",\"name\":\"lengte_cm\",\"type\":\"number\",\"database_id\":\"height\",\"mask\":\"000.0\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":40,\"maximum\":220,\"regexp\":\"[0-9]{3}.[0-9]\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: lengte in cm!\",\"level\":\"warning\"}]},{\"label\":\"Datum van bepaling\",\"name\":\"datum_van_bepaling\",\"type\":\"date\",\"database_id\":\"dheight\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]},{\"label\":\"Gewicht\",\"name\":\"gewicht\",\"type\":\"fieldset\",\"fields\":[{\"label\":\"Gewicht (kg)\",\"name\":\"gewicht_kg\",\"type\":\"number\",\"database_id\":\"weight\",\"mask\":\"000.0\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":2,\"maximum\":200,\"regexp\":\"[0-9]{3}.[0-9]\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: gewicht in kg!\",\"level\":\"warning\"}]},{\"label\":\"Datum van bepaling\",\"name\":\"datum_van_bepaling\",\"type\":\"date\",\"database_id\":\"dweight\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]},{\"label\":\"Systolische bloeddruk\",\"name\":\"systolische_bloeddruk\",\"type\":\"fieldset\",\"fields\":[{\"label\":\"Systolische bloeddruk (mmHg)\",\"name\":\"systolische_bloeddruk_mmhg\",\"type\":\"number\",\"database_id\":\"sbp\",\"mask\":\"000.0\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":40,\"maximum\":250,\"regexp\":\"[0-9]{3}.[0-9]\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: systolische bloeddruk in mmHg!\",\"level\":\"warning\"}]},{\"label\":\"Datum van bepaling\",\"name\":\"datum_van_bepaling\",\"type\":\"date\",\"database_id\":\"datebp\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]},{\"label\":\"Diastolische bloeddruk\",\"name\":\"diastolische_bloeddruk\",\"type\":\"fieldset\",\"fields\":[{\"label\":\"Diastolische bloeddruk (mmHg)\",\"name\":\"diastolische_bloeddruk_mmhg\",\"type\":\"number\",\"database_id\":\"dbp\",\"mask\":\"000.0\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":40,\"maximum\":250,\"regexp\":\"[0-9]{3}.[0-9]\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: diastolische bloeddruk in mmHg!\",\"level\":\"warning\"}]},{\"label\":\"HbA1c (%)\",\"name\":\"hba1c_\",\"type\":\"number\",\"database_id\":\"hba1c\",\"mask\":\"00.0\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":2,\"maximum\":20,\"regexp\":\"[0-9]{2}.[0-9]\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: HbA1c in %!\",\"level\":\"warning\"}]},{\"label\":\"Datum van bepaling\",\"name\":\"datum_van_bepaling\",\"type\":\"date\",\"database_id\":\"dhba1c\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]},{\"label\":\"Aantal bepalingen van HbA1c in het voorbije kalenderjaar\",\"name\":\"aantal_bepalingen_van_hba1c_in_het_voorbije_kalenderjaar\",\"type\":\"number\",\"database_id\":\"hba1cdetn\",\"mask\":\"integer\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":1,\"maximum\":10,\"regexp\":\"[0-9]{2}\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: aantal HbA1c-bepalingen !\",\"level\":\"warning\"}]},{\"label\":\"Gemiddeld aantal glycemiemetingen per dag\",\"name\":\"gemiddeld_aantal_glycemiemetingen_per_dag\",\"type\":\"number\",\"database_id\":\"smbg\",\"mask\":\"integer\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Op basis van het geheugen van de glycemiemeter.\",\"validators\":[{\"minimum\":1,\"maximum\":15,\"regexp\":\"[0-9]{2}\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: aantal glycemiemetingen per dag!\",\"level\":\"warning\"}]},{\"label\":\"Aantal opnames voor (ernstige) diabetische ketoacidose tijdens de 12 maanden die de laatste consultatie voorafgingen\",\"name\":\"aantal_opnames_voor_ernstige_diabetische_ketoacidose_tijdens_de_12_maanden_die_de_laatste_consultatie_voorafgingen\",\"type\":\"number\",\"database_id\":\"dka\",\"mask\":\"integer\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Tel de \\\"inaugurale\\\" DKA niet mee\",\"validators\":[{\"minimum\":0,\"maximum\":10,\"regexp\":\"[0-9]{2}\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: aantal opnames voor een (ernstige) DKA per 12 maanden!\",\"level\":\"warning\"}]},{\"label\":\"Aantal gekende episodes van hypoglycemie tijdens de 3 maanden die de laatste consultatie voorafgingen\",\"name\":\"aantal_gekende_episodes_van_hypoglycemie_tijdens_de_3_maanden_die_de_laatste_consultatie_voorafgingen\",\"type\":\"number\",\"database_id\":\"hypo\",\"mask\":\"integer\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Definitie hypoglycemie ISPAD : minstens een van volgende kenmerken : \\n- Half-tot volledig onbewuste status waarbij patient hulp van derden nodig heeft\\n- Coma zonder of met convulsies \\n- Parenterale behandeling is nodig (IM glucagon of IV glucose)\",\"validators\":[{\"minimum\":0,\"maximum\":10,\"regexp\":\"[0-9]{2}\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: aantal ernstige hypoglycemieen per 3 maanden!\",\"level\":\"warning\"}]},{\"label\":\"Aantal consultaties in het diabetescentrum tijdens het afgelopen kalenderjaar\",\"name\":\"aantal_consultaties_in_het_diabetescentrum_tijdens_het_afgelopen_kalenderjaar\",\"type\":\"number\",\"database_id\":\"consultation\",\"mask\":\"integer\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"validators\":[{\"minimum\":1,\"maximum\":20,\"regexp\":\"[0-9]{2}\",\"errorMessage\":\"Ga na of u de correcte waarde heeft ingegeven: aantal consultaties!\",\"level\":\"warning\"}]}]},{\"label\":\"Screenings\",\"name\":\"screenings\",\"fields\":[{\"label\":\"Coeliakie\",\"name\":\"coeliakie\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Gebeurde screening naar coeliakie?\",\"name\":\"gebeurde_screening_naar_coeliakie\",\"database_id\":\"scrcoel\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Screening coeliakie : onderzoek naar antistoffen\",\"fields\":[{\"label\":\"Indien ja, was het resultaat positief?\",\"name\":\"indien_ja,_was_het_resultaat_positief\",\"type\":\"boolean\",\"database_id\":\"rescoel\",\"source\":\"eMD\",\"required\":false,\"sent\":true},{\"label\":\"Datum van vaststelling\",\"name\":\"datum_van_vaststelling\",\"type\":\"date\",\"database_id\":\"drescoel\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"},{\"label\":\"Wordt de patient behandeld voor coeliakie?\",\"name\":\"wordt_de_patient_behandeld_voor_coeliakie\",\"type\":\"boolean\",\"database_id\":\"trcoel\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]}]},{\"label\":\"Schildklier-immuniteit\",\"name\":\"schildklierimmuniteit\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Gebeurde screening naar schildklierauto-immuniteit?\",\"name\":\"gebeurde_screening_naar_schildklierautoimmuniteit\",\"database_id\":\"scrthy\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"fields\":[{\"label\":\"Indien ja, was het resultaat positief?\",\"name\":\"indien_ja,_was_het_resultaat_positief\",\"type\":\"boolean\",\"database_id\":\"resthy\",\"source\":\"eMD\",\"required\":false,\"sent\":true},{\"label\":\"Datum van vaststelling\",\"name\":\"datum_van_vaststelling\",\"type\":\"date\",\"database_id\":\"dresthy\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]}]},{\"label\":\"Hypo- of hyperthyreoidie\",\"name\":\"hypo_of_hyperthyreodie\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Wordt de patient behandeld voor hypo- of hyperthyreoidie?\",\"name\":\"wordt_de_patient_behandeld_voor_hypo_of_hyperthyreodie\",\"database_id\":\"trthy\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]},{\"label\":\"Epilepsie\",\"name\":\"epilepsie\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Wordt de patient behandeld voor epilepsie?\",\"name\":\"wordt_de_patient_behandeld_voor_epilepsie\",\"database_id\":\"trepi\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]},{\"label\":\"Retinopathie\",\"name\":\"retinopathie\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Gebeurde screening naar retinopathie?\",\"name\":\"gebeurde_screening_naar_retinopathie\",\"database_id\":\"scrret\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Positief indien retinopathie aanwezig is \",\"fields\":[{\"label\":\"Indien ja, was het resultaat positief?\",\"name\":\"indien_ja,_was_het_resultaat_positief\",\"type\":\"boolean\",\"database_id\":\"resret\",\"source\":\"eMD\",\"required\":false,\"sent\":true},{\"label\":\"Datum van vaststelling\",\"name\":\"datum_van_vaststelling\",\"type\":\"date\",\"database_id\":\"dresret\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]}]},{\"label\":\"Nefropathie\",\"name\":\"nefropathie\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Gebeurde screening naar nefropathie?\",\"name\":\"gebeurde_screening_naar_nefropathie\",\"database_id\":\"scrneph\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"fields\":[{\"label\":\"Indien ja, was het resultaat positief?\",\"name\":\"indien_ja,_was_het_resultaat_positief\",\"type\":\"boolean\",\"database_id\":\"resneph\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Een diagnose van (micro)albuminurie is bevestigd als er in een periode van 3 tot 6 maanden, 2 van de 3 testresultaten abnormaal zijn, en dit na uitsluiten van andere factoren (fysieke inspanning, urineweginfecties, menstruatie, voedingsgewoonten,...)\\nEen abnormaal testresultaat wordt als volgt gedefinieerd:\\n- Timed collection: albumin excretion rate (AER) â‰¥20 Î¼g/min or â‰¥30 mg/24 h\\n- Spot urine analysis: â‰¥30 mg/L or albumin/creatinine ratio (ACR) â‰¥2.5 mg/mmol (males) or â‰¥3.5 mg/mmol (females)\"},{\"label\":\"Datum van vaststelling\",\"name\":\"datum_van_vaststelling\",\"type\":\"date\",\"database_id\":\"dresneph\",\"source\":\"eMD\",\"required\":false,\"sent\":true,\"help\":\"Datum van resultaat indien verschillend van datum laatste consultatie\"}]}]},{\"label\":\"Bloedlipiden\",\"name\":\"bloedlipiden\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Gebeurde bepaling van bloedlipiden?\",\"name\":\"gebeurde_bepaling_van_bloedlipiden\",\"database_id\":\"scrlip\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]},{\"label\":\"Neuropathie\",\"name\":\"neuropathie\",\"type\":\"multichoice\",\"choices\":[{\"label\":\"Gebeurde screening naar neuropathie?\",\"name\":\"gebeurde_screening_naar_neuropathie\",\"database_id\":\"scrneur\",\"source\":\"eMD\",\"required\":false,\"sent\":true}]}]}]}]}",
                "version": "1.0",
                "language": "NL",
                "createdOn": "2014-09-08 16:17:15",
                "published": "false",
                "validFrom": "2014-01-01 00:00:00",
                "validTill": "2114-01-01 00:00:00",
                "dataCollectionUri": "http://localhost:8080/catalogue/datacollectiondefinitions/1"
            }

## Datacollection Definition - 2 [/datacollectiondefinitions/2]

### GET

+ Response 200 (application/json)
    + Body

            {
                "id": "2",
                "name": "BCFR",
                "description": "BCFR",
                "content": "{\"label\":\"BCFR\",\"sections\":[{\"label\":\"Background data\",\"name\":\"background_data\",\"fields\":[{\"label\":\"Patient Code\",\"name\":\"patient_code\",\"type\":\"number\",\"database_id\":\"patient_id\",\"required\":true},{\"label\":\"Collect year\",\"name\":\"collect_year\",\"type\":\"number\",\"default\":2014,\"read-only\":true,\"required\":true}],\"sections\":[{\"label\":\"Identification\",\"name\":\"identification\",\"fields\":[{\"label\":\"NISS\",\"name\":\"niss\",\"type\":\"text\",\"database_id\":\"coded_NISS\",\"source\":\"National registry\",\"required\":true,\"sent\":false},{\"label\":\"Name\",\"name\":\"name\",\"type\":\"text\",\"required\":false,\"sent\":false},{\"label\":\"First Name\",\"name\":\"first_name\",\"type\":\"text\",\"required\":false,\"sent\":false},{\"label\":\"Gender\",\"name\":\"gender\",\"type\":\"choice\",\"choices\":[{\"label\":\"Male\",\"name\":\"male\"},{\"label\":\"Female\",\"name\":\"female\"},{\"label\":\"Unknown\",\"name\":\"unknown\"},{\"label\":\"Changed\",\"name\":\"changed\"},{\"label\":\"Undefined\",\"name\":\"undefined\"}],\"database_id\":\"gender\",\"source\":\"National registry\",\"required\":true},{\"label\":\"Birth Date\",\"name\":\"birth_date\",\"type\":\"date\",\"database_id\":\"birthDate\",\"source\":\"National registry\",\"required\":false},{\"label\":\"Birth Year\",\"name\":\"birth_year\",\"type\":\"number\",\"database_id\":\"birthYear\",\"rule\":\"= new Date($['background_data']['identification']['birth_date']).getFullYear()\",\"read-only\":true,\"required\":true},{\"label\":\"Birth Month\",\"name\":\"birth_month\",\"type\":\"number\",\"database_id\":\"birthMonth\",\"rule\":\"= new Date($['background_data']['identification']['birth_date']).getMonth()\",\"read-only\":true,\"required\":true},{\"label\":\"Age\",\"name\":\"age\",\"type\":\"number\",\"database_id\":\"age\",\"rule\":\"= new Date($['background_data']['collect_year']) - new Date($['background_data']['identification']['birth_date'])\",\"read-only\":true,\"required\":true},{\"label\":\"District\",\"name\":\"district\",\"type\":\"choice\",\"choices\":[{\"label\":\"Aartselaar\",\"name\":\"aartselaar\"},{\"label\":\"Antwerpen\",\"name\":\"antwerpen\"},{\"label\":\"Boechout\",\"name\":\"boechout\"},{\"label\":\"Boom\",\"name\":\"boom\"},{\"label\":\"Borsbeek\",\"name\":\"borsbeek\"},{\"label\":\"Brasschaat\",\"name\":\"brasschaat\"},{\"label\":\"Brecht\",\"name\":\"brecht\"},{\"label\":\"Edegem\",\"name\":\"edegem\"},{\"label\":\"Essen\",\"name\":\"essen\"},{\"label\":\"Hemiksem\",\"name\":\"hemiksem\"},{\"label\":\"Hove\",\"name\":\"hove\"},{\"label\":\"Kalmthout\",\"name\":\"kalmthout\"},{\"label\":\"Kapellen\",\"name\":\"kapellen\"},{\"label\":\"Kontich\",\"name\":\"kontich\"},{\"label\":\"Lint\",\"name\":\"lint\"},{\"label\":\"Mortsel\",\"name\":\"mortsel\"},{\"label\":\"Niel\",\"name\":\"niel\"},{\"label\":\"Ranst\",\"name\":\"ranst\"},{\"label\":\"Rumst\",\"name\":\"rumst\"},{\"label\":\"Schelle\",\"name\":\"schelle\"},{\"label\":\"Schilde\",\"name\":\"schilde\"},{\"label\":\"Schoten\",\"name\":\"schoten\"},{\"label\":\"Stabroek\",\"name\":\"stabroek\"},{\"label\":\"Wijnegem\",\"name\":\"wijnegem\"},{\"label\":\"Wommelgem\",\"name\":\"wommelgem\"},{\"label\":\"Wuustwezel\",\"name\":\"wuustwezel\"},{\"label\":\"Zandhoven\",\"name\":\"zandhoven\"},{\"label\":\"Zoersel\",\"name\":\"zoersel\"},{\"label\":\"Zwijndrecht\",\"name\":\"zwijndrecht\"},{\"label\":\"Malle\",\"name\":\"malle\"},{\"label\":\"Berlaar\",\"name\":\"berlaar\"},{\"label\":\"Bonheiden\",\"name\":\"bonheiden\"},{\"label\":\"Bornem\",\"name\":\"bornem\"},{\"label\":\"Duffel\",\"name\":\"duffel\"},{\"label\":\"Heist-op-den-Berg\",\"name\":\"heistopdenberg\"},{\"label\":\"Lier\",\"name\":\"lier\"},{\"label\":\"Mechelen\",\"name\":\"mechelen\"},{\"label\":\"Nijlen\",\"name\":\"nijlen\"},{\"label\":\"Putte\",\"name\":\"putte\"},{\"label\":\"Puurs\",\"name\":\"puurs\"},{\"label\":\"Sint-Amands\",\"name\":\"sintamands\"},{\"label\":\"Sint-Katelijne-Waver\",\"name\":\"sintkatelijnewaver\"},{\"label\":\"Willebroek\",\"name\":\"willebroek\"},{\"label\":\"Arendonk\",\"name\":\"arendonk\"},{\"label\":\"Baarle-Hertog\",\"name\":\"baarlehertog\"},{\"label\":\"Balen\",\"name\":\"balen\"},{\"label\":\"Beerse\",\"name\":\"beerse\"},{\"label\":\"Dessel\",\"name\":\"dessel\"},{\"label\":\"Geel\",\"name\":\"geel\"},{\"label\":\"Grobbendonk\",\"name\":\"grobbendonk\"},{\"label\":\"Herentals\",\"name\":\"herentals\"},{\"label\":\"Herenthout\",\"name\":\"herenthout\"},{\"label\":\"Herselt\",\"name\":\"herselt\"},{\"label\":\"Hoogstraten\",\"name\":\"hoogstraten\"},{\"label\":\"Hulshout\",\"name\":\"hulshout\"},{\"label\":\"Kasterlee\",\"name\":\"kasterlee\"},{\"label\":\"Lille\",\"name\":\"lille\"},{\"label\":\"Meerhout\",\"name\":\"meerhout\"},{\"label\":\"Merksplas\",\"name\":\"merksplas\"},{\"label\":\"Mol\",\"name\":\"mol\"},{\"label\":\"Olen\",\"name\":\"olen\"},{\"label\":\"Oud-Turnhout\",\"name\":\"oudturnhout\"},{\"label\":\"Ravels\",\"name\":\"ravels\"},{\"label\":\"Retie\",\"name\":\"retie\"},{\"label\":\"Rijkevorsel\",\"name\":\"rijkevorsel\"},{\"label\":\"Turnhout\",\"name\":\"turnhout\"},{\"label\":\"Vorselaar\",\"name\":\"vorselaar\"},{\"label\":\"Vosselaar\",\"name\":\"vosselaar\"},{\"label\":\"Westerlo\",\"name\":\"westerlo\"},{\"label\":\"Laakdal\",\"name\":\"laakdal\"},{\"label\":\"Anderlecht\",\"name\":\"anderlecht\"},{\"label\":\"Oudergem\",\"name\":\"oudergem\"},{\"label\":\"Sint-Agatha-Berchem\",\"name\":\"sintagathaberchem\"},{\"label\":\"Brussel\",\"name\":\"brussel\"},{\"label\":\"Etterbeek\",\"name\":\"etterbeek\"},{\"label\":\"Evere\",\"name\":\"evere\"},{\"label\":\"Vorst\",\"name\":\"vorst\"},{\"label\":\"Ganshoren\",\"name\":\"ganshoren\"},{\"label\":\"Elsene\",\"name\":\"elsene\"},{\"label\":\"Jette\",\"name\":\"jette\"},{\"label\":\"Koekelberg\",\"name\":\"koekelberg\"},{\"label\":\"Sint-Jans-Molenbeek\",\"name\":\"sintjansmolenbeek\"},{\"label\":\"Sint-Gillis\",\"name\":\"sintgillis\"},{\"label\":\"Sint-Joost-ten-Node\",\"name\":\"sintjoosttennode\"},{\"label\":\"Schaarbeek\",\"name\":\"schaarbeek\"},{\"label\":\"Ukkel\",\"name\":\"ukkel\"},{\"label\":\"Watermaal-Bosvoorde\",\"name\":\"watermaalbosvoorde\"},{\"label\":\"Sint-Lambrechts-Woluwe\",\"name\":\"sintlambrechtswoluwe\"},{\"label\":\"Sint-Pieters-Woluwe\",\"name\":\"sintpieterswoluwe\"},{\"label\":\"Asse\",\"name\":\"asse\"},{\"label\":\"Beersel\",\"name\":\"beersel\"},{\"label\":\"Bever\",\"name\":\"bever\"},{\"label\":\"Dilbeek\",\"name\":\"dilbeek\"},{\"label\":\"Galmaarden\",\"name\":\"galmaarden\"},{\"label\":\"Gooik\",\"name\":\"gooik\"},{\"label\":\"Grimbergen\",\"name\":\"grimbergen\"},{\"label\":\"Halle\",\"name\":\"halle\"},{\"label\":\"Herne\",\"name\":\"herne\"},{\"label\":\"Hoeilaart\",\"name\":\"hoeilaart\"},{\"label\":\"Kampenhout\",\"name\":\"kampenhout\"},{\"label\":\"Kapelle-op-den-Bos\",\"name\":\"kapelleopdenbos\"},{\"label\":\"Liedekerke\",\"name\":\"liedekerke\"},{\"label\":\"Londerzeel\",\"name\":\"londerzeel\"},{\"label\":\"Machelen\",\"name\":\"machelen\"},{\"label\":\"Meise\",\"name\":\"meise\"},{\"label\":\"Merchtem\",\"name\":\"merchtem\"},{\"label\":\"Opwijk\",\"name\":\"opwijk\"},{\"label\":\"Overijse\",\"name\":\"overijse\"},{\"label\":\"Pepingen\",\"name\":\"pepingen\"},{\"label\":\"Sint-Pieters-Leeuw\",\"name\":\"sintpietersleeuw\"},{\"label\":\"Steenokkerzeel\",\"name\":\"steenokkerzeel\"},{\"label\":\"Ternat\",\"name\":\"ternat\"},{\"label\":\"Vilvoorde\",\"name\":\"vilvoorde\"},{\"label\":\"Zaventem\",\"name\":\"zaventem\"},{\"label\":\"Zemst\",\"name\":\"zemst\"},{\"label\":\"Roosdaal\",\"name\":\"roosdaal\"},{\"label\":\"Drogenbos\",\"name\":\"drogenbos\"},{\"label\":\"Kraainem\",\"name\":\"kraainem\"},{\"label\":\"Linkebeek\",\"name\":\"linkebeek\"},{\"label\":\"Sint-Genesius-Rode\",\"name\":\"sintgenesiusrode\"},{\"label\":\"Wemmel\",\"name\":\"wemmel\"},{\"label\":\"Wezembeek-Oppem\",\"name\":\"wezembeekoppem\"},{\"label\":\"Lennik\",\"name\":\"lennik\"},{\"label\":\"Affligem\",\"name\":\"affligem\"},{\"label\":\"Aarschot\",\"name\":\"aarschot\"},{\"label\":\"Begijnendijk\",\"name\":\"begijnendijk\"},{\"label\":\"Bekkevoort\",\"name\":\"bekkevoort\"},{\"label\":\"Bertem\",\"name\":\"bertem\"},{\"label\":\"Bierbeek\",\"name\":\"bierbeek\"},{\"label\":\"Boortmeerbeek\",\"name\":\"boortmeerbeek\"},{\"label\":\"Boutersem\",\"name\":\"boutersem\"},{\"label\":\"Diest\",\"name\":\"diest\"},{\"label\":\"Geetbets\",\"name\":\"geetbets\"},{\"label\":\"Haacht\",\"name\":\"haacht\"},{\"label\":\"Herent\",\"name\":\"herent\"},{\"label\":\"Hoegaarden\",\"name\":\"hoegaarden\"},{\"label\":\"Holsbeek\",\"name\":\"holsbeek\"},{\"label\":\"Huldenberg\",\"name\":\"huldenberg\"},{\"label\":\"Keerbergen\",\"name\":\"keerbergen\"},{\"label\":\"Kortenaken\",\"name\":\"kortenaken\"},{\"label\":\"Kortenberg\",\"name\":\"kortenberg\"},{\"label\":\"Landen\",\"name\":\"landen\"},{\"label\":\"Leuven\",\"name\":\"leuven\"},{\"label\":\"Lubbeek\",\"name\":\"lubbeek\"},{\"label\":\"Oud-Heverlee\",\"name\":\"oudheverlee\"},{\"label\":\"Rotselaar\",\"name\":\"rotselaar\"},{\"label\":\"Tervuren\",\"name\":\"tervuren\"},{\"label\":\"Tienen\",\"name\":\"tienen\"},{\"label\":\"Tremelo\",\"name\":\"tremelo\"},{\"label\":\"Zoutleeuw\",\"name\":\"zoutleeuw\"},{\"label\":\"Linter\",\"name\":\"linter\"},{\"label\":\"Scherpenheuvel-Zichem\",\"name\":\"scherpenheuvelzichem\"},{\"label\":\"Tielt-Winge\",\"name\":\"tieltwinge\"},{\"label\":\"Glabbeek\",\"name\":\"glabbeek\"},{\"label\":\"Bevekom\",\"name\":\"bevekom\"},{\"label\":\"Eigenbrakel\",\"name\":\"eigenbrakel\"},{\"label\":\"Kasteelbrakel\",\"name\":\"kasteelbrakel\"},{\"label\":\"Chaumont-Gistoux\",\"name\":\"chaumontgistoux\"},{\"label\":\"Court-Saint-Etienne\",\"name\":\"courtsaintetienne\"},{\"label\":\"Genepien\",\"name\":\"genepien\"},{\"label\":\"Graven\",\"name\":\"graven\"},{\"label\":\"Incourt\",\"name\":\"incourt\"},{\"label\":\"Itter\",\"name\":\"itter\"},{\"label\":\"Geldenaken\",\"name\":\"geldenaken\"},{\"label\":\"Terhulpen\",\"name\":\"terhulpen\"},{\"label\":\"Mont-Saint-Guibert\",\"name\":\"montsaintguibert\"},{\"label\":\"Nijvel\",\"name\":\"nijvel\"},{\"label\":\"Perwijs\",\"name\":\"perwijs\"},{\"label\":\"Rixensart\",\"name\":\"rixensart\"},{\"label\":\"Tubeke\",\"name\":\"tubeke\"},{\"label\":\"Villers-la-Ville\",\"name\":\"villerslaville\"},{\"label\":\"Waterloo\",\"name\":\"waterloo\"},{\"label\":\"Waver\",\"name\":\"waver\"},{\"label\":\"Chastre\",\"name\":\"chastre\"},{\"label\":\"Helecine\",\"name\":\"hlcine\"},{\"label\":\"Lasne\",\"name\":\"lasne\"},{\"label\":\"Orp-Jauche\",\"name\":\"orpjauche\"},{\"label\":\"Ottignies-Louvain-la-Neuve\",\"name\":\"ottignieslouvainlaneuve\"},{\"label\":\"Ramillies\",\"name\":\"ramillies\"},{\"label\":\"Rebecq\",\"name\":\"rebecq\"},{\"label\":\"Walhain\",\"name\":\"walhain\"},{\"label\":\"Beernem\",\"name\":\"beernem\"},{\"label\":\"Blankenberge\",\"name\":\"blankenberge\"},{\"label\":\"Brugge\",\"name\":\"brugge\"},{\"label\":\"Damme\",\"name\":\"damme\"},{\"label\":\"Jabbeke\",\"name\":\"jabbeke\"},{\"label\":\"Oostkamp\",\"name\":\"oostkamp\"},{\"label\":\"Torhout\",\"name\":\"torhout\"},{\"label\":\"Zedelgem\",\"name\":\"zedelgem\"},{\"label\":\"Zuienkerke\",\"name\":\"zuienkerke\"},{\"label\":\"Knokke-Heist\",\"name\":\"knokkeheist\"},{\"label\":\"Diksmuide\",\"name\":\"diksmuide\"},{\"label\":\"Houthulst\",\"name\":\"houthulst\"},{\"label\":\"Koekelare\",\"name\":\"koekelare\"},{\"label\":\"Kortemark\",\"name\":\"kortemark\"},{\"label\":\"Lo-Reninge\",\"name\":\"loreninge\"},{\"label\":\"Ieper\",\"name\":\"ieper\"},{\"label\":\"Mesen\",\"name\":\"mesen\"},{\"label\":\"Poperinge\",\"name\":\"poperinge\"},{\"label\":\"Wervik\",\"name\":\"wervik\"},{\"label\":\"Zonnebeke\",\"name\":\"zonnebeke\"},{\"label\":\"Heuvelland\",\"name\":\"heuvelland\"},{\"label\":\"Langemark-Poelkapelle\",\"name\":\"langemarkpoelkapelle\"},{\"label\":\"Vleteren\",\"name\":\"vleteren\"},{\"label\":\"Anzegem\",\"name\":\"anzegem\"},{\"label\":\"Avelgem\",\"name\":\"avelgem\"},{\"label\":\"Deerlijk\",\"name\":\"deerlijk\"},{\"label\":\"Harelbeke\",\"name\":\"harelbeke\"},{\"label\":\"Kortrijk\",\"name\":\"kortrijk\"},{\"label\":\"Kuurne\",\"name\":\"kuurne\"},{\"label\":\"Lendelede\",\"name\":\"lendelede\"},{\"label\":\"Menen\",\"name\":\"menen\"},{\"label\":\"Waregem\",\"name\":\"waregem\"},{\"label\":\"Wevelgem\",\"name\":\"wevelgem\"},{\"label\":\"Zwevegem\",\"name\":\"zwevegem\"},{\"label\":\"Spiere-Helkijn\",\"name\":\"spierehelkijn\"},{\"label\":\"Bredene\",\"name\":\"bredene\"},{\"label\":\"Gistel\",\"name\":\"gistel\"},{\"label\":\"Ichtegem\",\"name\":\"ichtegem\"},{\"label\":\"Middelkerke\",\"name\":\"middelkerke\"},{\"label\":\"Oostende\",\"name\":\"oostende\"},{\"label\":\"Oudenburg\",\"name\":\"oudenburg\"},{\"label\":\"De Haan\",\"name\":\"de_haan\"},{\"label\":\"Hooglede\",\"name\":\"hooglede\"},{\"label\":\"Ingelmunster\",\"name\":\"ingelmunster\"},{\"label\":\"Izegem\",\"name\":\"izegem\"},{\"label\":\"Ledegem\",\"name\":\"ledegem\"},{\"label\":\"Lichtervelde\",\"name\":\"lichtervelde\"},{\"label\":\"Moorslede\",\"name\":\"moorslede\"},{\"label\":\"Roeselare\",\"name\":\"roeselare\"},{\"label\":\"Staden\",\"name\":\"staden\"},{\"label\":\"Dentergem\",\"name\":\"dentergem\"},{\"label\":\"Meulebeke\",\"name\":\"meulebeke\"},{\"label\":\"Oostrozebeke\",\"name\":\"oostrozebeke\"},{\"label\":\"Pittem\",\"name\":\"pittem\"},{\"label\":\"Ruiselede\",\"name\":\"ruiselede\"},{\"label\":\"Tielt\",\"name\":\"tielt\"},{\"label\":\"Wielsbeke\",\"name\":\"wielsbeke\"},{\"label\":\"Wingene\",\"name\":\"wingene\"},{\"label\":\"Ardooie\",\"name\":\"ardooie\"},{\"label\":\"Alveringem\",\"name\":\"alveringem\"},{\"label\":\"De Panne\",\"name\":\"de_panne\"},{\"label\":\"Koksijde\",\"name\":\"koksijde\"},{\"label\":\"Nieuwpoort\",\"name\":\"nieuwpoort\"},{\"label\":\"Veurne\",\"name\":\"veurne\"},{\"label\":\"Aalst\",\"name\":\"aalst\"},{\"label\":\"Denderleeuw\",\"name\":\"denderleeuw\"},{\"label\":\"Geraardsbergen\",\"name\":\"geraardsbergen\"},{\"label\":\"Haaltert\",\"name\":\"haaltert\"},{\"label\":\"Herzele\",\"name\":\"herzele\"},{\"label\":\"Lede\",\"name\":\"lede\"},{\"label\":\"Ninove\",\"name\":\"ninove\"},{\"label\":\"Sint-Lievens-Houtem\",\"name\":\"sintlievenshoutem\"},{\"label\":\"Zottegem\",\"name\":\"zottegem\"},{\"label\":\"Erpe-Mere\",\"name\":\"erpemere\"},{\"label\":\"Berlare\",\"name\":\"berlare\"},{\"label\":\"Buggenhout\",\"name\":\"buggenhout\"},{\"label\":\"Dendermonde\",\"name\":\"dendermonde\"},{\"label\":\"Hamme\",\"name\":\"hamme\"},{\"label\":\"Laarne\",\"name\":\"laarne\"},{\"label\":\"Lebbeke\",\"name\":\"lebbeke\"},{\"label\":\"Waasmunster\",\"name\":\"waasmunster\"},{\"label\":\"Wetteren\",\"name\":\"wetteren\"},{\"label\":\"Wichelen\",\"name\":\"wichelen\"},{\"label\":\"Zele\",\"name\":\"zele\"},{\"label\":\"Assenede\",\"name\":\"assenede\"},{\"label\":\"Eeklo\",\"name\":\"eeklo\"},{\"label\":\"Kaprijke\",\"name\":\"kaprijke\"},{\"label\":\"Maldegem\",\"name\":\"maldegem\"},{\"label\":\"Sint-Laureins\",\"name\":\"sintlaureins\"},{\"label\":\"Zelzate\",\"name\":\"zelzate\"},{\"label\":\"Aalter\",\"name\":\"aalter\"},{\"label\":\"Deinze\",\"name\":\"deinze\"},{\"label\":\"De Pinte\",\"name\":\"de_pinte\"},{\"label\":\"Destelbergen\",\"name\":\"destelbergen\"},{\"label\":\"Evergem\",\"name\":\"evergem\"},{\"label\":\"Gavere\",\"name\":\"gavere\"},{\"label\":\"Gent\",\"name\":\"gent\"},{\"label\":\"Knesselare\",\"name\":\"knesselare\"},{\"label\":\"Lochristi\",\"name\":\"lochristi\"},{\"label\":\"Lovendegem\",\"name\":\"lovendegem\"},{\"label\":\"Melle\",\"name\":\"melle\"},{\"label\":\"Merelbeke\",\"name\":\"merelbeke\"},{\"label\":\"Moerbeke\",\"name\":\"moerbeke\"},{\"label\":\"Nazareth\",\"name\":\"nazareth\"},{\"label\":\"Nevele\",\"name\":\"nevele\"},{\"label\":\"Oosterzele\",\"name\":\"oosterzele\"},{\"label\":\"Sint-Martens-Latem\",\"name\":\"sintmartenslatem\"},{\"label\":\"Waarschoot\",\"name\":\"waarschoot\"},{\"label\":\"Wachtebeke\",\"name\":\"wachtebeke\"},{\"label\":\"Zomergem\",\"name\":\"zomergem\"},{\"label\":\"Zulte\",\"name\":\"zulte\"},{\"label\":\"Kruishoutem\",\"name\":\"kruishoutem\"},{\"label\":\"Oudenaarde\",\"name\":\"oudenaarde\"},{\"label\":\"Ronse\",\"name\":\"ronse\"},{\"label\":\"Zingem\",\"name\":\"zingem\"},{\"label\":\"Brakel\",\"name\":\"brakel\"},{\"label\":\"Kluisbergen\",\"name\":\"kluisbergen\"},{\"label\":\"Wortegem-Petegem\",\"name\":\"wortegempetegem\"},{\"label\":\"Horebeke\",\"name\":\"horebeke\"},{\"label\":\"Lierde\",\"name\":\"lierde\"},{\"label\":\"Maarkedal\",\"name\":\"maarkedal\"},{\"label\":\"Zwalm\",\"name\":\"zwalm\"},{\"label\":\"Beveren\",\"name\":\"beveren\"},{\"label\":\"Kruibeke\",\"name\":\"kruibeke\"},{\"label\":\"Lokeren\",\"name\":\"lokeren\"},{\"label\":\"Sint-Gillis-Waas\",\"name\":\"sintgilliswaas\"},{\"label\":\"Sint-Niklaas\",\"name\":\"sintniklaas\"},{\"label\":\"Stekene\",\"name\":\"stekene\"},{\"label\":\"Temse\",\"name\":\"temse\"},{\"label\":\"Aat\",\"name\":\"aat\"},{\"label\":\"Beloeil\",\"name\":\"beloeil\"},{\"label\":\"Bernissart\",\"name\":\"bernissart\"},{\"label\":\"Brugelette\",\"name\":\"brugelette\"},{\"label\":\"Chievres\",\"name\":\"chivres\"},{\"label\":\"Elzele\",\"name\":\"elzele\"},{\"label\":\"Vloesberg\",\"name\":\"vloesberg\"},{\"label\":\"Frasnes-lez-Anvaing\",\"name\":\"frasneslezanvaing\"},{\"label\":\"Chapelle-lez-Herlaimont\",\"name\":\"chapellelezherlaimont\"},{\"label\":\"Charleroi\",\"name\":\"charleroi\"},{\"label\":\"Ch‰telet\",\"name\":\"chtelet\"},{\"label\":\"Courcelles\",\"name\":\"courcelles\"},{\"label\":\"Farciennes\",\"name\":\"farciennes\"},{\"label\":\"Fleurus\",\"name\":\"fleurus\"},{\"label\":\"Fontaine-l'Evque\",\"name\":\"fontainelevque\"},{\"label\":\"Gerpinnes\",\"name\":\"gerpinnes\"},{\"label\":\"Manage\",\"name\":\"manage\"},{\"label\":\"Montigny-le-Tilleul\",\"name\":\"montignyletilleul\"},{\"label\":\"Pont-a-celles\",\"name\":\"pontcelles\"},{\"label\":\"Seneffe\",\"name\":\"seneffe\"},{\"label\":\"Aiseau-Presles\",\"name\":\"aiseaupresles\"},{\"label\":\"Les Bons Villers\",\"name\":\"les_bons_villers\"},{\"label\":\"Boussu\",\"name\":\"boussu\"},{\"label\":\"Dour\",\"name\":\"dour\"},{\"label\":\"Frameries\",\"name\":\"frameries\"},{\"label\":\"Hensies\",\"name\":\"hensies\"},{\"label\":\"Jurbeke\",\"name\":\"jurbeke\"},{\"label\":\"Lens\",\"name\":\"lens\"},{\"label\":\"Bergen\",\"name\":\"bergen\"},{\"label\":\"Quaregnon\",\"name\":\"quaregnon\"},{\"label\":\"Quievrain\",\"name\":\"quivrain\"},{\"label\":\"Saint-Ghislain\",\"name\":\"saintghislain\"},{\"label\":\"Colfontaine\",\"name\":\"colfontaine\"},{\"label\":\"Honnelles\",\"name\":\"honnelles\"},{\"label\":\"Quevy\",\"name\":\"quvy\"},{\"label\":\"Moeskroen\",\"name\":\"moeskroen\"},{\"label\":\"Komen-Waasten\",\"name\":\"komenwaasten\"},{\"label\":\"'s Gravenbrakel\",\"name\":\"s_gravenbrakel\"},{\"label\":\"Edingen\",\"name\":\"edingen\"},{\"label\":\"La Louviere\",\"name\":\"la_louvire\"},{\"label\":\"Lessen\",\"name\":\"lessen\"},{\"label\":\"Le Roeulx\",\"name\":\"le_roeulx\"},{\"label\":\"Opzullik\",\"name\":\"opzullik\"},{\"label\":\"Zinnik\",\"name\":\"zinnik\"},{\"label\":\"Ecaussinnes\",\"name\":\"ecaussinnes\"},{\"label\":\"Anderlues\",\"name\":\"anderlues\"},{\"label\":\"Beaumont\",\"name\":\"beaumont\"},{\"label\":\"Binche\",\"name\":\"binche\"},{\"label\":\"Chimay\",\"name\":\"chimay\"},{\"label\":\"Erquelinnes\",\"name\":\"erquelinnes\"},{\"label\":\"Froidchapelle\",\"name\":\"froidchapelle\"},{\"label\":\"Lobbes\",\"name\":\"lobbes\"},{\"label\":\"Merbes-le-Ch‰teau\",\"name\":\"merbeslechteau\"},{\"label\":\"Momignies\",\"name\":\"momignies\"},{\"label\":\"Thuin\",\"name\":\"thuin\"},{\"label\":\"Estinnes\",\"name\":\"estinnes\"},{\"label\":\"Ham-sur-Heure-Nalinnes\",\"name\":\"hamsurheurenalinnes\"},{\"label\":\"Morlanwelz\",\"name\":\"morlanwelz\"},{\"label\":\"Sivry-Rance\",\"name\":\"sivryrance\"},{\"label\":\"Antoing\",\"name\":\"antoing\"},{\"label\":\"Celles\",\"name\":\"celles\"},{\"label\":\"Estaimpuis\",\"name\":\"estaimpuis\"},{\"label\":\"Pecq\",\"name\":\"pecq\"},{\"label\":\"Peruwelz\",\"name\":\"pruwelz\"},{\"label\":\"Rumes\",\"name\":\"rumes\"},{\"label\":\"Doornik\",\"name\":\"doornik\"},{\"label\":\"Brunehaut\",\"name\":\"brunehaut\"},{\"label\":\"Leuze-en-Hainaut\",\"name\":\"leuzeenhainaut\"},{\"label\":\"Mont-de-l'Enclus\",\"name\":\"montdelenclus\"},{\"label\":\"Amay\",\"name\":\"amay\"},{\"label\":\"Burdinne\",\"name\":\"burdinne\"},{\"label\":\"Clavier\",\"name\":\"clavier\"},{\"label\":\"Ferrieres\",\"name\":\"ferrires\"},{\"label\":\"Hamoir\",\"name\":\"hamoir\"},{\"label\":\"Heron\",\"name\":\"hron\"},{\"label\":\"Hoei\",\"name\":\"hoei\"},{\"label\":\"Marchin\",\"name\":\"marchin\"},{\"label\":\"Modave\",\"name\":\"modave\"},{\"label\":\"Nandrin\",\"name\":\"nandrin\"},{\"label\":\"Ouffet\",\"name\":\"ouffet\"},{\"label\":\"Verlaine\",\"name\":\"verlaine\"},{\"label\":\"Villers-le-Bouillet\",\"name\":\"villerslebouillet\"},{\"label\":\"Wanze\",\"name\":\"wanze\"},{\"label\":\"Anthisnes\",\"name\":\"anthisnes\"},{\"label\":\"Engis\",\"name\":\"engis\"},{\"label\":\"Tinlot\",\"name\":\"tinlot\"},{\"label\":\"Ans\",\"name\":\"ans\"},{\"label\":\"Awans\",\"name\":\"awans\"},{\"label\":\"Aywaille\",\"name\":\"aywaille\"},{\"label\":\"Bitsingen\",\"name\":\"bitsingen\"},{\"label\":\"Beyne-Heusay\",\"name\":\"beyneheusay\"},{\"label\":\"Chaudfontaine\",\"name\":\"chaudfontaine\"},{\"label\":\"Comblain-au-Pont\",\"name\":\"comblainaupont\"},{\"label\":\"Dalhem\",\"name\":\"dalhem\"},{\"label\":\"Esneux\",\"name\":\"esneux\"},{\"label\":\"Fleron\",\"name\":\"flron\"},{\"label\":\"Herstal\",\"name\":\"herstal\"},{\"label\":\"Juprelle\",\"name\":\"juprelle\"},{\"label\":\"Luik\",\"name\":\"luik\"},{\"label\":\"Oupeye\",\"name\":\"oupeye\"},{\"label\":\"Saint-Nicolas\",\"name\":\"saintnicolas\"},{\"label\":\"Seraing\",\"name\":\"seraing\"},{\"label\":\"Soumagne\",\"name\":\"soumagne\"},{\"label\":\"Sprimont\",\"name\":\"sprimont\"},{\"label\":\"Wezet\",\"name\":\"wezet\"},{\"label\":\"Gr‰ce-Hollogne\",\"name\":\"grcehollogne\"},{\"label\":\"Blegny\",\"name\":\"blgny\"},{\"label\":\"Flemalle\",\"name\":\"flmalle\"},{\"label\":\"Neupre\",\"name\":\"neupr\"},{\"label\":\"Trooz\",\"name\":\"trooz\"},{\"label\":\"Amel\",\"name\":\"amel\"},{\"label\":\"Aubel\",\"name\":\"aubel\"},{\"label\":\"Baelen\",\"name\":\"baelen\"},{\"label\":\"BŸllingen\",\"name\":\"bllingen\"},{\"label\":\"BŸtgenbach\",\"name\":\"btgenbach\"},{\"label\":\"Dison\",\"name\":\"dison\"},{\"label\":\"Eupen\",\"name\":\"eupen\"},{\"label\":\"Herve\",\"name\":\"herve\"},{\"label\":\"Jalhay\",\"name\":\"jalhay\"},{\"label\":\"Kelmis\",\"name\":\"kelmis\"},{\"label\":\"Lierneux\",\"name\":\"lierneux\"},{\"label\":\"Limburg\",\"name\":\"limburg\"},{\"label\":\"Lontzen\",\"name\":\"lontzen\"},{\"label\":\"Malmedy\",\"name\":\"malmedy\"},{\"label\":\"Olne\",\"name\":\"olne\"},{\"label\":\"Pepinster\",\"name\":\"pepinster\"},{\"label\":\"Raeren\",\"name\":\"raeren\"},{\"label\":\"Sankt Vith\",\"name\":\"sankt_vith\"},{\"label\":\"Spa\",\"name\":\"spa\"},{\"label\":\"Stavelot\",\"name\":\"stavelot\"},{\"label\":\"Stoumont\",\"name\":\"stoumont\"},{\"label\":\"Theux\",\"name\":\"theux\"},{\"label\":\"Verviers\",\"name\":\"verviers\"},{\"label\":\"Weismes\",\"name\":\"weismes\"},{\"label\":\"Welkenraedt\",\"name\":\"welkenraedt\"},{\"label\":\"Trois-Ponts\",\"name\":\"troisponts\"},{\"label\":\"Burg-Reuland\",\"name\":\"burgreuland\"},{\"label\":\"Plombieres\",\"name\":\"plombires\"},{\"label\":\"Thimister-Clermont\",\"name\":\"thimisterclermont\"},{\"label\":\"Berloz\",\"name\":\"berloz\"},{\"label\":\"Braives\",\"name\":\"braives\"},{\"label\":\"Crisnee\",\"name\":\"crisne\"},{\"label\":\"Donceel\",\"name\":\"donceel\"},{\"label\":\"Fexhe-le-Haut-Clocher\",\"name\":\"fexhelehautclocher\"},{\"label\":\"Geer\",\"name\":\"geer\"},{\"label\":\"Hannuit\",\"name\":\"hannuit\"},{\"label\":\"Lijsem\",\"name\":\"lijsem\"},{\"label\":\"Oerle\",\"name\":\"oerle\"},{\"label\":\"Remicourt\",\"name\":\"remicourt\"},{\"label\":\"Saint-Georges-sur-Meuse\",\"name\":\"saintgeorgessurmeuse\"},{\"label\":\"Borgworm\",\"name\":\"borgworm\"},{\"label\":\"Wasseiges\",\"name\":\"wasseiges\"},{\"label\":\"Faimes\",\"name\":\"faimes\"},{\"label\":\"As\",\"name\":\"as\"},{\"label\":\"Beringen\",\"name\":\"beringen\"},{\"label\":\"Diepenbeek\",\"name\":\"diepenbeek\"},{\"label\":\"Genk\",\"name\":\"genk\"},{\"label\":\"Gingelom\",\"name\":\"gingelom\"},{\"label\":\"Halen\",\"name\":\"halen\"},{\"label\":\"Hasselt\",\"name\":\"hasselt\"},{\"label\":\"Herk-de-Stad\",\"name\":\"herkdestad\"},{\"label\":\"Leopoldsburg\",\"name\":\"leopoldsburg\"},{\"label\":\"Lummen\",\"name\":\"lummen\"},{\"label\":\"Nieuwerkerken\",\"name\":\"nieuwerkerken\"},{\"label\":\"Opglabbeek\",\"name\":\"opglabbeek\"},{\"label\":\"Sint-Truiden\",\"name\":\"sinttruiden\"},{\"label\":\"Tessenderlo\",\"name\":\"tessenderlo\"},{\"label\":\"Zonhoven\",\"name\":\"zonhoven\"},{\"label\":\"Zutendaal\",\"name\":\"zutendaal\"},{\"label\":\"Ham\",\"name\":\"ham\"},{\"label\":\"Heusden-Zolder\",\"name\":\"heusdenzolder\"},{\"label\":\"Bocholt\",\"name\":\"bocholt\"},{\"label\":\"Bree\",\"name\":\"bree\"},{\"label\":\"Kinrooi\",\"name\":\"kinrooi\"},{\"label\":\"Lommel\",\"name\":\"lommel\"},{\"label\":\"Maaseik\",\"name\":\"maaseik\"},{\"label\":\"Neerpelt\",\"name\":\"neerpelt\"},{\"label\":\"Overpelt\",\"name\":\"overpelt\"},{\"label\":\"Peer\",\"name\":\"peer\"},{\"label\":\"Hamont-Achel\",\"name\":\"hamontachel\"},{\"label\":\"Hechtel-Eksel\",\"name\":\"hechteleksel\"},{\"label\":\"Houthalen-Helchteren\",\"name\":\"houthalenhelchteren\"},{\"label\":\"Meeuwen-Gruitrode\",\"name\":\"meeuwengruitrode\"},{\"label\":\"Dilsen-Stokkem\",\"name\":\"dilsenstokkem\"},{\"label\":\"Alken\",\"name\":\"alken\"},{\"label\":\"Bilzen\",\"name\":\"bilzen\"},{\"label\":\"Borgloon\",\"name\":\"borgloon\"},{\"label\":\"Heers\",\"name\":\"heers\"},{\"label\":\"Herstappe\",\"name\":\"herstappe\"},{\"label\":\"Hoeselt\",\"name\":\"hoeselt\"},{\"label\":\"Kortessem\",\"name\":\"kortessem\"},{\"label\":\"Lanaken\",\"name\":\"lanaken\"},{\"label\":\"Riemst\",\"name\":\"riemst\"},{\"label\":\"Tongeren\",\"name\":\"tongeren\"},{\"label\":\"Wellen\",\"name\":\"wellen\"},{\"label\":\"Maasmechelen\",\"name\":\"maasmechelen\"},{\"label\":\"Voeren\",\"name\":\"voeren\"},{\"label\":\"Aarlen\",\"name\":\"aarlen\"},{\"label\":\"Attert\",\"name\":\"attert\"},{\"label\":\"Aubange\",\"name\":\"aubange\"},{\"label\":\"Martelange\",\"name\":\"martelange\"},{\"label\":\"Messancy\",\"name\":\"messancy\"},{\"label\":\"Bastenaken\",\"name\":\"bastenaken\"},{\"label\":\"Bertogne\",\"name\":\"bertogne\"},{\"label\":\"Fauvillers\",\"name\":\"fauvillers\"},{\"label\":\"Houffalize\",\"name\":\"houffalize\"},{\"label\":\"Vielsalm\",\"name\":\"vielsalm\"},{\"label\":\"Vaux-sur-Sžre\",\"name\":\"vauxsursre\"},{\"label\":\"Gouvy\",\"name\":\"gouvy\"},{\"label\":\"Sainte-Ode\",\"name\":\"sainteode\"},{\"label\":\"Durbuy\",\"name\":\"durbuy\"},{\"label\":\"Erezee\",\"name\":\"ereze\"},{\"label\":\"Hotton\",\"name\":\"hotton\"},{\"label\":\"La Roche-en-Ardenne\",\"name\":\"la_rocheenardenne\"},{\"label\":\"Marche-en-Famenne\",\"name\":\"marcheenfamenne\"},{\"label\":\"Nassogne\",\"name\":\"nassogne\"},{\"label\":\"Rendeux\",\"name\":\"rendeux\"},{\"label\":\"Tenneville\",\"name\":\"tenneville\"},{\"label\":\"Manhay\",\"name\":\"manhay\"},{\"label\":\"Bertrix\",\"name\":\"bertrix\"},{\"label\":\"Bouillon\",\"name\":\"bouillon\"},{\"label\":\"Daverdisse\",\"name\":\"daverdisse\"},{\"label\":\"Herbeumont\",\"name\":\"herbeumont\"},{\"label\":\"Leglise\",\"name\":\"lglise\"},{\"label\":\"Libin\",\"name\":\"libin\"},{\"label\":\"Neufch‰teau\",\"name\":\"neufchteau\"},{\"label\":\"Paliseul\",\"name\":\"paliseul\"},{\"label\":\"Saint-Hubert\",\"name\":\"sainthubert\"},{\"label\":\"Tellin\",\"name\":\"tellin\"},{\"label\":\"Wellin\",\"name\":\"wellin\"},{\"label\":\"Libramont-Chevigny\",\"name\":\"libramontchevigny\"},{\"label\":\"Chiny\",\"name\":\"chiny\"},{\"label\":\"Etalle\",\"name\":\"etalle\"},{\"label\":\"Florenville\",\"name\":\"florenville\"},{\"label\":\"Meix-devant-Virton\",\"name\":\"meixdevantvirton\"},{\"label\":\"Musson\",\"name\":\"musson\"},{\"label\":\"Saint-Leger\",\"name\":\"saintlger\"},{\"label\":\"Tintigny\",\"name\":\"tintigny\"},{\"label\":\"Virton\",\"name\":\"virton\"},{\"label\":\"Habay\",\"name\":\"habay\"},{\"label\":\"Rouvroy\",\"name\":\"rouvroy\"},{\"label\":\"Anhee\",\"name\":\"anhe\"},{\"label\":\"Beauraing\",\"name\":\"beauraing\"},{\"label\":\"Bievre\",\"name\":\"bivre\"},{\"label\":\"Ciney\",\"name\":\"ciney\"},{\"label\":\"Dinant\",\"name\":\"dinant\"},{\"label\":\"Gedinne\",\"name\":\"gedinne\"},{\"label\":\"Hamois\",\"name\":\"hamois\"},{\"label\":\"Havelange\",\"name\":\"havelange\"},{\"label\":\"Houyet\",\"name\":\"houyet\"},{\"label\":\"Onhaye\",\"name\":\"onhaye\"},{\"label\":\"Rochefort\",\"name\":\"rochefort\"},{\"label\":\"Somme-Leuze\",\"name\":\"sommeleuze\"},{\"label\":\"Yvoir\",\"name\":\"yvoir\"},{\"label\":\"Hastiere\",\"name\":\"hastire\"},{\"label\":\"Vresse-sur-Semois\",\"name\":\"vressesursemois\"},{\"label\":\"Andenne\",\"name\":\"andenne\"},{\"label\":\"Assesse\",\"name\":\"assesse\"},{\"label\":\"Eghezee\",\"name\":\"egheze\"},{\"label\":\"Floreffe\",\"name\":\"floreffe\"},{\"label\":\"Fosses-la-Ville\",\"name\":\"fosseslaville\"},{\"label\":\"Gesves\",\"name\":\"gesves\"},{\"label\":\"Mettet\",\"name\":\"mettet\"},{\"label\":\"Namen\",\"name\":\"namen\"},{\"label\":\"Ohey\",\"name\":\"ohey\"},{\"label\":\"Profondeville\",\"name\":\"profondeville\"},{\"label\":\"Sombreffe\",\"name\":\"sombreffe\"},{\"label\":\"Sambreville\",\"name\":\"sambreville\"},{\"label\":\"Fernelmont\",\"name\":\"fernelmont\"},{\"label\":\"Jemeppe-sur-Sambre\",\"name\":\"jemeppesursambre\"},{\"label\":\"La Bruyere\",\"name\":\"la_bruyre\"},{\"label\":\"Gembloux\",\"name\":\"gembloux\"},{\"label\":\"Cerfontaine\",\"name\":\"cerfontaine\"},{\"label\":\"Couvin\",\"name\":\"couvin\"},{\"label\":\"Doische\",\"name\":\"doische\"},{\"label\":\"Florennes\",\"name\":\"florennes\"},{\"label\":\"Philippeville\",\"name\":\"philippeville\"},{\"label\":\"Walcourt\",\"name\":\"walcourt\"},{\"label\":\"Viroinval\",\"name\":\"viroinval\"}],\"database_id\":\"District\",\"source\":\"National registry\",\"required\":true},{\"label\":\"Deceased\",\"name\":\"deceased\",\"type\":\"choice\",\"database_id\":\"deceased\",\"source\":\"National registry\",\"required\":false,\"choices\":[{\"label\":\"Yes\",\"name\":\"yes_18\",\"fields\":[{\"label\":\"Date of Death\",\"name\":\"date_of_death\",\"type\":\"date\",\"database_id\":\"deathDate\",\"source\":\"National registry\",\"required\":false},{\"label\":\"Death Year\",\"name\":\"death_year\",\"type\":\"number\",\"database_id\":\"deathYear\",\"rule\":\"= new Date($['background_data']['identification']['deceased']['yes']['date_of_death']).getFullYear()\",\"read-only\":true},{\"label\":\"Death Month\",\"name\":\"death_month\",\"type\":\"number\",\"database_id\":\"deathMonth + deathYear\",\"rule\":\"= new Date($['background_data']['identification']['deceased']['yes']['date_of_death']).getMonth()\",\"read-only\":true}]},{\"label\":\"No\",\"name\":\"no_22\",\"database_id\":\"deathYear\",\"source\":\"National registry\",\"required\":false}]},{\"label\":\"Order in the family\",\"name\":\"order_in_the_family\",\"type\":\"number\",\"database_id\":\"familyRank\",\"required\":true},{\"label\":\"Country of origin mother\",\"name\":\"country_of_origin_mother\",\"type\":\"choice\",\"choices\":[{\"label\":\"Algeria\",\"name\":\"algeria\"},{\"label\":\"Belgium\",\"name\":\"belgium\"},{\"label\":\"Brazil\",\"name\":\"brazil\"},{\"label\":\"Canada\",\"name\":\"canada\"},{\"label\":\"Chile \",\"name\":\"chile_\"},{\"label\":\"Colombia \",\"name\":\"colombia_\"},{\"label\":\"Denmark\",\"name\":\"denmark\"},{\"label\":\"Germany\",\"name\":\"germany\"},{\"label\":\"Finland\",\"name\":\"finland\"},{\"label\":\"France\",\"name\":\"france\"},{\"label\":\"Luxembourg\",\"name\":\"luxembourg\"},{\"label\":\"Ghana\",\"name\":\"ghana\"},{\"label\":\"Greece\",\"name\":\"greece\"},{\"label\":\"United Kingdom\",\"name\":\"united_kingdom\"},{\"label\":\"Hungary \",\"name\":\"hungary_\"},{\"label\":\"Ireland, Republic of\",\"name\":\"ireland,_republic_of\"},{\"label\":\"Iceland \",\"name\":\"iceland_\"},{\"label\":\"India\",\"name\":\"india\"},{\"label\":\"Iran\",\"name\":\"iran\"},{\"label\":\"Israel\",\"name\":\"israel\"},{\"label\":\"Italy \",\"name\":\"italy_\"},{\"label\":\"South Korea\",\"name\":\"south_korea\"},{\"label\":\"Morocco\",\"name\":\"morocco\"},{\"label\":\"Netherlands\",\"name\":\"netherlands\"},{\"label\":\"Norway\",\"name\":\"norway\"},{\"label\":\"Austria\",\"name\":\"austria\"},{\"label\":\"Pakistan \",\"name\":\"pakistan_\"},{\"label\":\"Panama \",\"name\":\"panama_\"},{\"label\":\"Peru \",\"name\":\"peru_\"},{\"label\":\"Poland \",\"name\":\"poland_\"},{\"label\":\"Portugal\",\"name\":\"portugal\"},{\"label\":\"Spain\",\"name\":\"spain\"},{\"label\":\"Thailand \",\"name\":\"thailand_\"},{\"label\":\"Turkey \",\"name\":\"turkey_\"},{\"label\":\"United States\",\"name\":\"united_states\"},{\"label\":\"Vietnam\",\"name\":\"vietnam\"},{\"label\":\"Sweden\",\"name\":\"sweden\"},{\"label\":\"Switzerland\",\"name\":\"switzerland\"},{\"label\":\"South Africa\",\"name\":\"south_africa\"},{\"label\":\"Congo, dem.rep.of (former Zaire)\",\"name\":\"congo,_demrepof_former_zaire\"},{\"label\":\"Bosnia and herzegovina\",\"name\":\"bosnia_and_herzegovina\"},{\"label\":\"Tunisia \",\"name\":\"tunisia_\"},{\"label\":\"Martinique (overseas department of france)\",\"name\":\"martinique_overseas_department_of_france\"},{\"label\":\"Czech Republic\",\"name\":\"czech_republic\"},{\"label\":\"Lebanon\",\"name\":\"lebanon\"},{\"label\":\"Argentina\",\"name\":\"argentina\"},{\"label\":\"Great Britain\",\"name\":\"great_britain\"},{\"label\":\"Serbia and Montenegro\",\"name\":\"serbia_and_montenegro\"},{\"label\":\"Ukraine\",\"name\":\"ukraine\"},{\"label\":\"Abkhazia \",\"name\":\"abkhazia_\"},{\"label\":\"Afghanistan \",\"name\":\"afghanistan_\"},{\"label\":\"Albania \",\"name\":\"albania_\"},{\"label\":\"Andorra\",\"name\":\"andorra\"},{\"label\":\"Angola\",\"name\":\"angola\"},{\"label\":\"Antigua and Barbuda\",\"name\":\"antigua_and_barbuda\"},{\"label\":\"Armenia\",\"name\":\"armenia\"},{\"label\":\"Australia\",\"name\":\"australia\"},{\"label\":\"Azerbaijan\",\"name\":\"azerbaijan\"},{\"label\":\"The Bahamas \",\"name\":\"the_bahamas_\"},{\"label\":\"Bahrain \",\"name\":\"bahrain_\"},{\"label\":\"Bangladesh \",\"name\":\"bangladesh_\"},{\"label\":\"Barbados\",\"name\":\"barbados\"},{\"label\":\"Belize\",\"name\":\"belize\"},{\"label\":\"Benin \",\"name\":\"benin_\"},{\"label\":\"Bhutan \",\"name\":\"bhutan_\"},{\"label\":\"Bolivia \",\"name\":\"bolivia_\"},{\"label\":\"Botswana \",\"name\":\"botswana_\"},{\"label\":\"Brunei \",\"name\":\"brunei_\"},{\"label\":\"Bulgaria \",\"name\":\"bulgaria_\"},{\"label\":\"Burkina Faso\",\"name\":\"burkina_faso\"},{\"label\":\"Burundi \",\"name\":\"burundi_\"},{\"label\":\"Cambodia \",\"name\":\"cambodia_\"},{\"label\":\"Central African Republic\",\"name\":\"central_african_republic\"},{\"label\":\"China (PRC)\",\"name\":\"china_prc\"},{\"label\":\"Comoros\",\"name\":\"comoros\"},{\"label\":\"Costa Rica\",\"name\":\"costa_rica\"},{\"label\":\"Cuba\",\"name\":\"cuba\"},{\"label\":\"Cyprus\",\"name\":\"cyprus\"},{\"label\":\"Djibouti \",\"name\":\"djibouti_\"},{\"label\":\"Dominica\",\"name\":\"dominica\"},{\"label\":\"Dominican Republic\",\"name\":\"dominican_republic\"},{\"label\":\"Ecuador\",\"name\":\"ecuador\"},{\"label\":\"Egypt\",\"name\":\"egypt\"},{\"label\":\"El Salvador\",\"name\":\"el_salvador\"},{\"label\":\"Equatorial Guinea \",\"name\":\"equatorial_guinea_\"},{\"label\":\"Eritrea\",\"name\":\"eritrea\"},{\"label\":\"Estonia\",\"name\":\"estonia\"},{\"label\":\"Ethiopia\",\"name\":\"ethiopia\"},{\"label\":\"Fiji\",\"name\":\"fiji\"},{\"label\":\"Philippines\",\"name\":\"philippines\"},{\"label\":\"Gabon \",\"name\":\"gabon_\"},{\"label\":\"The Gambia \",\"name\":\"the_gambia_\"},{\"label\":\"Georgia\",\"name\":\"georgia\"},{\"label\":\"Grenada\",\"name\":\"grenada\"},{\"label\":\"Guatemala\",\"name\":\"guatemala\"},{\"label\":\"Guinea-Bissau \",\"name\":\"guineabissau_\"},{\"label\":\"Guyana \",\"name\":\"guyana_\"},{\"label\":\"Haiti \",\"name\":\"haiti_\"},{\"label\":\"Honduras\",\"name\":\"honduras\"},{\"label\":\"Indonesia\",\"name\":\"indonesia\"},{\"label\":\"Iraq\",\"name\":\"iraq\"},{\"label\":\"C™te d'Ivoire\",\"name\":\"cte_divoire\"},{\"label\":\"Jamaica\",\"name\":\"jamaica\"},{\"label\":\"Japan\",\"name\":\"japan\"},{\"label\":\"Yemen\",\"name\":\"yemen\"},{\"label\":\"Jordan\",\"name\":\"jordan\"},{\"label\":\"Yougoslavia\",\"name\":\"yougoslavia\"},{\"label\":\"Cape Verde\",\"name\":\"cape_verde\"},{\"label\":\"Cameroon\",\"name\":\"cameroon\"},{\"label\":\"Kazakhstan\",\"name\":\"kazakhstan\"},{\"label\":\"Kenya \",\"name\":\"kenya_\"},{\"label\":\"Kyrgyzstan\",\"name\":\"kyrgyzstan\"},{\"label\":\"Kiribati\",\"name\":\"kiribati\"},{\"label\":\"Kuwait\",\"name\":\"kuwait\"},{\"label\":\"Croatia\",\"name\":\"croatia\"},{\"label\":\"Laos \",\"name\":\"laos_\"},{\"label\":\"Lesotho\",\"name\":\"lesotho\"},{\"label\":\"Latvia\",\"name\":\"latvia\"},{\"label\":\"Liberia\",\"name\":\"liberia\"},{\"label\":\"Libya \",\"name\":\"libya_\"},{\"label\":\"Liechtenstein\",\"name\":\"liechtenstein\"},{\"label\":\"Lithuania \",\"name\":\"lithuania_\"},{\"label\":\"Macedonia (FYROM)\",\"name\":\"macedonia_fyrom\"},{\"label\":\"Madagascar\",\"name\":\"madagascar\"},{\"label\":\"Malawi \",\"name\":\"malawi_\"},{\"label\":\"Maldives\",\"name\":\"maldives\"},{\"label\":\"Malaysia\",\"name\":\"malaysia\"},{\"label\":\"Mali \",\"name\":\"mali_\"},{\"label\":\"Malta\",\"name\":\"malta\"},{\"label\":\"Marshall Islands \",\"name\":\"marshall_islands_\"},{\"label\":\"Mauritania \",\"name\":\"mauritania_\"},{\"label\":\"Mauritius \",\"name\":\"mauritius_\"},{\"label\":\"Mexico\",\"name\":\"mexico\"},{\"label\":\"Micronesia\",\"name\":\"micronesia\"},{\"label\":\"Moldova\",\"name\":\"moldova\"},{\"label\":\"Monaco \",\"name\":\"monaco_\"},{\"label\":\"Mongolia\",\"name\":\"mongolia\"},{\"label\":\"Mozambique \",\"name\":\"mozambique_\"},{\"label\":\"Myanmar\",\"name\":\"myanmar\"},{\"label\":\"Nagorno-Karabakh\",\"name\":\"nagornokarabakh\"},{\"label\":\"Namibia \",\"name\":\"namibia_\"},{\"label\":\"Nauru\",\"name\":\"nauru\"},{\"label\":\"Nepal\",\"name\":\"nepal\"},{\"label\":\"Nicaragua\",\"name\":\"nicaragua\"},{\"label\":\"New Zealand\",\"name\":\"new_zealand\"},{\"label\":\"Niger \",\"name\":\"niger_\"},{\"label\":\"Nigeria\",\"name\":\"nigeria\"},{\"label\":\"Northern Cypruss\",\"name\":\"northern_cypruss\"},{\"label\":\"North Korea\",\"name\":\"north_korea\"},{\"label\":\"Uganda\",\"name\":\"uganda\"},{\"label\":\"Uzbekistan\",\"name\":\"uzbekistan\"},{\"label\":\"Oman\",\"name\":\"oman\"},{\"label\":\"East Timor\",\"name\":\"east_timor\"},{\"label\":\"Palau \",\"name\":\"palau_\"},{\"label\":\"Palestine\",\"name\":\"palestine\"},{\"label\":\"Papua New Guinea\",\"name\":\"papua_new_guinea\"},{\"label\":\"Paraguay \",\"name\":\"paraguay_\"},{\"label\":\"Qatar \",\"name\":\"qatar_\"},{\"label\":\"Romania\",\"name\":\"romania\"},{\"label\":\"Russia\",\"name\":\"russia\"},{\"label\":\"Rwanda \",\"name\":\"rwanda_\"},{\"label\":\"Western Sahara\",\"name\":\"western_sahara\"},{\"label\":\"Saint Kitts and Nevis\",\"name\":\"saint_kitts_and_nevis\"},{\"label\":\"Saint Lucia \",\"name\":\"saint_lucia_\"},{\"label\":\"Saint Vincent and the Grenadines\",\"name\":\"saint_vincent_and_the_grenadines\"},{\"label\":\"Solomon Islands\",\"name\":\"solomon_islands\"},{\"label\":\"Samoa \",\"name\":\"samoa_\"},{\"label\":\"San Marino \",\"name\":\"san_marino_\"},{\"label\":\"Saudi Arabia\",\"name\":\"saudi_arabia\"},{\"label\":\"S‹o Tome and Principe\",\"name\":\"so_tom_and_principe\"},{\"label\":\"Senegal \",\"name\":\"senegal_\"},{\"label\":\"Seychelles \",\"name\":\"seychelles_\"},{\"label\":\"Sierra Leone \",\"name\":\"sierra_leone_\"},{\"label\":\"Singapore \",\"name\":\"singapore_\"},{\"label\":\"Slovenia\",\"name\":\"slovenia\"},{\"label\":\"Slovakia \",\"name\":\"slovakia_\"},{\"label\":\"Somalia\",\"name\":\"somalia\"},{\"label\":\"Somaliland\",\"name\":\"somaliland\"},{\"label\":\"Sri Lanka \",\"name\":\"sri_lanka_\"},{\"label\":\"Sudan \",\"name\":\"sudan_\"},{\"label\":\"Suriname\",\"name\":\"suriname\"},{\"label\":\"Swaziland \",\"name\":\"swaziland_\"},{\"label\":\"Syria\",\"name\":\"syria\"},{\"label\":\"Tajikistan\",\"name\":\"tajikistan\"},{\"label\":\"Taiwan (ROC)\",\"name\":\"taiwan_roc\"},{\"label\":\"Tanzania \",\"name\":\"tanzania_\"},{\"label\":\"Togo \",\"name\":\"togo_\"},{\"label\":\"Tonga\",\"name\":\"tonga\"},{\"label\":\"Transnistria\",\"name\":\"transnistria\"},{\"label\":\"Trinidad and Tobago\",\"name\":\"trinidad_and_tobago\"},{\"label\":\"Chad\",\"name\":\"chad\"},{\"label\":\"Turkmenistan\",\"name\":\"turkmenistan\"},{\"label\":\"Tuvalu\",\"name\":\"tuvalu\"},{\"label\":\"Uruguay\",\"name\":\"uruguay\"},{\"label\":\"Vanuatu \",\"name\":\"vanuatu_\"},{\"label\":\"Vatican City \",\"name\":\"vatican_city_\"},{\"label\":\"Venezuela \",\"name\":\"venezuela_\"},{\"label\":\"United Arab Emirates \",\"name\":\"united_arab_emirates_\"},{\"label\":\"Belarus\",\"name\":\"belarus\"},{\"label\":\"Zambia\",\"name\":\"zambia\"},{\"label\":\"Zimbabwe\",\"name\":\"zimbabwe\"},{\"label\":\"South Ossetia\",\"name\":\"south_ossetia\"},{\"label\":\"Missing data\",\"name\":\"missing_data\"}],\"database_id\":\"CountryBirthMother\",\"required\":true},{\"label\":\"Country of origin father\",\"name\":\"country_of_origin_father\",\"type\":\"choice\",\"choices\":[{\"label\":\"Algeria\",\"name\":\"algeria\"},{\"label\":\"Belgium\",\"name\":\"belgium\"},{\"label\":\"Brazil\",\"name\":\"brazil\"},{\"label\":\"Canada\",\"name\":\"canada\"},{\"label\":\"Chile \",\"name\":\"chile_\"},{\"label\":\"Colombia \",\"name\":\"colombia_\"},{\"label\":\"Denmark\",\"name\":\"denmark\"},{\"label\":\"Germany\",\"name\":\"germany\"},{\"label\":\"Finland\",\"name\":\"finland\"},{\"label\":\"France\",\"name\":\"france\"},{\"label\":\"Luxembourg\",\"name\":\"luxembourg\"},{\"label\":\"Ghana\",\"name\":\"ghana\"},{\"label\":\"Greece\",\"name\":\"greece\"},{\"label\":\"United Kingdom\",\"name\":\"united_kingdom\"},{\"label\":\"Hungary \",\"name\":\"hungary_\"},{\"label\":\"Ireland, Republic of\",\"name\":\"ireland,_republic_of\"},{\"label\":\"Iceland \",\"name\":\"iceland_\"},{\"label\":\"India\",\"name\":\"india\"},{\"label\":\"Iran\",\"name\":\"iran\"},{\"label\":\"Israel\",\"name\":\"israel\"},{\"label\":\"Italy \",\"name\":\"italy_\"},{\"label\":\"South Korea\",\"name\":\"south_korea\"},{\"label\":\"Morocco\",\"name\":\"morocco\"},{\"label\":\"Netherlands\",\"name\":\"netherlands\"},{\"label\":\"Norway\",\"name\":\"norway\"},{\"label\":\"Austria\",\"name\":\"austria\"},{\"label\":\"Pakistan \",\"name\":\"pakistan_\"},{\"label\":\"Panama \",\"name\":\"panama_\"},{\"label\":\"Peru \",\"name\":\"peru_\"},{\"label\":\"Poland \",\"name\":\"poland_\"},{\"label\":\"Portugal\",\"name\":\"portugal\"},{\"label\":\"Spain\",\"name\":\"spain\"},{\"label\":\"Thailand \",\"name\":\"thailand_\"},{\"label\":\"Turkey \",\"name\":\"turkey_\"},{\"label\":\"United States\",\"name\":\"united_states\"},{\"label\":\"Vietnam\",\"name\":\"vietnam\"},{\"label\":\"Sweden\",\"name\":\"sweden\"},{\"label\":\"Switzerland\",\"name\":\"switzerland\"},{\"label\":\"South Africa\",\"name\":\"south_africa\"},{\"label\":\"Congo, dem.rep.of (former Zaire)\",\"name\":\"congo,_demrepof_former_zaire\"},{\"label\":\"Bosnia and herzegovina\",\"name\":\"bosnia_and_herzegovina\"},{\"label\":\"Tunisia \",\"name\":\"tunisia_\"},{\"label\":\"Martinique (overseas department of france)\",\"name\":\"martinique_overseas_department_of_france\"},{\"label\":\"Czech Republic\",\"name\":\"czech_republic\"},{\"label\":\"Lebanon\",\"name\":\"lebanon\"},{\"label\":\"Argentina\",\"name\":\"argentina\"},{\"label\":\"Great Britain\",\"name\":\"great_britain\"},{\"label\":\"Serbia and Montenegro\",\"name\":\"serbia_and_montenegro\"},{\"label\":\"Ukraine\",\"name\":\"ukraine\"},{\"label\":\"Abkhazia \",\"name\":\"abkhazia_\"},{\"label\":\"Afghanistan \",\"name\":\"afghanistan_\"},{\"label\":\"Albania \",\"name\":\"albania_\"},{\"label\":\"Andorra\",\"name\":\"andorra\"},{\"label\":\"Angola\",\"name\":\"angola\"},{\"label\":\"Antigua and Barbuda\",\"name\":\"antigua_and_barbuda\"},{\"label\":\"Armenia\",\"name\":\"armenia\"},{\"label\":\"Australia\",\"name\":\"australia\"},{\"label\":\"Azerbaijan\",\"name\":\"azerbaijan\"},{\"label\":\"The Bahamas \",\"name\":\"the_bahamas_\"},{\"label\":\"Bahrain \",\"name\":\"bahrain_\"},{\"label\":\"Bangladesh \",\"name\":\"bangladesh_\"},{\"label\":\"Barbados\",\"name\":\"barbados\"},{\"label\":\"Belize\",\"name\":\"belize\"},{\"label\":\"Benin \",\"name\":\"benin_\"},{\"label\":\"Bhutan \",\"name\":\"bhutan_\"},{\"label\":\"Bolivia \",\"name\":\"bolivia_\"},{\"label\":\"Botswana \",\"name\":\"botswana_\"},{\"label\":\"Brunei \",\"name\":\"brunei_\"},{\"label\":\"Bulgaria \",\"name\":\"bulgaria_\"},{\"label\":\"Burkina Faso\",\"name\":\"burkina_faso\"},{\"label\":\"Burundi \",\"name\":\"burundi_\"},{\"label\":\"Cambodia \",\"name\":\"cambodia_\"},{\"label\":\"Central African Republic\",\"name\":\"central_african_republic\"},{\"label\":\"China (PRC)\",\"name\":\"china_prc\"},{\"label\":\"Comoros\",\"name\":\"comoros\"},{\"label\":\"Costa Rica\",\"name\":\"costa_rica\"},{\"label\":\"Cuba\",\"name\":\"cuba\"},{\"label\":\"Cyprus\",\"name\":\"cyprus\"},{\"label\":\"Djibouti \",\"name\":\"djibouti_\"},{\"label\":\"Dominica\",\"name\":\"dominica\"},{\"label\":\"Dominican Republic\",\"name\":\"dominican_republic\"},{\"label\":\"Ecuador\",\"name\":\"ecuador\"},{\"label\":\"Egypt\",\"name\":\"egypt\"},{\"label\":\"El Salvador\",\"name\":\"el_salvador\"},{\"label\":\"Equatorial Guinea \",\"name\":\"equatorial_guinea_\"},{\"label\":\"Eritrea\",\"name\":\"eritrea\"},{\"label\":\"Estonia\",\"name\":\"estonia\"},{\"label\":\"Ethiopia\",\"name\":\"ethiopia\"},{\"label\":\"Fiji\",\"name\":\"fiji\"},{\"label\":\"Philippines\",\"name\":\"philippines\"},{\"label\":\"Gabon \",\"name\":\"gabon_\"},{\"label\":\"The Gambia \",\"name\":\"the_gambia_\"},{\"label\":\"Georgia\",\"name\":\"georgia\"},{\"label\":\"Grenada\",\"name\":\"grenada\"},{\"label\":\"Guatemala\",\"name\":\"guatemala\"},{\"label\":\"Guinea-Bissau \",\"name\":\"guineabissau_\"},{\"label\":\"Guyana \",\"name\":\"guyana_\"},{\"label\":\"Haiti \",\"name\":\"haiti_\"},{\"label\":\"Honduras\",\"name\":\"honduras\"},{\"label\":\"Indonesia\",\"name\":\"indonesia\"},{\"label\":\"Iraq\",\"name\":\"iraq\"},{\"label\":\"C™te d'Ivoire\",\"name\":\"cte_divoire\"},{\"label\":\"Jamaica\",\"name\":\"jamaica\"},{\"label\":\"Japan\",\"name\":\"japan\"},{\"label\":\"Yemen\",\"name\":\"yemen\"},{\"label\":\"Jordan\",\"name\":\"jordan\"},{\"label\":\"Yougoslavia\",\"name\":\"yougosl
[...]
